page-main-contact-list {
    .div_simple_class{
        font-size: 15px;
    color: #333333;
    }

    .list-ios > .item-block:first-child{
        border-top: 0px solid #c8c7cc;
        border-bottom: 0px solid #c8c7cc;
    }
    .list-ios > .item-block:last-child{
        border-top: 0px solid #c8c7cc;
        border-bottom: 0px solid #c8c7cc;
    }
}
