page-write-journal {

    .textcolor1 {
        color: #1897f2;
    }

    .textcolor_normal {
        color: #666666
    }

    .gridDiy{
        height: 40px;
        line-height: 40px;
    }
    .pDiy{
        line-height: 20px;
    }
}
