page-my-apply {

    .redFont{
        color: red;
        font-size: 70%;
    }
    .textCenter{
        font-size: 120%;
        margin-top: 10px;

    }
    .rowStyle{
        height: 100px;
    }
}
