page-new-product-detail {
    .group_bottom{
        border-top:lightgray 0.5px solid;  
        // margin-top:20px;  
    }

    .first_label{
        font-size:85%;
        font-weight:bold;
    }
    .right_label{
        font-size:70%;
        text-align:right;
        color:gray;
    }
    .row_class{
        background-color:white;
    }
}
