page-gongdan-search {
    .div_x{
        width: 100px;
        height: 20px;
        overflow: hidden;
        margin-top: 12px;
    }

    .div_span{
        float: right ;
        color: #8a9399;
        font-size: 110% ;
    }
    .div_span_number{
        float: right ;
        color: #2e3133;
        font-size: 120% ;
        margin-left: 10px
    }

    .sub_header{
        width:40px;
        margin-top:-10px
    }
    .sub_header_p{
        color:white;
        margin-top:-2px;
        font-size:10px;
    }
    .priority_icon{
        width:14px;
        height:14px;
        margin-top:15px;
        margin-left:15px;
    }
    .data_list_state{
        float:right;
        margin-top:15px;
        margin-right:10px;
        color:#fba796;
        font-size:13px;
    }
    .data_list_desprition{
        margin-left:15px;
        margin-right:15px;
        color:gray;
        margin-top:2.5px
    }
    .create_ava{
        width:10px;
        height:10px;
        margin-top:5px;
        margin-left:15px;
    }
    .creater_name{
        font-size:12px;
        color:gray
    }
    .assign_name{
        float:right;
        margin-top:2px;
        margin-right:15px;
        font-size:12px;
        color:gray
    }
    .assign_ava{
        width:12px;
        height:12px;
        margin-top:5px;
        margin-right:8px;
        float:right
    }
    .creater_div{
        margin-bottom:10px;
        margin-top:-2px;
    }

    .item_group_class{
        background:#f0f2f5;
        margin-top:10px;
    }

    .title_class_style{
        font-size: 17px;
        width:70%;
        display: inline-block;
        white-space: nowrap;
        vertical-align: bottom;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
    }
}
