<!--
  Generated template for the NewWorkBenchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="gongdan-color">
    <ion-title>工作台</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<div class="row_class" align-items-center>
    <div class="left_div" align="center" tappable (click)="click_normal()">
      <p [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'normal']">通用</p>
    </div>
    <div class="left_div" align="center" tappable (click)="click_caigou()">
      <p [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'caigou']">通用</p>
    </div>
  </div>-->
  <ion-scroll class="scroll_class" zooming="true" scrollX="true" align-items-center>
        <div class="left_div" align="center" tappable (click)="click_normal()" >
            <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'normal']">通用</span>
        </div>
        <div class="left_div" align="center" tappable (click)="click_caigou()" *ngIf="isShowCG">
            <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'caigou']">采购</span>
        </div>
        <div class="left_div" align="center" tappable (click)="click_cangku()" *ngIf="isShowCK">
          <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'cangku']">仓库</span>
        </div>
        <div class="left_div" align="center" tappable (click)="click_gongcheng()">
            <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'gongcheng']">工程</span>
          </div>
    </ion-scroll>
  <ion-grid *ngIf="inner_type == 'normal'" class="grid_class">
    <div class="header_div_class">
      考勤休假
    </div>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_attendance()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/attendance_fang.png">
          <div class="text_class">
            考勤
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_vacation()" col-3>
        <div *ngIf="vacation_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[vacation_num >= 10]">
          {{vacation_num}}
        </div>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/vacation_fang.png">
          <div class="text_class">
            休假
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_recoup()" col-3>
        <div *ngIf="recoup_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[recoup_num >= 10]">
          {{recoup_num}}
        </div>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/recoup_fang.png">
          <div class="text_class">
            补卡
          </div>
        </div>
      </ion-col>

      <!--<ion-col class="col_class" tappable (click)="click_chuchai()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/chuchai_fang.png">
          <div class="text_class">
            出差
          </div>
        </div>
      </ion-col>-->
    </ion-row>

    <div class="sub_header_div_class">
      财务
    </div>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_baoxiao()" col-3>
        <div *ngIf="bx_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[bx_num >= 10]">
          {{bx_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/bx_img.png">
          <div class="text_class">
            报销
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_shengou()" col-3>
        <div *ngIf="shengou_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[shengou_num >= 10]">
          {{shengou_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/sg_img.png">
          <div class="text_class">
            申购
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_jie()" col-3>
        <div *ngIf="jiekuan_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[jiekuan_num >= 10]">
          {{jiekuan_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/jk_img.png">
          <div class="text_class">
            借款
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_yufu()" col-3>
        <div *ngIf="yufu_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[yufu_num >= 10]">
          {{yufu_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/yz_img.png">
          <div class="text_class">
            预支
          </div>
        </div>
      </ion-col>
      
      
    </ion-row>
    
    <ion-row  class="body_row_class">
      <ion-col  *ngIf='showBaoBiao' class="col_class" tappable (click)="click_baobiao()" col-3>
        <!--<div *ngIf="yufu_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[performance >= 10]">
          {{yufu_num}}
        </div>-->
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/yz_img.png">
          <div class="text_class">
            报表
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_salary()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/salary.png">
          <div class="text_class">
            薪资
          </div>
        </div>
      </ion-col>
    </ion-row>

    <div class="sub_header_div_class">
      工作汇报
    </div>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="toAll()" col-3>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/waitthing.png">
          <div class="text_class">
            待办
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_jixiao()" col-3>
        <div *ngIf="performance > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[performance >= 10]">
          {{performance}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/work_bench/performance_fang.png">
          <div class="text_class">
            绩效
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="inner_type == 'caigou' && isShowCG" class="grid_class">
    
    <div class="header_div_class">
      采购
    </div>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_PO()" col-3>
        <div *ngIf="po_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[po_num >= 10]">
          {{po_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/cg_img.png">
          <div class="text_class">
            订单
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_Pay()" col-3>
        <div *ngIf="pay_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[pay_num >= 10]">
          {{pay_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/cg_fukuan.png">
          <div class="text_class">
            付款
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="inner_type=='cangku' && isShowCK" class="grid_class">
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" col-3 tappable (click)="click_PD()">
      <div class="body_class" align="center">
        <img src="assets/img/cangku.png" class="body_img_class">
        <div class="text_class">
          盘点
        </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="inner_type=='gongcheng'" class="grid_class">
      <ion-row class="body_row_class" align-items-center>
        <ion-col class="col_class" col-3 tappable (click)="click_GC()">
        <div class="body_class" align="center">
          <img src="assets/img/gongcheng.png" class="body_img_class">
          <div class="text_class">
            工程领料
          </div>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>