page-new-work-bench {
    .under_line_style{
    color:#2597ec;
    width:100%;
    height: 40px;
    line-height: 40px;
    border-bottom:#2597ec 3px solid;
    font-size: 14px;
    padding-bottom: 5px;
}

    .normal_style{
        width:60px;
        height: 44px;
        line-height: 37px;
        color:#2597ec;
        font-size: 14px;
    }

    .left_div{
        width: 20%;
        // height: 40px;
        // margin-top: -14px;
        background-color: white;
//   padding: 2px 8px;
  height: 40px;
      display: inline-block;
      margin-top: 5px;
    }

    .header_div_class{
        margin-left: 15px;
        font-weight: bold;
        color: #333333;
        font-size: 15px;
        margin-top: 10px;
        font-family: arial;
    }

    .sub_header_div_class{
            margin-left: 15px;
    font-weight: bold;
    color: #333333;
    font-size: 15px;
    // margin-top: 13px;
    }

    .sub_header_div_class_more{
        margin-left: 15px;
    font-weight: bold;
    color: #333333;
    font-size: 15px;
    // margin-top: 61px;
    }

    .body_img_class{
       width: 35px
    }

    .grid_class{
    }

    .text_class{
        margin-top: 1px;
        font-size: 13px;
        color:#5c6166;
            font-family: arial;
    }

    .row_class{
        border-bottom: solid 1px #f0f2f5;
    }

    .body_row_class{
            margin-left: 15px;
    // border-bottom: solid 1px #f0f2f5;
    height: 80px;
    margin-right: 5px;
    margin-top: 3px;
    }

    .col_class{
        margin-top: -5px;
    }

    .number_class{
            width: 17px;
    height: 17px;
    background-color: red;
    color: white;
    border-radius: 8.5px;
    line-height: 17px;
    position: absolute;
    right: 20px;
    top: -3px;
    font-size: 13px;
        }

    .big_number_class{
            width: 30px;
    height: 17px;
    background-color: red;
    color: white;
    border-radius: 8.5px;
    line-height: 17px;
    position: absolute;
    right: 20px;
    top: -3px;
    font-size: 13px;
        }

    .body_class{
        margin-left: -15px;
    }

    .scroll_class{
    border-bottom: solid 1px #f0f2f5;
    background-color: white;
    height: 44px;
    width: 100%;
    margin-top: -9px;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .new_title_red{
    width: 5px;
    height: 5px;
    background-color: red;
    color: white;
    border-radius: 2.5px;
    line-height: 17px;
    position: absolute;
    top: 17px;
    font-size: 13px;
    margin-left: 28px;
  }
}
