<!--
  Generated template for the NewWorkBenchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="gongdan-color">
    <ion-title>工作台</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<div class="row_class" align-items-center>
    <div class="left_div" align="center" tappable (click)="click_normal()">
      <p [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'normal']">通用</p>
    </div>
    <div class="left_div" align="center" tappable (click)="click_caigou()">
      <p [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'caigou']">通用</p>
    </div>
  </div>-->
  <ion-scroll class="scroll_class" zooming="true" scrollX="true" align-items-center>
    <div class="left_div" align="center" tappable (click)="click_normal()">
      <span align="center" class="new_title_red" *ngIf="vacation_num>0 || recoup_num>0 || performance>0 || bx_num>0 || shengou_num>0 || jiekuan_num>0 || yufu_num>0 || salary_num>0">
          
      </span>
      <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'normal']">通用</span>
    </div>
    <div class="left_div" align="center" tappable (click)="click_renshi()" *ngIf="can_show_hr_menu">
      <span align="center" class="new_title_red" *ngIf="dimission_num>0 || offer_num>0 || adjust_num">
          
      </span>
      <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'renshi']">人事</span>
    </div>
    <div class="left_div" align="center" tappable (click)="click_caigou()" *ngIf="isShowCG">
      <span align="center" class="new_title_red" *ngIf="po_num>0 || pay_num>0 ">
          
      </span>
      <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'caigou']">采购</span>
    </div>
    <div class="left_div" align="center" tappable (click)="click_sale()" *ngIf="isShowSale">
      <span align="center" class="new_title_red" *ngIf="cust_num>0 || hk_cust_num>0">
          
      </span>
      <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'sale']">销售</span>
    </div>
    <div class="left_div" align="center" tappable (click)="click_cangku()" *ngIf="isShowCK">
      <span align="center" class="new_title_red" *ngIf="pandianNum>0">
          
      </span>
      <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'cangku']">仓库</span>
    </div>

    <div class="left_div" align="center" tappable (click)="click_production_manager()" *ngIf="isShowPDM">
      <span align="center" class="new_title_red" *ngIf="intp_num>0">
          
      </span>
      <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'pdmanager']">生管</span>
    </div>
    <div class="left_div" align="center" tappable (click)="click_gongcheng()">
      <span align="center" class="new_title_red" *ngIf="gongchengNum>0">
          
      </span>
      <span [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'gongcheng']">工程</span>
    </div>
  </ion-scroll>

  <ion-grid *ngIf="inner_type == 'normal'" class="grid_class">
    <div class="header_div_class">
      考勤休假
    </div>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_attendance()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/attendance_fang.png">
          <div class="text_class">
            考勤
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_vacation()" col-3>
        <div *ngIf="vacation_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[vacation_num >= 10]">
          {{vacation_num}}
        </div>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/vacation_fang.png">
          <div class="text_class">
            休假
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_recoup()" col-3>
        <div *ngIf="recoup_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[recoup_num >= 10]">
          {{recoup_num}}
        </div>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/recoup_fang.png">
          <div class="text_class">
            补卡
          </div>
        </div>
      </ion-col>


      <!--<ion-col class="col_class" tappable (click)="click_chuchai()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/chuchai_fang.png">
          <div class="text_class">
            出差
          </div>
        </div>
      </ion-col>-->
    </ion-row>

    <div class="sub_header_div_class">
      办公通讯
    </div>

    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_contact()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/employee_infos.png">
          <div class="text_class">
            通讯录
          </div>
        </div>
      </ion-col>
    </ion-row>

    <div class="sub_header_div_class">
      工作汇报
    </div>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="toAll()" col-3>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/waitthing.png">
          <div class="text_class">
            待办
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_jixiao()" col-3>
        <div *ngIf="performance > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[performance >= 10]">
          {{performance}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/work_bench/performance_fang.png">
          <div class="text_class">
            绩效
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_sale_report()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/salary.png">
          <div class="text_class">
            销售业绩
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_daily_report()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/new_daily_report.png">
          <div class="text_class">
            日报
          </div>
        </div>
      </ion-col>
    </ion-row>

    <div class="sub_header_div_class">
      财务
    </div>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_baoxiao()" col-3>
        <div *ngIf="bx_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[bx_num >= 10]">
          {{bx_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/bx_img.png">
          <div class="text_class">
            报销
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_shengou()" col-3>
        <div *ngIf="shengou_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[shengou_num >= 10]">
          {{shengou_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/sg_img.png">
          <div class="text_class">
            申购
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_jie()" col-3>
        <div *ngIf="jiekuan_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[jiekuan_num >= 10]">
          {{jiekuan_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/jk_img.png">
          <div class="text_class">
            借款
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_yufu()" col-3>
        <div *ngIf="yufu_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[yufu_num >= 10]">
          {{yufu_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/yz_img.png">
          <div class="text_class">
            预支
          </div>
        </div>
      </ion-col>


    </ion-row>

    <ion-row class="body_row_class">
      <ion-col *ngIf='showBaoBiao' class="col_class" tappable (click)="click_baobiao()" col-3>
        <!--<div *ngIf="yufu_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[performance >= 10]">
          {{yufu_num}}
        </div>-->
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/yz_img.png">
          <div class="text_class">
            报表
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_salary()" col-3>
        <div *ngIf="salary_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[salary_num >= 10]">
          {{salary_num}}
        </div>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/salary.png">
          <div class="text_class">
            薪资
          </div>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid *ngIf="inner_type == 'caigou' && isShowCG" class="grid_class">

    <!--<div class="header_div_class">
      采购
    </div>-->
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_PO()" col-3>
        <div *ngIf="po_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[po_num >= 10]">
          {{po_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/cg_img.png">
          <div class="text_class">
            订单
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_Pay()" col-3>
        <div *ngIf="pay_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[pay_num >= 10]">
          {{pay_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/cg_fukuan.png">
          <div class="text_class">
            付款
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_Production()" col-3>
        <!--<div *ngIf="pay_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[pay_num >= 10]">
          {{pay_num}}
        </div>-->
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/new_product.png">
          <div class="text_class">
            产品
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="inner_type == 'sale' && isShowSale" class="grid_class">
    <ion-row class="body_row_class" align-items-center>
      
      <ion-col class="col_class" tappable (click)="click_cust_in()" col-3>
        <div *ngIf="cust_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[cust_num >= 10]">
          {{cal_num(cust_num)}}
        </div>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/cust_in.png">
          <div class="text_class">
            内销认领
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_hk_cust_in()" col-3>
        <div *ngIf="hk_cust_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[hk_cust_num >= 10]">
          {{cal_num(hk_cust_num)}}
        </div>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/wxrl.png">
          <div class="text_class">
            外销认领
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_map()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/shop_pic.png">
          <div class="text_class">
            门店
          </div>
        </div>
      </ion-col>
      <ion-col class="col_class" tappable (click)="click_new_customer()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/new_customer.png">
          <div class="text_class">
            客户
          </div>
        </div>
      </ion-col>
      
      <!--<ion-col class="col_class" tappable (click)="click_new_customer()" col-3>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/new_product.png">
          <div class="text_class">
            客户
          </div>
        </div>
      </ion-col>-->
    </ion-row>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_Production_Purchase()" col-3>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/new_product.png">
          <div class="text_class">
            产品
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="inner_type=='cangku' && isShowCK" class="grid_class">
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" col-3 tappable (click)="click_PD()">
        <div *ngIf="pandianNum > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[pandianNum >= 10]">
          {{pandianNum}}
        </div>
        <div class="body_class" align="center">
          <img src="assets/img/cangku.png" class="body_img_class">
          <div class="text_class">
            盘点
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="inner_type=='gongcheng'" class="grid_class">
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" col-3 tappable (click)="click_GC()">
        <div *ngIf="gongchengNum > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[gongchengNum >= 10]">
          {{gongchengNum}}
        </div>
        <div class="body_class" align="center">
          <img src="assets/img/gongcheng.png" class="body_img_class">
          <div class="text_class">
            工程领料
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="inner_type=='renshi' && can_show_hr_menu" class="grid_class">
    <div class="header_div_class" *ngIf="can_show_hmc || can_show_rz || can_show_lz">
      员工管理
    </div>
    <ion-row class="body_row_class" align-items-center *ngIf="can_show_hmc || can_show_rz || can_show_lz">
      <ion-col *ngIf="can_show_hmc" class="col_class" col-3 tappable (click)="click_employee_infos()">
        <div class="body_class" align="center">
          <img src="assets/img/employee_infos.png" class="body_img_class">
          <div class="text_class">
            花名册
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="can_show_rz" class="col_class" col-3 tappable (click)="click_HR_entry()">
        <div class="body_class" align="center">
          <img src="assets/img/new_ruzhi_img.png" class="body_img_class">
          <div class="text_class">
            入职
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="can_show_lz" class="col_class" tappable (click)="click_Dimission()" col-3>
        <div *ngIf="dimission_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[dimission_num >= 10]">
          {{dimission_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/dimission_pic.png">
          <div class="text_class">
            离职审核
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="can_show_adjust_department" class="col_class" tappable (click)="click_adjust_department()" col-3>
        <div *ngIf="adjust_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[adjust_num >= 10]">
          {{adjust_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/adjust_department.png">
          <div class="text_class">
            调动审核
          </div>
        </div>
      </ion-col>
    </ion-row>

    <div class="sub_header_div_class" *ngIf="can_show_rc || isShowManager">
      招聘
    </div>
    <ion-row class="body_row_class" *ngIf="can_show_rc || isShowManager" align-items-center>
      <ion-col class="col_class" col-3 tappable (click)="click_applicant_infos()">
        <div class="body_class" align="center">
          <img src="assets/img/employee_infos.png" class="body_img_class">
          <div class="text_class">
            人才库
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="isShowManager" class="col_class" tappable (click)="click_offer_approve()" col-3>
        <div *ngIf="offer_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[offer_num >= 10]">
          {{offer_num}}
        </div>
        <div class="body_class" align="center">

          <img class="body_img_class" src="assets/img/dimission_pic.png">
          <div class="text_class">
            offer审核
          </div>
        </div>
      </ion-col>
    </ion-row>




  </ion-grid>
  <ion-grid *ngIf="inner_type=='pdmanager'" class="grid_class">
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" col-3 tappable (click)="click_intp()">
        <div *ngIf="intp_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[intp_num >= 10]">
          {{intp_num}}
        </div>
        <div class="body_class" align="center">
          <img src="assets/img/gongcheng.png" class="body_img_class">
          <div class="text_class">
            电商中转单
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>