<!--
  Generated template for the NewWorkBenchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="gongdan-color">
    <ion-title>工作台</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div class="row_class"  align-items-center>
        <div class="left_div" align="center" tappable (click) = "click_normal()">
          <p [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'normal']">通用</p> 
        </div> 
  </div>
  <ion-grid class="grid_class">
    <div class="header_div_class">
      考勤休假
    </div>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_attendance()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/attendance_fang.png">
          <div class="text_class">
            考勤
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_vacation()" col-3>
        <div *ngIf="vacation_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[vacation_num >= 10]" >
            {{vacation_num}}
          </div>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/vacation_fang.png">
          <div class="text_class">
            休假
          </div>
        </div>
      </ion-col>

      <ion-col class="col_class" tappable (click)="click_recoup()" col-3>
        <div *ngIf="recoup_num > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[recoup_num >= 10]">
            {{recoup_num}}
          </div>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/recoup_fang.png">
          <div class="text_class">
            补卡销卡
          </div>
        </div>
      </ion-col>

      <!--<ion-col class="col_class" tappable (click)="click_chuchai()" col-3>
        <div class="body_class" align="center">
          <img class="body_img_class" src="assets/img/work_bench/chuchai_fang.png">
          <div class="text_class">
            出差
          </div>
        </div>
      </ion-col>-->
    </ion-row>

    <div class="sub_header_div_class">
      工作汇报
    </div>
    <ion-row class="body_row_class" align-items-center>
      <ion-col class="col_class" tappable (click)="click_jixiao()" col-3>
        <div *ngIf="performance > 0" align="center" [ngClass]="{true:'big_number_class',false:'number_class'}[performance >= 10]">
            {{performance}}
          </div>
        <div class="body_class" align="center">
          
          <img class="body_img_class" src="assets/img/work_bench/performance_fang.png">
          <div class="text_class">
            绩效
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
