<!--
  Generated template for the EditEmployeeInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="gongdan-color" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()"> 
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>编辑</ion-title>
  </ion-navbar>

</ion-header>


<ion-content (pan)="panEvent($event)">
  <ion-item>
    <ion-label>头像</ion-label>
    <ion-avatar item-end>
      <img *ngIf="image" src={{image}} class="imgStyle" style=" border-radius: 20px;width: 40px;height: 40px;">
    </ion-avatar>
    <!--<img item-end src="assets/img/journal_sheet/right_icon.png" style="height:10px;margin-right:-4px">-->
  </ion-item>
  <ion-item class="item_now_class">
    <ion-label style="color:black">中文名
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-input [(ngModel)]="name" text-right></ion-input>
  </ion-item>

  <ion-item class="item_now_class">
    <ion-label style="color:black"> 英文名 </ion-label>
    <ion-input [(ngModel)]="english_name" text-right></ion-input>
  </ion-item>


  <ion-item class="item_now_class">
    <ion-label style="color:black"> 性别
    </ion-label>
    <ion-label style="margin:0px 0px 0px 0px;text-align:right">
      <ion-checkbox style="float:right" color="gongdan-color" (click)="choose_woman()" [checked]="is_man"></ion-checkbox>
      <span class="span_sex_class">男</span>
    </ion-label>
    <ion-label style="margin:0px 0px 0px 0px;text-align:right">
      <ion-checkbox style="float:right" color="gongdan-color" (click)="choose_woman()" [checked]="!is_man"></ion-checkbox>
      <span class="span_sex_class">女</span>
    </ion-label>
  </ion-item>

  <ion-item class="item_now_class">
    <ion-label style="color:black"> 婚姻状况
    </ion-label>
    <ion-select [(ngModel)]="marital" class="normal-select" okText="确定" cancelText="取消">
      <ion-option *ngFor="let item of marriageList;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item class="item_now_class">
    <ion-label style="color:black">手机
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-input #mNumberCon text-wrap type="number" placeholder="请输入" text-right [(ngModel)]="mobile_phone"></ion-input>
  </ion-item>

  <ion-item class="item_now_class">
    <ion-label style="color:black">身份证号
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-input text-wrap placeholder="请输入" text-right [(ngModel)]="identification_id"></ion-input>
  </ion-item>



  <div class="sub_title_class">
    (请拍摄有效期内身份证正反面)
  </div>

  <ion-grid style="padding-left: 9px;padding-top: 0px;height: 135px;">
    <ion-row>
      <ion-col col-4 *ngIf="imgPhotoPositive" style="position:relative;height:106px;margin-top:5px" (click)="clickPositivePicture(imgPhotoPositive)">

        <img src={{imgPhotoPositive}} style="position:absolute;
          clip:rect(0px,106px,106px,0px);" />
      </ion-col>
      <ion-col col-4 *ngIf="!imgPhotoPositive" tappable (click)="takePositive()" style="margin-top:5px">
        <img src="assets/img/photopositive.png" />
      </ion-col>
      <ion-col col-4 *ngIf="imgPhotoNeagtive" style="position:relative;height:106px;margin-top:5px" (click)="clickNeagtivePicture(imgPhotoNeagtive)">

        <img src={{imgPhotoNeagtive}} style="position:absolute;
          clip:rect(0px,106px,106px,0px);" />
      </ion-col>
      <ion-col col-4 *ngIf="!imgPhotoNeagtive" tappable (click)="takeNegative()" style="margin-top:5px">
        <img src="assets/img/photoneagtive.png" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--紧急联系人-->
  <div class="item_differ_class">
  </div>
  <div class="biaoti" tappable (click)='changeContact()'>
    <div class="shu_class">
    </div>
    <div class="title_class">
      紧急联系人
    </div>
    <ion-icon class="icon_class" item-end name="arrow-up" *ngIf="show_contact" tappable (click)='changeContact();$event.stopPropagation();'></ion-icon>
    <ion-icon class="icon_class" item-end name="arrow-down" *ngIf="!show_contact" tappable (click)='changeContact();$event.stopPropagation();'></ion-icon>
  </div>
  <div class="line_class" *ngIf="show_contact">
  </div>
  <ion-item class="item_now_class" *ngIf="show_contact">
    <ion-label style="color:black">姓名
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-input [(ngModel)]="emergency_contact_name" placeholder="请输入" text-right></ion-input>
  </ion-item>
  <ion-item class="item_now_class" *ngIf="show_contact">
    <ion-label style="color:black">关系
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-select [(ngModel)]="emergency_contact_relation" class="normal-select" okText="确定" cancelText="取消">
      <ion-option *ngFor="let item of relation_list;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
    </ion-select>
    <!--<ion-input [(ngModel)]="emergency_contact_relation" placeholder="请输入" text-right></ion-input>-->
  </ion-item>
  <ion-item class="item_now_class" *ngIf="show_contact">
    <ion-label style="color:black">联系方式
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-input #mNumberCon text-wrap type="number" placeholder="请输入" text-right [(ngModel)]="emergency_contact_way"></ion-input>
  </ion-item>

  <!--岗位-->
  <div class="item_differ_class">
  </div>
  <div class="biaoti" tappable (click)='changeDepartment()'>
    <div class="shu_class">
    </div>
    <div class="title_class">
      岗位信息
    </div>
    <ion-icon class="icon_class" item-end name="arrow-up" *ngIf="show_department" tappable (click)='changeDepartment();$event.stopPropagation();'></ion-icon>
    <ion-icon class="icon_class" item-end name="arrow-down" *ngIf="!show_department" tappable (click)='changeDepartment();$event.stopPropagation();'></ion-icon>
  </div>
  <div class="line_class" *ngIf="show_department">
  </div>
  <ion-item class="item_now_class" *ngIf="show_department" tappable (click)="choose_departments()">
    <ion-label style="color:black"> 部门
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-label item-end style="color:black;text-align:right"> 
      {{deparment_name}}
    </ion-label>
    <!--<ion-select [(ngModel)]="department_id" class="normal-select" okText="确定" cancelText="取消" (ionChange)="department_value_change()">
      <ion-option *ngFor="let item of departmentList;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
    </ion-select>-->
  </ion-item>
  <ion-item class="item_now_class" *ngIf="show_department">
    <ion-label style="color:black"> 岗位
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-select [(ngModel)]="job_id" class="normal-select" okText="确定" cancelText="取消" >
      <ion-option *ngFor="let item of jobChooseList;let i = index;" value={{item.job_id}}>{{item.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="item_now_class" *ngIf="show_department">
    <ion-label style="color:black"> 考勤规则
    </ion-label>
    <ion-select [(ngModel)]="attendance_id" class="normal-select" okText="确定" cancelText="取消">
      <ion-option *ngFor="let item of attendanceList;let i = index;" value={{item.attendance_id}}>{{item.name}}</ion-option>
    </ion-select>
  </ion-item>

  <!--合同信息-->
  <div class="item_differ_class">
  </div>
  <div class="biaoti" tappable (click)='changeHT()'>
    <div class="shu_class">
    </div>
    <div class="title_class">
      合同信息
    </div>
    <ion-icon class="icon_class" item-end name="arrow-up" *ngIf="show_hetong" tappable (click)='changeHT();$event.stopPropagation();'></ion-icon>
    <ion-icon class="icon_class" item-end name="arrow-down" *ngIf="!show_hetong" tappable (click)='changeHT();$event.stopPropagation();'></ion-icon>
  </div>
  <div class="line_class" *ngIf="show_hetong">
  </div>
  <ion-item *ngIf="show_hetong">
    <ion-label style="color:black"> 用工性质
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-select [(ngModel)]="mining_productivity" class="normal-select" okText="确定" cancelText="取消">
      <ion-option *ngFor="let item of mining_productivity_list;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="show_hetong">
    <ion-label style="color:#2e3133;">入职日期
      <span style="color:red;"> *</span>
    </ion-label>
    <ion-datetime cancelText="取消" doneText="确定" min="2000" max="2088" style="color:#5C6166;font-size:14px;margin-right:-6px"
      displayFormat="YYYY-MM-DD" [(ngModel)]="entry_date"></ion-datetime>
    <img item-end src="assets/img/journal_sheet/right_icon.png" style="height:10px;margin-right:-4px">
  </ion-item>
  <ion-item *ngIf="show_hetong">
    <ion-label style="color:black"> 预计转正
      <p style="float: right;line-height: 25px;"> {{probation_date}} </p>
    </ion-label>
    <ion-datetime cancelText="取消" doneText="确定" min="2000" max="2088" style="color:#5C6166;font-size:14px;margin-right:-6px"
      displayFormat="YYYY-MM-DD" [(ngModel)]="ready_zhuanzheng"></ion-datetime>
    <img item-end src="assets/img/journal_sheet/right_icon.png" style="height:10px;margin-right:-4px">

  </ion-item>

  <!--财务-->
  <div class="item_differ_class">
  </div>
  <div class="biaoti" tappable (click)='changeCW()'>
    <div class="shu_class">
    </div>
    <div class="title_class">
      财务信息
    </div>
    <ion-icon class="icon_class" item-end name="arrow-up" *ngIf="show_caiwu" tappable (click)='changeCW();$event.stopPropagation();'></ion-icon>
    <ion-icon class="icon_class" item-end name="arrow-down" *ngIf="!show_caiwu" tappable (click)='changeCW();$event.stopPropagation();'></ion-icon>
  </div>
  <div class="line_class" *ngIf="show_caiwu">
  </div>
  <ion-item class="item_now_class" *ngIf="show_caiwu">
    <ion-label style="color:black">银行卡号
      <span style="color:red;" *ngIf="is_system_salary"> *</span>
    </ion-label>
    <ion-input #mNumberCon text-wrap type="number" placeholder="请输入" text-right [(ngModel)]="bank_card_num"></ion-input>
  </ion-item>
  <ion-item class="item_now_class" *ngIf="show_caiwu">
    <ion-label style="color:black">开户行
    </ion-label>
    <!--<ion-input placeholder="请输入" text-right [(ngModel)]="bank_card_opening_bank"></ion-input>-->
    <ion-select [(ngModel)]="bank_card_opening_bank" class="normal-select" okText="确定" cancelText="取消">
      <ion-option *ngFor="let item of bankList;let i = index;" value={{item.bank_id}}>{{item.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="item_now_class" *ngIf="show_caiwu">
    <ion-label style="color:black">是否从系统发薪
    </ion-label>
    <ion-toggle color="gongdan-color" [(ngModel)]="is_system_salary"></ion-toggle>
  </ion-item>
  <ion-item class="item_now_class" *ngIf="show_caiwu">
    <ion-label style="color:#2e3133;">社保起始月
      <span style="color:red;" *ngIf="is_system_salary"> *</span>
    </ion-label>
    <ion-datetime cancelText="取消" doneText="确定" min="2000" max="2088" style="color:#5C6166;font-size:14px;margin-right:-6px"
      displayFormat="YYYY-MM" [(ngModel)]="fund_start_date"></ion-datetime>
    <img item-end src="assets/img/journal_sheet/right_icon.png" style="height:10px;margin-right:-4px">
  </ion-item>
  <div class="sub_title_class" *ngIf="show_caiwu">
    (请拍摄公司工资卡正面)
  </div>

  <ion-grid style="padding-left: 9px;padding-top: 0px; height:135px;" *ngIf="show_caiwu">
    <ion-col col-4 *ngIf="imgPhotoBank" style="position:relative;height:106px;margin-top:5px" (click)="clickBankPicture(imgPhotoBank)">
      <img src={{imgPhotoBank}} style="position:absolute;clip:rect(0px,106px,106px,0px);" />
    </ion-col>
    <ion-col col-4 *ngIf="!imgPhotoBank" tappable (click)="takeBankPhoto()" style="margin-top:5px">
      <img src="assets/img/add.png" />
    </ion-col>
  </ion-grid>

  <!--附件-->
  <div class="item_differ_class">
  </div>
  <div class="biaoti" tappable (click)='changeFJ()'>
    <div class="shu_class">
    </div>
    <div class="title_class">
      附件
    </div>
    <ion-icon class="icon_class" item-end name="arrow-up" *ngIf="show_fujian" tappable (click)='changeFJ();$event.stopPropagation();'></ion-icon>
    <ion-icon class="icon_class" item-end name="arrow-down" *ngIf="!show_fujian" tappable (click)='changeFJ();$event.stopPropagation();'></ion-icon>
  </div>
  <div class="line_class" *ngIf="show_fujian">
  </div>
  <div class="sub_title_class" *ngIf="show_fujian">
    证书(如学历证书、技能证书等)
  </div>
  <ion-grid style="padding-left: 9px;padding-top: 0px;" *ngIf="show_fujian">
    <ion-row>
      <ion-col col-4 style="position:relative;height:106px;margin-top:5px" *ngFor="let item of zhengshuImgList" on-hold="onHold()"
        (click)="clickZhengshuPicture(item)">

        <img src={{item}} style="position:absolute;
                  clip:rect(0px,106px,106px,0px);" />
      </ion-col>
      <ion-col col-4 tappable (click)="takeZhengshuPhoto()" style="margin-top:5px">
        <img src="assets/img/add.png" />
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer *ngIf="show_footer" style="background-color:#2597ec">
  <button style="background-color:#2597ec;color:white" ion-button full tappable (click)="click_finish()">完成</button>
</ion-footer>
