page-login {
  .total_color {
    background-color:white;
  }

  .div_background{
    background-image: url('../assets/img/bg.png');
  }


  .img_unselect{
    width: 60px;
    height: 60px ;

  }

  .img_select{
    width:60px;
    height: 60px ;
  
  }

  .p_text{
    float: right
  }


}
