page-login {
  .total_color {
    background-color:white;
  }


  .img_unselect{
    width: 70px;
    height: 70px ;

  }

  .img_select{
    width: 100px;
    height: 100px ;
    line-height:13px;

  }
  
}
