<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
  .center_x {
    text-align: center;
  }

</style>


<ion-content class="total_color" (pan)="panEvent($event)">

    <p class="p_heard">专注原创·天生不一样</p>
    <div class="div_middle" (click)='chooseNewJiangsu()'>
      <ion-checkbox class="checkbox_in_middle" color="danger" (click)='chooseNewJiangsu()'  [checked]='isSelected0'></ion-checkbox>
      <span class="span_in_middle" [ngClass]="{'textcolor0':isSelected0}" >新江苏若态</span>
    </div>
    <!--<div class="div_middle" (click)='chooseJiangsu()'>
      <ion-checkbox class="checkbox_in_middle" color="danger" (click)='chooseJiangsu()' [checked]='isSelected1'></ion-checkbox>
      <span class="span_in_middle" [ngClass]="{'textcolor1':isSelected1}" >江苏若态</span>
    </div>-->
    <!--<div class="div_middle" (click)='chooseDiy()'>
      <ion-checkbox class="checkbox_in_middle" color="diy" (click)='chooseDiy()' [checked]='isSelected2'></ion-checkbox>
      <span class="span_in_middle" [ngClass]="{'textcolor2':isSelected2}" >diy艺术屋</span>
    </div>-->
    <!--<div class="div_middle" (click)='chooseWanju()'>
      <ion-checkbox class="checkbox_in_middle" color="gongdan-color" (click)='chooseWanju()' [checked]='isSelected3'></ion-checkbox>
      <span class="span_in_middle" [ngClass]="{'textcolor3':isSelected3}" >若贝尔玩具</span>
    </div>-->
    <div class="div_middle" (click)='chooseBanchang()'>
      <ion-checkbox class="checkbox_in_middle" color="banchang" (click)='chooseBanchang()' [checked]='isSelected4'></ion-checkbox>
      <span class="span_in_middle" [ngClass]="{'textcolor4':isSelected4}" >板厂</span>
    </div>


  <ion-item style="margin-top:30px;padding-left:10%;padding-right:10%">
    <ion-avatar item-left>
      <img style=" width: 31px;
      height: 30px;
      margin-top: 7px;" src={{email_src}}>
    </ion-avatar>
    <ion-input [(ngModel)]="email" placeholder="请输入公司邮箱" (ngModelChange)="watch($event)" type="email"></ion-input>
  </ion-item>



  <ion-item style="padding-left:10%;padding-right:10%">
    <ion-avatar item-left>
      <img style=" width: 31px;
      height: 30px;
      margin-top: 7px;" src={{password_src}}>
    </ion-avatar>
    <ion-input [(ngModel)]="password" placeholder="请输入密码" (ngModelChange)="watchPassword($event)" type="password"></ion-input>
  </ion-item>

  <!-- <ion-item style="margin-top:20px;padding-left:10%;padding-right:10%">
    <ion-label floating>请输入公司邮箱</ion-label>
    <ion-input  [(ngModel)]="email"  (ngModelChange)="watch($event)" type="email" ></ion-input>
  </ion-item>
  <ion-item style="padding-left:10%;padding-right:10%">
    <ion-label floating>请输入密码</ion-label>
    <ion-input [(ngModel)]="password" (ngModelChange)="watchPassword($event)" type="password"></ion-input>
  </ion-item> -->

  <ion-list *ngIf="history_arr" style="position:absolute;z-index:999;width:inherit;margin-top:-60px;width:95%;
    padding-left:23%">
    <ion-item *ngFor='let item of history_arr' tappable (click)="click(item)">
      <p>{{item.email}}</p>
    </ion-item>
    <!--<ion-item tappable (click)="click()">
          <p>candy.guo@robotime.com</p>
        </ion-item>
        <ion-item tappable (click)="click()">
          <p>julia.liu@robotime.com</p>
        </ion-item>-->

  </ion-list>

  <ng-container *ngIf="isDisabled">
    <button id="login_button" ion-button round style="
    margin-left:10%;
  color:white;margin-top:50px ;
  height: 40px;
  border-radius: 20px;
  font-size: 140%;
    width:80%" outline block tappable (click)="getDB()" [ngClass]="{'backgroundcolor0':isSelected0,'backgroundcolor1':isSelected1,'backgroundcolor2':isSelected2,
    'backgroundcolor3':isSelected3,'backgroundcolor4':isSelected4}" disabled>
      登录
    </button>
  </ng-container>

  <ng-container *ngIf="!isDisabled">
    <button id="login_button" round style="
      margin-left:10%;
      height: 40px;
      border-radius: 20px;
    color:white;margin-top:50px ;
    font-size: 140%;
      width:80%" outline block tappable (click)="getDB()" [ngClass]="{'backgroundcolor0':isSelected0,'backgroundcolor1':isSelected1,'backgroundcolor2':isSelected2,
      'backgroundcolor3':isSelected3,'backgroundcolor4':isSelected4}">
      登录
    </button>
  </ng-container>

  <ion-checkbox style="margin-left:14%;border-color: #cccccc ;margin-top:10px;padding-bottom: 2px;" color="danger" *ngIf="isSelected0"
    (click)="isAutoLogin()" [checked]="autoLogin"></ion-checkbox>
  <ion-checkbox style="margin-left:14%;border-color: #cccccc ;margin-top:10px;padding-bottom: 2px;" color="danger" *ngIf="isSelected1"
    (click)="isAutoLogin()" [checked]="autoLogin"></ion-checkbox>
  <ion-checkbox style="margin-left:14%;border-color: #cccccc ;margin-top:10px;padding-bottom: 2px;" color="diy" *ngIf="isSelected2"
    (click)="isAutoLogin()" [checked]="autoLogin"></ion-checkbox>
  <ion-checkbox style="margin-left:14%;border-color: #cccccc ;margin-top:10px;padding-bottom: 2px;" *ngIf="isSelected3" (click)="isAutoLogin()"
    [checked]="autoLogin"></ion-checkbox>
  <ion-checkbox style="margin-left:14%;border-color: #cccccc ;margin-top:10px;padding-bottom: 2px;" color="banchang" *ngIf="isSelected4"
    (click)="isAutoLogin()" [checked]="autoLogin"></ion-checkbox>

  <span style="vertical-align:super;padding-top:3px" [ngClass]="{
    'textcolor_normal':!autoLogin, 'textcolor0':(isSelected0 && autoLogin),
    'textcolor1':(isSelected1 && autoLogin),'textcolor2':(isSelected2 && autoLogin),
    'textcolor3':(isSelected3 && autoLogin),'textcolor4':(isSelected4 && autoLogin)}"> 自动登录</span>


  <ion-checkbox style="margin-left:100px;padding-bottom: 3px;" color="danger" *ngIf="isSelected0" (click)="isRemerberPassword()"
  [checked]="remerberPassword"></ion-checkbox>
  <ion-checkbox style="margin-left:100px;padding-bottom: 3px;" color="danger" *ngIf="isSelected1" (click)="isRemerberPassword()"
    [checked]="remerberPassword"></ion-checkbox>
  <ion-checkbox style="margin-left:100px;padding-bottom: 3px;" color="diy" *ngIf="isSelected2" (click)="isRemerberPassword()"
    [checked]="remerberPassword"></ion-checkbox>
  <ion-checkbox style="margin-left:100px;padding-bottom: 3px;" *ngIf="isSelected3" (click)="isRemerberPassword()" [checked]="remerberPassword"></ion-checkbox>
  <ion-checkbox style="margin-left:100px;padding-bottom: 3px;" color="banchang" *ngIf="isSelected4" (click)="isRemerberPassword()"
    [checked]="remerberPassword"></ion-checkbox>
  <span style="vertical-align:super" [ngClass]="{
    'textcolor_normal': !remerberPassword,
    'textcolor0':isSelected0 && remerberPassword,
    'textcolor1':isSelected1 && remerberPassword,
    'textcolor2':isSelected2 && remerberPassword,
    'textcolor3':isSelected3 && remerberPassword,'textcolor4':isSelected4 &&remerberPassword}"> 记住密码</span>

</ion-content>
