<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
  .center_x {
    text-align: center;
  }

</style>


<ion-content padding class="total_color" (pan)="panEvent($event)">

    <ion-grid  style="margin-top:20px">
      <ion-row style="height:100px;text-align:center;">
        <ion-col col-6 (click)="chooseJiangsu()" style="text-align:center;
        border-right: 1px rgb(196, 196, 196) solid;
        border-bottom: 1px rgb(196, 196, 196) solid;
        " border-right >
          <img src="assets/img/jiangsu.png"  [ngClass]="{true:'img_select',false:'img_unselect'}[isSelected1]" tappable>
          <span>DIY</span>
        </ion-col>
        <ion-col col-6  (click)="chooseDiy()">
          <img src="assets/img/diy.png"  [ngClass]="{true:'img_select',false:'img_unselect'}[isSelected2]" tappable>
        </ion-col>
      </ion-row>
      <ion-row style="height:100px;text-align:center;">
          <ion-col col-6 (click)="chooseJiangsu()" style="text-align:center" >
            <img src="assets/img/jiangsu.png"  [ngClass]="{true:'img_select',false:'img_unselect'}[isSelected1]" tappable>
            <span>DIY</span>
          </ion-col>
          <ion-col col-6  (click)="chooseDiy()">
            <img src="assets/img/diy.png"  [ngClass]="{true:'img_select',false:'img_unselect'}[isSelected2]" tappable>
          </ion-col>
        </ion-row>
    </ion-grid>

  <ion-list style="margin-top:10px">

    <ion-item>
      <ion-label floating>请输入公司邮箱</ion-label>
      <ion-input (ngModelChange)="watch($event)" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>请输入密码</ion-label>
      <ion-input  type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
 
  </ion-list>
  <ion-list *ngIf="history_arr" style="position:absolute;z-index:999;width:inherit;margin-top:-105px;width:95%">
    <ion-item  *ngFor='let item of history_arr' tappable (click)="click(item)">
          <p>{{item.email}}</p>
        </ion-item>
        <!--<ion-item tappable (click)="click()">
          <p>candy.guo@robotime.com</p>
        </ion-item>
        <ion-item tappable (click)="click()">
          <p>julia.liu@robotime.com</p>
        </ion-item>-->
        
  </ion-list>

    <ion-checkbox  style="margin-left:10px;" (click)="isAutoLogin()" [checked]="autoLogin"></ion-checkbox>
    <span style="vertical-align:super"> 自动登录</span>
    <ion-checkbox  style="margin-left:100px;" (click)="isRemerberPassword()" [checked]="remerberPassword"></ion-checkbox>
    <span style="vertical-align:super"> 记住密码</span>
  


  <button id="login_button" ion-button style="background:#438dbd ;color:white ;margin-top:10px" outline block tappable (click)="getDB()">
    登录
  </button>


</ion-content>
