<!--
  Generated template for the IncomingDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gongdan-color">
    <ion-title>{{item.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <div class="div_all">
      <div text-wrap class="div_right"> {{item.parnter_id}} </div>
      <div class="left_label,div_left"> 合作伙伴 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.location_id}} </div>
      <div class="left_label,div_left"> 源位置区域 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.tracking_number}} </div>
      <div class="left_label,div_left"> 快递单号 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.emergency}} </div>
      <div class="left_label,div_left"> 加急 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.min_date}} </div>
      <div class="left_label,div_left"> 安排的日期 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.origin}} </div>
      <div class="left_label,div_left"> 源单据 </div>
    </div>

    <!-- <ion-item>
      <ion-label style="font-size:85%;font-weight:bold">状态</ion-label>
      <ion-label item-end style="font-size:65%;text-align:right;">{{item.state}}</ion-label>
    </ion-item> -->
  </ion-item-group>

  <ion-label   style="background:#f2f2f2;padding-left:16px;padding-top:8px;padding-bottom:8px"> 产品明细</ion-label>

  <ion-item-group *ngFor='let item_detail of item.pack_operation_product_ids;let i = index'>
     <div *ngIf="item_detail.pack_id != -1" padding>
      <div style="font-size:80%"> {{i+1}}.{{item_detail.product_id.name}}</div>
        <span class="span_x" col-3>待入库：{{item_detail.product_qty}}</span>
        <span class="span_x" col-3>完成：{{item_detail.qty_done}}</span>
        <span class="span_x" col-3>不良品：<span style="color:red"> {{item_detail.rejects_qty}} </span></span>
    </div>
</ion-item-group>  
</ion-content>

<ion-footer *ngIf='!isPop' style="background:white">
    <button ion-button full tappable round (click)='toInspectionPage()'>查看品检结果</button>
</ion-footer>
