page-incoming-detail {
    .div_all{
        padding-left:16px;
        padding-top:6px ;
    }

    .div_right{
        float:right;
        font-size:80%;
        width:70%;
        color: #8b8b8b;
        margin-top: 2px;

    }

    .div_left{
        font-size:80%;
        width:30% ;
    }


    .span_x{
        color: #8b8b8b ;
        font-size:80%;
        width: 30%
    }



}
