<!--
  Generated template for the ImproveQuotationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>完善报价单信息页</ion-title>
    <ion-buttons end>
      <button ion-button (click)='save()'>
           保存
          </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- <button ion-item (click)="seleteCustomer()"> 
        <ion-label item-start >客户
        <span style="color:red;"> *</span>
        </ion-label>
        <ion-note item-end >{{customer}}</ion-note>
      </button> -->

  <ion-item>
    <ion-label item-start>发票地址
      <!-- <span style="color:red;"> *</span> -->
    </ion-label>
    <ion-select *ngIf="invoiceAddressList" [(ngModel)]="invoiceAddress">
      <ion-option *ngFor="let item of invoiceAddressList;" value={{item.id}}>{{item.address}}</ion-option>
    </ion-select>
    <ion-label *ngIf="invoiceAddressList" item-end>
      此客户未添加发票地址
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label item-start>送货地址
    </ion-label>
    <ion-select *ngIf="deliveryAddressList" [(ngModel)]="deliveryAddress">
      <ion-option *ngFor="let item of deliveryAddressList;" value={{item.id}}>{{item.address}}</ion-option>
    </ion-select>
    <ion-label *ngIf="deliveryAddressList" item-end>
      此客户未添加送货地址
    </ion-label>
  </ion-item>

  <!-- <ion-item>
    <ion-label>交货规则</ion-label>
    <span style="color:red;"> *</span>
    <ion-select [(ngModel)]="deliveryRuls">
      <ion-option *ngFor="let item of deliveryRulsList;" value={{item[0]}}>{{item[1]}}</ion-option>
    </ion-select>
  </ion-item> -->

  <ion-item>
    <ion-label item-start>PI号码
    </ion-label>
    <ion-input placeholder="请输入PI号码" [(ngModel)]="PINumber" text-right></ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label>税率</ion-label>
    <span style="color:red;"> *</span>
    <ion-select [(ngModel)]="tax">
      <ion-option *ngFor="let item of taxList;" value={{item.id}}>{{item.name}}</ion-option>
    </ion-select>
  </ion-item> -->

  <!-- <ion-item (click)="chooseDate()">
    <ion-label>请选择交货日期</ion-label>
    <span style="color:red;"> *</span>
    <ion-label>{{seleteDate}}</ion-label>
  </ion-item> -->


  <ion-item>
    <ion-label>单据日期</ion-label>
    <ion-datetime displayFormat="DDD DD.MM.YYYY" min="2017" max="2020" [(ngModel)]="myDate" ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>付款条款</ion-label>
    <span style="color:red;"> *</span>
    <ion-select [(ngModel)]="payment">
      <ion-option *ngFor="let item of paymentList;" value={{item.id}}>{{item.name}}</ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label item-start>备注
    </ion-label>
    <ion-input placeholder="请输入订单备注信息" [(ngModel)]="remarks"></ion-input>
  </ion-item>

  <button ion-item (click)="clickDeliveryInfo()">
    <ion-label item-start >送货信息
    <span style="color:red;"> *</span>
  </ion-label>
  </button>

  <button ion-item (click)="clickSalesInfo()">
    <ion-label item-start  >销售信息
    <span style="color:red;"> *</span>
  </ion-label>
  </button>

  <!-- <button ion-item>
    <ion-label item-start (click)="clickBillingInfo()">开票信息
  </ion-label>
  </button> -->

</ion-content>
