page-intp {
    .test_one{
        color:white;
        width:60px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    .test_choose{
        color:white;
        width:60px;
        height: 40px;
        line-height: 40px;
        font-size:14px;
    }

    .main_header_div{
        height: 45px;
    background-color: #2597ec;
    border-bottom: solid 1px lightgray;
    }

    .div_me{
        width:33%;
        float:right;
        text-align:left;
        height: 40px;
    }

    .div_wait{
        width:33%;
        float:right;
        height: 40px;
    }

    .div_approve{
        width:33%;
        float:left;
        text-align:right;
        height: 40px;
        // margin-top: -2px
    }
    .div_approve_ios{
        width:33%;
        float:left;
        text-align:right;
        margin-top: -2px;
        height: 40px;
    }

    .btn_class{
        float: left;
        background-color: #2597ec;
    color: white;
    }

    .searchbar-ios .searchbar-input{
            padding: 0 28px;
    border-radius: 22px;
    height: 3rem;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: white;
    color: gray;
    }

    .searchbar-ios {
  padding: 0 8px;
  min-height: 44px;
  border-top: 0.55px solid transparent;
  background: #2597ec;
  border-bottom: 0px solid rgba(0, 0, 0, 0.05);
}

    .div_header{
        background-color: #2597ec;
        width: 100%;
    }

    .search_class{
        width: 80vw;
        margin-top: 7px;
    }

    .rt_name_class{
        font-size: 80%;
    margin-top: 5px;
    margin-left: 5px;
    line-height: 15px;
    }

    .money_class{
        font-size: 80%;
    color: gray;
    margin-left: 4px;
    margin-top: 5px;
    }

    .department_class{
            font-size: 80%;
    color: gray;
    margin-left: 5px;
    }

    .time_class{
        font-size:70%;
        float:right;
        color:gray;
        margin-top:6px;
    }

    .state_class{
        font-size:70%;
        float:right;
        color:red;
        font-weight:bold;
        margin-top: 3px;
    }

    .item_class{
        margin-top: 10px;
    }

    .item_empty_class{
        margin-top: 1px
    }
}
