page-gongcheng-detail {
    .col_header_class{
        padding-top:17px
    }
    
    .rt_name_class{
        font-size: 85%;
    margin-top: 10px;
    margin-left: 5px;
    line-height: 15px;
    }

    .money_class{
        font-size: 80%;
    color: gray;
    margin-left: 4px;
    margin-top: 5px;
    width: 50%
    }

    .yifa{
        font-size:80%;
        float:right;
        color: gray;
        margin-top: 5px;
    }

    .department_class{
            font-size: 80%;
    color: gray;
    margin-left: 5px;
    }

    .num_class{
        font-size: 80%;
color: #2597ec;
margin-left: 5px;
}

    .time_class{
        font-size:80%;
        float:right;
        color:gray;
        margin-top:5px;
        margin-left: -47px
    }

    .state_class_two{
            margin-left:25px;
            font-size:80%;
            color:#E0540E;
            text-align: center;
    }

    .state_class{
        font-size:70%;
        float:right;
        color:rgb(241, 202, 28);
        font-weight:bold;
        margin-top: 3px;
    }

    .item_class_one{
        margin-top: 10px;
    }

    .item_empty_class{
        margin-top: 1px
    }
    .p_shenhe_line_height_select{
        line-height:40px;
        margin-top: 0px;
        border-bottom: solid 2px #2597ec;
        width: 70px;
        text-align: center;
        // float: left;
        color: #2597ec;
        font-weight: bold;
    }

    .p_shenhe_line_height{
        line-height: 40px;
        margin-top: 0px;
        width: 70px;
        text-align: center;
        // float: left;
        color: gray;
    }

    .p_message_line_height_select{
        line-height:40px;
        margin-top: 0px;
        border-bottom: solid 2px #2597ec;
        width: 70px;
        text-align: center;
        color: #2597ec;
        font-weight: bold;
        margin-right: -50px
    }

    .p_message_line_height{
        line-height: 40px;
        margin-top: 0px;
        width: 70px;
        text-align: center;
        color: gray;
        margin-right: -50px
    }

    .div_me{
        width:50%;
        height: 40px;
        float: left;
    }

    .div_wait{
        width:50%;
        height: 40px;
        float: right;
    }

    .main_header_div{
        height: 45px;
        background-color: white;
        width: 100%;
    }

    
    .middle_item{
        width: 85%;
        margin-left: 10%;
        margin-top: 6px;
        // height:auto;
        border-radius:5px;
    }
   
    ion-col div{
        margin-top: 5px;
    }


/*头部class*/
    .imgHeard{
        border-radius: 20px;
        width: 40px;
        height: 40px;
    }

    .bg_main{
        background:white
    }

    .name_class{
        font-size:80%;
    }

    // .state_class{
    //     margin-left:5px;
    //     font-size:80%;
    //     color:#E0540E;
    //     text-align: center;
    // }
    .right_class{
        font-size:80%;
        float:right;
        color: gray;
        // font-weight:bold;
        margin-top: 3px;
        width: 50%
    }

 
    .order_class{
        float:right;
        font-size:80%;
        width:70%;
        // line-height: 19px;
        color: #333333;
    }

    .left_label{
        font-size:80%;
        width:67px;
        text-align: right;
        color: gray;
        line-height: 19px;
    }

    .item_class{
        height: 30px;
        min-height: 30px;
    }


    .differ_class{
        height: 10px;
        background-color: f0f2f5;
        width: 100%;
    }
    

/*底部class*/
    .footer_class{
        width: 100%;
    }

    .left_btn{
        display: inline-block;
        line-height: 44px;
        width: 50%;
        text-align: center;
        background-color: red;
        color: white;
        float: left;
    }

    .bx_detail_class_two{
        height: 28px;
        line-height: 28px;
        color: #2597ec;
        background-color: white;
        padding-left: 10px;
        font-size: 13px;
        border-bottom: solid 1px #f0f2f5;
    }

    .bx_detail_class{
        height: 28px;
        line-height: 28px;
        color: gray;
        background-color: #f0f2f5;
        padding-left: 10px;
        font-size: 13px;
        margin-top: -20px
    }

    .right_btn{
        line-height: 44px;
        width: 50%;
        color: white;
        text-align: center;
        float: right;
        background-color: #2597ec;
    }

    .item_empty_class{

    }

    .item_10px_class{
        margin-top: 10px;
    }

    /*审批记录class*/
    .user_ava_class{
        width:40px;
        vertical-align:top;
        float:left;
        margin-right:10px;
        border-radius:20px
    }

    .span_employee_class{
        margin-top:3px;
        color:black;
        font-size:80%;
        float:left
    }

    .span_time_class{
        font-size:70%;
        margin-top:5px;
        margin-left:-5px;
        float:right
    }

    .size_class{
        font-size:80%;
    }
}
