page-all-schedule {
  .notfinishState{
    font-size: 13px;
    padding-left: 3px;
    border-style: none;
    border-radius: 5px;
    border-width: 1px;
    padding: 1px 5px;
    color: #5f6163
  }
  .finishState{
   color: #c7cace;
        font-size: 13px;
    padding-left: 3px;
    border-style: none;
    border-radius: 5px;
    border-width: 1px;
    padding: 1px 5px;
  }
  
  .under_line_style{
    color:#2597ec;
    width:100%;
    height: 40px;
    line-height: 40px;
    border-bottom:#2597ec 3px solid;
    font-size: 14px;
    padding-bottom: 5px;
}

.normal_style{
    width:100%;
    height: 40px;
    line-height: 40px;
    color:#2597ec;
    font-size: 14px;
}

.left_div{
  background-color: white;
  padding: 2px 8px;
  height: 40px;
      display: inline-block;
  // float: left;
}
      .header_div_class{
        width: 100%;
        background-color: white;
    }
    .div_class{
      background-color: white;
      border-bottom:#f0f2f5 10px solid;
      padding: 1px
  }
  .searchbar_class{
    width: 70vw;
    margin-left:4vw;
    background-color: #f0f2f5;
}

.searchbar-ios .searchbar-input {
    padding: 0 28px;
    border-radius: 22px;
    height: 3rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
    background-color: #f0f2f5;
    /* background-color: #fff; */
}

.searchbar-ios {
    padding: 0 8px;
    min-height: 44px;
    border-top: 0.55px solid transparent;
    background: white;
    border-bottom: 0px solid rgba(0, 0, 0, 0.05);
}

// .body_class{
  
//     width:100%;
//     height:auto;
//     position:absolute;
   
//     box-sizing:border-box;/*这里改变盒子模型为怪异盒模型，这样padding值不会增加main的高度*/
//     overflow-y:scroll;

// }

  .choose_people_div{
    // position: fixed;
    z-index: 99;
    background: white;
    width: 100%;
    box-shadow: 1px 10px 30px lightgrey;
  }

  .gou_class{
    display: inline-block;
    height: 100%;
    width: 50px;
    text-align: center;
    font-size: 15px;
    color: #2597ec;
  }

  .gou_class_un_choose{
    display: inline-block;
    height: 100%;
    width: 50px;
    text-align: center;
    font-size: 15px;
    color: white;
  }

  .me_p_class{
        display: inline-block;
    width: calc(100% - 60px);
    height: 38px;
    border-bottom: solid 1px #f0f2f5;
    line-height: 26px;
  }

  .team_p_class{
    width: calc(100% - 60px);
    display:inline-block
  }

  .team_btn_class{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 44px;
    background: #2597ec;
    color: white;
    text-align: center;
    line-height: 44px;
    font-size: 15px;
  }

  .before_class{
          color: #409eff;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    font-size: 12px;
    padding: 1px 5px;
    margin-top: 0px;
    margin-left: 20px;
  }
  .after_class{
    font-size: 13px;
    padding-left: 3px;
    border-style: none;
    border-radius: 5px;
    border-width: 1px;
    padding: 1px 5px;
  }

  .bottom_class{
      margin-left: 20px;
    font-size: 13px;
    color: #c7cace;
    margin-top: 14px;
  }

  .scroll_class{
    border-bottom: solid 1px #f0f2f5;
    background-color: white;
    height: 44px;
    width: 100%;
    margin-top: -9px;
    white-space: nowrap;
    overflow-x: hidden;
  }
}
