page-all-schedule {
  .notfinishState{
    margin-left: 25px;
    margin-top: 0px;
    padding-top: 10px;
    color: #5f6163
  }
  .finishState{
    margin-left: 25px;
    margin-top: 0px;
    padding-top: 10px;
    color: #c7cace
  }
  
  .under_line_style{
    color:#2597ec;
    width:100%;
    height: 40px;
    line-height: 40px;
    border-bottom:#2597ec 3px solid;
    font-size: 14px;
}

.normal_style{
    width:100%;
    height: 40px;
    line-height: 40px;
    color:#2597ec;
    font-size: 14px;
}

.left_div{
  background-color: white;
  padding: 2px 8px;
  height: 40px;
  float: left;
}
      .header_div_class{
        width: 100%;
        background-color: #f0f2f5;
    }
    .div_class{
      height: 75px;
      background-color: white;
      border-bottom:#f0f2f5 10px solid;
  }
  .searchbar_class{
    width: 92vw;
    margin-left:4vw;
    background-color: #f0f2f5;
}
}
