page-journal-sheet {

    .dividingLine {
        height: 10px;
        width: 100%;
      }

    .writebackgroud {
        background: #ffffff;
        height: 30%;
        width: 100%;
    }
    
    .textcolor1 {
        color: #1897f2
    }

    .textcolor_normal {
        color: #8a9199
    }
}
