page-baoxiao-apply {
    .normal-select{
        white-space: normal;
    }
    ion-item ion-label{
        color: black ;
    }

    .detail_div{
        height:20px;
        border-bottom:lightgray 1px solid;
        overflow:hidden;
    }
}
