page-attendance-recoup-detail-edit {
    .item_class{
        min-height: 50px;
        height: 50px;
    }
    
    .textarea_title{
            line-height: 40px;
    padding-left: 20px;
    font-size: 106%;
    }

    .textarea_class{
        height: 150px;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: -13px;
    color: gray;
    }

    .normal_select{
        font-size: 80%;
    }
}
