page-create-shop-contact {
    .bg_class{
            margin-top: 10px;
    background-color: white;
    }

    .record_class{
           margin-left: 16px;
    padding-top: 15px;
    font-size: 15px; 
    }

    .item_now_class{
      min-height: 45px;
      height: 45px;
    }


    .label_class{
        color:#333333;font-size: 15px;
    }

    .p_class{
        float: right;
        // line-height: 25px;
        font-size: 15px;
        color: #333333;
    }
}
