page-approve-order {
ion-item p {
    font-size: 75%;
  }
 
  .totalStyleRight {
    float: right;
    color: #1e1e1e;
    font-weight: bold;
    font-size: 70%;
  }

  .progress_x{
    float: right;
    width: 100px;
    height: 5px;
    margin-right: 20px;
    margin-top: 7px;
  }
}
