<!--
  Generated template for the KaoqinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header id="header" no-border>

    <ion-navbar color="gongdan-color" hideBackButton="true">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    <ion-title *ngIf="isWrite">考勤</ion-title>
    <ion-title *ngIf="isLook && !is_show_tongji">我的</ion-title>
    <ion-buttons right>
            <button ion-button icon-only (click)="location()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    <div align="center" style="height:30px;" *ngIf="isLook && is_show_tongji">
        <div style="width:33%;float:right;text-align:left" [ngClass]="{true:'test_choose',false:'test_one'}[show_type == 'month']" align="center" tappable (click)="click_month()">
        月统计
        </div>
        <div style="width:33%;float:right" [ngClass]="{true:'test_choose',false:'test_one'}[show_type == 'day']" align="center" tappable (click)="click_day()">
        日统计
        </div>
        <div style="width:33%;float:left;text-align:right" [ngClass]="{true:'test_choose',false:'test_one'}[show_type == 'me']" align="center" tappable (click)="click_me()">
        我的
        </div> 
    </div>
  </ion-navbar>
  <ion-backdrop *ngIf="isShowOnAlert || isShowOffAlert" style="opacity: 0.6;">       
  </ion-backdrop>
</ion-header>


<div class="backdrop-div" >

    
    
</div>
<ion-content style="background:#f0f2f5">
  <ion-backdrop *ngIf="isShowOnAlert || isShowOffAlert || isShowFail || isShowFail_Three" disable-activated role="presentation" tappable style="opacity: 0.6; transition-delay: initial; transition-property: none;">       
  </ion-backdrop>
  <div *ngIf="isShowOnAlert" class="alert_div" style="opacity: 1.0;">
    <div class="alert_p">
      <div class="alert_icon_class"></div>
      <span style="font-size: 18px;margin-top: 9px;margin-left: 5px;">打卡成功</span>
    </div> 
    <div class="alert_center_div">
      <h2 class="alert_h2_class">{{show_date_str}}</h2>
      <p class="alert_p_class">上班</p>
    </div>  
    <div tappable (click)="clickCancel()" class="alert_btn">
      知道了
    </div>    
  </div>
  <div *ngIf="isShowOffAlert" class="alert_div_off" style="opacity: 1.0;">
    <div class="alert_p">
      <div class="alert_icon_class"></div>
      <span style="font-size: 18px;margin-top: 9px;margin-left: 5px;">打卡成功</span>
    </div>  
    <div class="alert_center_div_off">
      <h2 class="alert_h2_class_off">{{show_date_str}}</h2>
      <p class="alert_p_class_off">下班</p>
    </div>  
    <div tappable (click)="clickCancel()" class="alert_btn">
      知道了
    </div>    
  </div>
  <div *ngIf="isShowFail" class="alert_div_fail" style="opacity: 1.0;">
    <img style="width:110px;height:110px;margin-top:30px;" src="assets/img/fail_icon.png" />    
    <p style="color:black;font-size:20px">签到失败</p>
    <p style="color:gray;font-size:14px;margin-top:-16px">{{fail_str}}</p>
    <div tappable (click)="clickCancel()" class="alert_btn_fail">
      继续尝试
    </div>    
  </div>
  <div *ngIf="isShowFail_Three" class="alert_div_fail_three" style="opacity: 1.0;">
    <img style="width:110px;height:110px;margin-top:30px;" src="assets/img/fail_icon.png" />    
    <p style="color:black;font-size:20px">签到失败</p>
    <p style="color:gray;font-size:14px;margin-top:-16px">{{fail_str}}</p>   
    <div class="alert_btn_fail">
      <!--<span style="text-align:center">我知道了</span><span style="text-align:center;color:#409eff">位置签到</span>-->
      <div tappable (click)="clickCancel()" style="width:50%;float:left;text-align:center;color:lightgray">继续尝试</div><div tappable (click)="click_location()" style="width:50%;float:right;text-align:center;color:#409eff">位置签到</div>
    </div>    
  </div>
  <div *ngIf="isWrite">
    <ion-item no-lines style="height:40px;min-height:50px;margin-top:-9px;border-bottom: #f0f2f5 1px solid;">
    <ion-grid style="background:white">
      <ion-row>
        <ion-col col-2>
          <img src={{user_ava}} class="img_message_ava">
        </ion-col>
        <ion-col col-7 >
          <p *ngIf="items" class="name_message">
            <span style="color:black">{{user_name}}</span><span style="margin-left:10px"><span>今天已打卡</span><span style="color:#1897f2">{{attendance_count}}</span><span>次</span></span>
          </p>
          <p *ngIf="!items" class="name_message">
            <span style="color:black">{{user_name}}</span><span style="margin-left:10px">今天未打卡</span>
          </p>
        </ion-col>
        <!--<ion-col col-3 tappable (click)="reply_to(items)">
          <img src="assets/img/work_bench/feedback.png" class="reply_small_icon">
        </ion-col>-->
      </ion-row>
    </ion-grid>
  </ion-item>
  <div class="header_class">
    <div id="divClass" class="divClass">
    </div>
    <ul *ngFor="let item of items;let i = index">
      <li *ngIf="item.check_out" [ngClass]="{true:'li_class',false:'li_class'}[i == 0]">
                <span [ngClass]="{true:'time_type_li_class',false:'time_type_li_class'}[i == 0]">下班</span>

        <span [ngClass]="{true:'time_li_class',false:'time_li_class'}[i == 0]">{{calcEnd(item)}}</span>
        <span *ngIf="!item.is_location_off" class="time_company_class">{{item.company_off_name}}</span>
        <!--<span class="time_company_class_delete_attendance" tappable (click)="update_attendance(item)">更新打卡 ></span>-->

        <div *ngIf="item.is_location_off" class="time_company_class">
          <img style="width:15px;margin-top:4px" src="assets/img/daka_location.png"/><p style=" margin-top: -20px;margin-left: 18px">{{item.company_off_name}}<p>
        </div>
        <ion-grid *ngIf="item.attendance_off_ids" style="margin-top:-20px;margin-left:-10px">
          <ion-row style="margin-right:5px;">
            <ion-col style="height:80px" *ngFor="let image of item.attendance_off_ids" col-3>
              <img src={{image}} style="position:absolute;clip:rect(0px,70px,70px,0px);background-color:#f0f2f5" imageViewer/>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
      <li *ngIf="item.check_in" [ngClass]="{true:'li_class',false:'li_class'}[!item.check_out && i == 0]">
                <span [ngClass]="{true:'time_type_li_class',false:'time_type_li_class'}[!item.check_out && i == 0]" class="">上班</span>

          <span [ngClass]="{true:'time_li_class',false:'time_li_class'}[!item.check_out && i == 0]">{{calcStart(item)}}</span>
        <span *ngIf="!item.is_location_on" class="time_company_class">{{item.company_name}}</span>
        <!--<span class="time_company_class_delete_attendance" tappable (click)="update_attendance(item)">更新打卡 ></span>-->
        <div *ngIf="item.is_location_on" class="time_company_class">
          <img style="width:15px;margin-top:-5px" src="assets/img/daka_location.png"/>
          <span style="margin-top:-6px;margin-left:-1px">{{item.company_name}}</span>
        </div>
        <ion-grid *ngIf="item.attendance_on_ids" style="margin-top:-5px;margin-left:-10px;">
          <ion-row style="margin-right:5px;">
            <ion-col style="height:80px" *ngFor="let image of item.attendance_on_ids" col-3>
              <img src={{image}} style="position:absolute;clip:rect(0px,70px,70px,0px);background-color:#f0f2f5" imageViewer/>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
    </ul>
  </div>
  <!--<div class="buttom_divider">
  </div>-->
  <div class='buttom_div'>
     <div class='text_class'></div> 
    <div *ngIf="isShowActive">
      <div [ngClass]="{true:'left_circle_inactive',false:'left_circle'}[has_start]"  tappable (click)="start_work()">上班</div>
      <div class='right_circle' tappable (click)="end_work()">下班</div>
    </div>
    <div *ngIf="!isShowActive">
      <div class='left_circle_inactive' >上班</div>
      <div class='right_circle_inactive' >下班</div>
    </div>
  </div> 
  </div>
  
  <div *ngIf="isLook">
    <div *ngIf="show_type == 'me'">
    <ion-item no-lines style="height:40px;min-height:50px;margin-top:-9px;border-bottom: #f0f2f5 1px solid;">
    <ion-grid style="background:white">
      <ion-row>
        <!--<ion-col col-2>
          <img src={{user_ava}} class="img_message_ava">
        </ion-col>
        <ion-col col-2 >
          <p class="name_message">
            <span style="color:black;font-size:12px">{{user_name}}</span>
          </p>
        </ion-col>-->
        <ion-col col-3 >
          <p class="chidao_class">
            <span class="circleOrangeBig">
              
            </span>
            <span style="color:black;font-size:14px">迟到{{attendance_data.calc_late.length}}次</span>
          </p>
        </ion-col>
        <ion-col col-7 >
          <p class="queqin_class">
            <span class="circleRedBig">
              
            </span>
            <span style="color:black;font-size:14px">缺勤{{attendance_data.lose_work_day}}h</span>
          </p>
        </ion-col>
        <ion-col col-3>
          <p class="month_message">
            <span tappable (click)="delete_month()">{{"<"}}</span><span style="margin-left:10px">{{currentDate}}</span><span style="margin-left:10px" tappable (click)="add_month()">{{">"}}</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div class="box-flex" >  
    
      <div class="flex-item">  
        <div class="item-content-header">一</div>  
      </div>  
      <div class="flex-item">  
        <div class="item-content-header">二</div>  
      </div>  
      <div class="flex-item">  
        <div class="item-content-header">三</div>  
      </div>  
      <div class="flex-item">  
        <div class="item-content-header">四</div>  
      </div>  
      <div class="flex-item">  
        <div class="item-content-header">五</div>  
      </div>  
      <div class="flex-item">  
        <div class="item-content-header">六</div>  
      </div>  
       <div class="flex-item">  
        <div class="item-content-header">日</div>  
      </div> 
    </div>
    <div class="box-flex" style='margin-top:-20px;padding-bottom: 10px;'>  <!--style='border:#dedede 1px solid;background-color:#f9f9f9' -->
      <div id= "flex-item" align='center' class="flex-item" *ngFor="let vo of currentDayList">  
        <!--<div class="item-content bk-color-day"  style='line-height:30px'>{{vo.d}}
          </div>  -->
        <div id="item-content" tappable (click)="choose_day(vo)" [ngClass]="{true:'item-content bk-color-day',false:'item-content'}[currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y]" style="line-height:38px;height:48px;width:48px;">
            <p style="height: 16px;margin-top: -3px;margin-left: -1px;" [ngClass]="{'pBac':currentMonth == vo.m && currentYear == vo.y,'pBacNormal':currentMonth != vo.m,'pNormal':currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y}">{{vo.d}}</p>
                    <p *ngIf='vo.d > 0' style="margin-top: -15px;">
                      <span *ngIf='vo.is_queqin' class="circleRed">
                      </span>
                      <span *ngIf='vo.is_late' class="circleOrange">
                      </span>
                      <span *ngIf='!vo.is_late && !vo.is_queqin' class="circleWhite">
                      </span>
            </p>
        </div>      
        
      </div> 
    </div>
    <!--<div class='buttom_divider'>
    </div>  -->
    <div style="background:black;width:100%;height:100%">
      <div class="bottom_class">
    <div id="divClass" class="divClass">
    </div>
    <ul *ngFor="let item of items_day">
      <li *ngIf="item.check_out" [ngClass]="{true:'li_class',false:'li_class'}[i == 0]">
        <span [ngClass]="{true:'time_type_li_class',false:'time_type_li_class'}[i == 0]">下班</span>
        <span [ngClass]="{true:'time_li_class',false:'time_li_class'}[i == 0]">{{calcEnd(item)}}</span>
        <span *ngIf="!item.is_location_off" class="time_company_class">{{item.company_off_name}}</span>
        <!--<span class="time_company_class_delete_attendance" tappable (click)="update_attendance(item)">更新打卡 ></span>-->

        <div *ngIf="item.is_location_off" class="time_company_class">
          <img style="width:15px;margin-top:4px" src="assets/img/daka_location.png"/><p style=" margin-top: -20px;margin-left: 18px">{{item.company_off_name}}<p>
        </div>
        <ion-grid *ngIf="item.attendance_off_ids" style="margin-top:-20px;margin-left:-10px">
          <ion-row style="margin-right:5px;">
            <ion-col style="height:80px" *ngFor="let image of item.attendance_off_ids" col-3>
              <img src={{image}} style="position:absolute;clip:rect(0px,70px,70px,0px);background-color:#f0f2f5" imageViewer/>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
      <li *ngIf="item.check_in" [ngClass]="{true:'li_class',false:'li_class'}[!item.check_out && i == 0]">
            <span [ngClass]="{true:'time_type_li_class',false:'time_type_li_class'}[!item.check_out && i == 0]" class="">上班</span>
          <span [ngClass]="{true:'time_li_class',false:'time_li_class'}[!item.check_out && i == 0]">{{calcStart(item)}}</span>
        <span *ngIf="!item.is_location_on" class="time_company_class">{{item.company_name}}</span>
        <!--<span class="time_company_class_delete_attendance" tappable (click)="update_attendance(item)">更新打卡 ></span>-->

        <div *ngIf="item.is_location_on" class="time_company_class">
          <img style="width:15px;margin-top:-5px" src="assets/img/daka_location.png"/>
          <span style="margin-top:-6px;margin-left:-1px">{{item.company_name}}</span>
        </div>
        <ion-grid *ngIf="item.attendance_on_ids" style="margin-top:-5px;margin-left:-10px;">
          <ion-row style="margin-right:5px;">
            <ion-col style="height:80px" *ngFor="let image of item.attendance_on_ids" col-3>
              <img src={{image}} style="position:absolute;clip:rect(0px,70px,70px,0px);background-color:#f0f2f5" imageViewer/>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
    </ul>
  </div>
    </div>
    </div>
    <div *ngIf="show_type == 'day'">
      <ion-item no-lines style="height:40px;min-height:50px;margin-top:-9px;border-bottom: #f0f2f5 1px solid;">
    <ion-grid style="background:white">
      <ion-row>
        <ion-col col-7 >
          <p class="name_message">
            <span style="color:black;margin-left:20px">考勤人数 {{total_employees}} 人</span>
          </p>
        </ion-col>
        <ion-col col-2>
          <!--<img src={{user_ava}} class="img_message_ava">-->
        </ion-col>
        <ion-col col-3>
          <p class="month_message">
            <span tappable (click)="delete_day()">{{"<"}}</span><span style="margin-left:10px">{{currentDate_day}}</span><span style="margin-left:10px" tappable (click)="add_day()">{{">"}}</span>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
    <div style='width:100%;height:120px;background:white'>
      <div style='width:50%;height:100%;float:left' tappable (click)="click_un_attendance()">
        <div style='width:100%;text-align:center;font-size:30px;color:#1897f2;margin-top:25px'>
          {{total_employees - is_attendance}}
        </div>
        <div style='width:100%;text-align:center;color:#c2c7cc'>
          未打卡
        </div>
        <div class='day_divClass'>
        </div>
      </div>
      <div style='width:50%;height:100%;float:right' tappable (click)="click_attendance()">
         <div style='width:100%;text-align:center;font-size:30px;color:#5c6166;margin-top:25px'>
          {{is_attendance}}
        </div>
        <div style='width:100%;text-align:center;color:#c2c7cc'>
          已打卡
        </div>
      </div>
    </div> 
    </div>
</div>



</ion-content>

<ion-footer id="footer">
  <ion-backdrop *ngIf="isShowOnAlert || isShowOffAlert" style="opacity: 0.6;">       
  </ion-backdrop>
    <div style="background:#f8f8f8;height:53px;border-top: 0.55px solid rgba(0, 0, 0, 0.3)">
<ion-grid>
    <ion-row style="text-align:center;height:50px">
      <ion-col col-6 style="display:flex; align-items:center" tappable (click)="chooseWrite()">
      <div style="margin-left: auto;margin-right: auto;">
          <img src={{writeImg}} style="width:25px;height:25px;margin-bottom:3px;margin-top:-4px">
          <p text-wrap [ngClass]="{true:'textcolor1',false:'textcolor_normal'}[isWrite]">打卡</p>
      </div>
      </ion-col>
      <ion-col col-6 style="display:flex; align-items:center" tappable (click)="chooseLook()">
      <div style="margin-left: auto;margin-right: auto;">
        <img src={{lookImg}} style="width:25px;height:25px;margin-bottom:3px;margin-top:-4px">
          <p text-wrap [ngClass]="{true:'textcolor1',false:'textcolor_normal'}[isLook]">统计</p>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-footer>
