<!--
  Generated template for the PoContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>联系电话</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group >
    <ion-item-divider color="light"></ion-item-divider>
    <ion-label style="font-weight:bold;margin-left:20px">供应商</ion-label>
      <ion-list *ngFor='let item of items.supplier'>
        <ion-item ng-style="line-height:30px;">
          <ion-label item-start style="font-size:85%">{{item.name}}</ion-label>
          <ion-label item-end tappable (click) = "calling(item)" style="color:#55c4f5;font-size:85%;text-align:right;">{{item.phone}}</ion-label>
        </ion-item>
      </ion-list>
    <ion-item-divider color="light"></ion-item-divider>
    <ion-label style="font-weight:bold;margin-left:20px">仓库</ion-label>
      <ion-list *ngFor='let item of items.ck'>
        <ion-item style="line-height:30px;">
          <ion-label item-start style="font-size:85%">{{item.name}}</ion-label>
          <ion-label item-end tappable (click) = "calling(item)" style="color:#55c4f5;font-size:85%;text-align:right;">{{item.phone}}</ion-label>
        </ion-item>
      </ion-list>

    <ion-item-divider color="light"></ion-item-divider>
    <ion-label style="font-weight:bold;margin-left:20px">生产</ion-label>
    <ion-list *ngFor='let item of items.sc'>
      <ion-item >
         <ion-label item-start style="font-size:85%">{{item.name}}</ion-label>
        <ion-label item-end tappable (click) = "calling(item)" style="color:#55c4f5;font-size:85%;text-align:right;">{{item.phone}}</ion-label>
       </ion-item>
    </ion-list>

    <ion-item-divider color="light"></ion-item-divider>
    <ion-label style="font-weight:bold;margin-left:20px">品检</ion-label>
    <ion-list *ngFor='let item of items.pj'>
      <ion-item >
         <ion-label item-start style="font-size:85%">{{item.name}}</ion-label>
        <ion-label item-end tappable (click) = "calling(item)" style="color:#55c4f5;font-size:85%;text-align:right;">{{item.phone}}</ion-label>
       </ion-item>
    </ion-list>

    <ion-item-divider color="light"></ion-item-divider>
    <ion-label style="font-weight:bold;margin-left:20px">采购</ion-label>
    <ion-list *ngFor='let item of items.cg'>
      <ion-item >
         <ion-label item-start style="font-size:85%">{{item.name}}</ion-label>
        <ion-label item-end tappable (click) = "calling(item)" style="color:#55c4f5;font-size:85%;text-align:right;">{{item.phone}}</ion-label>
       </ion-item>
    </ion-list>
  </ion-item-group>
</ion-content>
