page-q-rcode {

    .p_font{
        background: #f0f2f5;
      margin-left: 25px;
      margin-right: 25px;
      height: 45px;
      line-height: 45px;
      font-size: 16px;
      color: #8a9199;
      border-radius: 5px;
    }
    .p_button{
        background:white;
      margin-left: 10%;
      height: 50px;
      width: 80%;
      line-height: 50px;
      font-size: 19px;
      color: #409eff;
      text-align: center;
      border-radius: 5px;
    }



}
