<!-- Generated template for the CustomerStarComponent component -->
<div>
   <h2 text-wrap >XXXXXXX公司</h2>
          <p text-wrap class="team_p">销售团队：内销团队</p>
          <p text-wrap class="team_p">销售员：XXXXXX</p>
          <div class="item row row-wrap row-no-padding" style="height: 50px;border: none;padding-left: 10px;">
                <div class="col col-center" >
                          <ion-icon *ngFor='let item of dataSource' name="star" style="color:#fdc03b"></ion-icon>
                          <!--<ion-icon name="star" color="yellow"></ion-icon>
                          <ion-icon name="star" color="yellow"></ion-icon>
                          <ion-icon name="star" color="yellow"></ion-icon>
                          <ion-icon name="star" color="yellow"></ion-icon>-->
                            <!--<i ng-class="{true: 'icon ion-iOS-star energized', false: 'icon ion-ios-star-outline'}[service[0]]"
                               ng-click="chooseService(0)" style="font-size: 30px;"></i>
                            <i ng-class="{true: 'icon ion-ios-star energized', false: 'icon ion-ios-star-outline'}[service[1]]"
                               ng-click="chooseService(1)" style="font-size: 30px;"></i>
                            <i ng-class="{true: 'icon ion-ios-star energized', false: 'icon ion-ios-star-outline'}[service[2]]"
                               ng-click="chooseService(2)" style="font-size: 30px;"></i>
                            <i ng-class="{true: 'icon ion-ios-star energized', false: 'icon ion-ios-star-outline'}[service[3]]"
                               ng-click="chooseService(3)" style="font-size: 30px;"></i>
                            <i ng-class="{true: 'icon ion-ios-star energized', false: 'icon ion-ios-star-outline'}[service[4]]"
                               ng-click="chooseService(4)" style="font-size: 30px;"></i>-->
                </div>
            </div>
</div>
