<!--
  Generated template for the NewProductListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar color="gongdan-color" hideBackButton="true">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    <ion-title>产品列表</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-auto-complete style="width: 100vw;" (itemSelected) = "itemSelected($event)" (itemClearSelected)="itemClearSelected($event)" [dataProvider]="newProductionAutoService"></ion-auto-complete>
   <ion-refresher *ngIf="can_search_more" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <!--<ion-list>-->
    <div *ngIf="item">
      <ion-item tappable *ngFor="let items of item" (click)="itemClick(items)">
      <p text-wrap style="color:black">{{showText(items)}}</p>
      <!--<p style="font-size:80%">{{showSecondText(items)}}</p>-->
      <p style="font-size:80%">{{showThirdText(items)}}</p>
    </ion-item>
    </div>  
    <div *ngIf="!item">
      <img style="width:100px;position:absolute;left:calc(50% - 50px);top:calc(50% - 60px)" src="assets/img/journal_sheet/null_state.png">
      <p style="width:120px;position:absolute;left:calc(50% - 50px);top:calc(50% + 30px);color:#c2c8cc;font-size:15px">无数据～</p>
    </div>
  <!--</ion-list>-->
  <ion-infinite-scroll *ngIf="can_search_more && can_load_more" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
