page-select-person {
    .header_div_class{
        width: 100%;
        background-color: #f0f2f5;
    }

    .searchbar_class{
        width: 92vw;
        margin-left:4vw;
        background-color: #f0f2f5;
    }
}
