<!--
  Generated template for the InspectionDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>InspectionDetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item>
    <ion-label>品检结果</ion-label>
    <div style="border-radius:8%;text-align:center;width:30%" item-end [style.background]="isSpecial()?'#4bb53a':'#ff6622'">{{qc_result}}</div>
  </ion-item>
  <ion-item>
    <ion-label>品检批注</ion-label>
    <ion-label text-wrap>{{qc_note}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>品检图片</ion-label>
  </ion-item>
  <ion-list *ngFor='let pic of picture' padding>
    <ion-img width="100" height="100" src={{pic}}>
    </ion-img>
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div style="display:flex ;justify-content:space-around">
    <button ion-button round ion-start tappable (click)='clickBack()'> 退回 </button>
    <button ion-button round ion-end  tappable (click)='agreeIncoming()'> 采购确认</button>
    <button  *ngIf="showFenjian"   ion-button round ion-end tappable (click)='goFenJian()'> 去分拣</button>
  </div>
  </ion-toolbar>
</ion-footer>
