page-inspection-detail {
  .iconBackground {
    background: #4bb53a;
  }

  .footer {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footerButton {
    width: 49%;
  }

  .ion_label{
      width: 20%;
      height: 30px;
      text-align: right;
  }
}
