page-create-daily-report {
    .item-ios.item-block .item-inner{
        padding-right: 8px;
        border-bottom: 1px solid #f0f2f5;
    }

    .biaoti {
    background: white;
    height: 40px;
    color: #8a9199;
    line-height: 40px;
    margin-top: 10px;
  }

  .shu_class{
        width: 10px;
    height: 15px;
    display: inline;
    border-left: solid 3px #2597ec;
    margin-left: 8px;
    margin-top: 12.5px;
    }

    .title_class{
            display: inline-block;
    margin-top: 0px;
    width: calc(100% - 65px);
    margin-left: 10px;
    text-align: left;
    border-bottom: solid 1px #f0f2f5;
    color: #2597ec;
    }
    .line_class{
      // width: 100%;
      height: 1px;
      // background-color: red;
    }

    .icon_class{
          font-family: "Ionicons" !important;
    font-size: 24px;
    font-style: normal;
    float: right;
    margin-top: 8px;
    padding-right: 15px;
    }

    .add_img_class{
        width: 17px;
        margin-top: 2px;
        margin-left: 15px;
    }
    [contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

    .tool_bar_class{
        background-color: white;
    border-width: 0px;
    border-bottom: solid 1px #f0f2f5;
    }

    .element_class{
        border-width: 0px;
        background-color: white;
    }

    .ql-toolbar.ql-snow{
        background-color: white;
    border-width: 0px;
    border-bottom: solid 1px #f0f2f5;
    }

    .ql-toolbar.ql-snow + .ql-container.ql-snow{
            font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: auto;
    margin: 0px;
    position: relative;
    border-width: 0px;
    background-color: white;
    min-height: 200px;
    }

    .footer_class{
        width: 100%;
    }

    .left_btn{
        display: inline-block;
        line-height: 44px;
        width: 50%;
        text-align: center;
        background-color: #12B8D9;
        color: white;
        float: left;
    }

    .right_btn{
        line-height: 44px;
        width: 50%;
        color: white;
        text-align: center;
        float: right;
        background-color: #2597ec;
    }

    .radio_class {
        text-align: right;
    }

    .radio_class span {
        margin-left: 10px;
        color: gray;
    }

    .radio_type{
        width: 15px;
        height: 15px;
        appearance: none;
        position: relative;
    }
    .radio_type:before{
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid #7d7d7d;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    .radio_type:checked:before{
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid #2597ec;
        background:#2597ec;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    .radio_type:checked:after{
        content: '';
        width: 10px;
        height:5px;
        border: 2px solid white;
        border-top: transparent;
        border-right: transparent;
        text-align: center;
        display: block;
        position: absolute;
        top: 6px;
        left:3px;
        vertical-align: middle;
        transform: rotate(-45deg);
    }

    .date_title {
        height: 40px;
        margin-left: 10px;
        width: 40%;
    }

    .last_time_title_white {
        margin-right: 12px;
        height: 40px;
        color: white;
    }

    .last_time_title {
        margin-right: 12px;
    height: 40px;
    }

    .last_zj_title {
        height: 40px;
    }

    .last_zj_title_white {
        height: 40px;
        color: white;
    }

    .class_start_date {
        height: 40px;
    width: 100px;
    text-align: center;
    border-width: 0px;
    // margin-top: 2px;
    }
}
