<!--
  Generated template for the PerformancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gongdan-color" hideBackButton="true">
    <ion-buttons left>
        <button ion-button icon-only (click)="goBack()">
          <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
  <ion-title>绩效考核</ion-title>
</ion-navbar>

</ion-header>


<ion-content style="background-color: #f0f2f5">
    <ion-item align="center" no-lines style="height:40px;min-height:40px;background-color:white;">

        <ion-grid>
            <ion-row class="row_class" align-items-center>
              <ion-col tappable (click) = "mine()">
              <div align="center">
                <p [ngClass]="{true:'under_line_style',false:'normal_style'}[isMine]">我的（{{num1}}）</p> 
              </div>
            </ion-col>
            <ion-col tappable (click) = "others()">
               <div align="center" >
                <p [ngClass]="{true:'under_line_style',false:'normal_style'}[isOther]">互评（{{num2}}）</p>
              </div>
            </ion-col>         
            </ion-row>
        </ion-grid>
    </ion-item>
    <!-- <ion-auto-complete style="width: 94vw; margin-left:3vw" (itemSelected)="itemSelected0($event)" [dataProvider]="perSearchService"></ion-auto-complete> -->
    <ion-item-group no-lines style="background:white;">
      <ion-item no-lines *ngFor="let item of lists" tappable style="height: 120px;line-height: 120px;border-bottom: #f0f2f5 10px solid" (click)="startPerformance(item)">
          <p text-wrap style="font-size:13px;margin-right:25px;float: right;margin-top: 3px"
          [ngClass]="{true:'wait',false:'finish'}[isFinish(item.rt_state)]">{{changeStr(item.rt_state)}}</p>
          <h3 text-wrap style="margin-left: 10px;font-size:14px;color:#2e3133;margin-top: 5px">{{item.rt_name}}</h3>
          <p style="font-size:13px;color:#949ca1;margin-left: 10px;margin-top: 10px;">{{different(item)}}</p>
          <p style="margin-left: 10px;font-size:10px;color:#b8c4cc;float: left;margin-top: 10px;">创建人:{{item.create_uid}}</p>
          <p style="font-size:10px;color:#b8c4cc;margin-left: 145px;margin-top: 15px;">{{changeDate(item.create_date) | date:"yyyy-MM-dd HH:mm"}}</p>
          <!-- <ion-item no-lines style="max-height: 20px;height: 20px;line-height: 20px">
              <p text-wrap style="font-size:13px;margin-right:25px;float: right;"
          [ngClass]="{true:'wait',false:'finish'}[isFinish(item.rt_state)]">{{changeStr(item.rt_state)}}</p>
          <h3 text-wrap style="font-size:14px;color:#2e3133;">{{item.rt_name}}</h3>
          </ion-item>
          <p style="font-size:13px;color:#949ca1;margin-left: 15px;margin-top: 0px;">{{different(item)}}</p>
          <p style="margin-left: 15px;font-size:10px;color:#b8c4cc;float: left;margin-top: -3px;">创建人:{{item.create_uid}}</p>
          <p style="font-size:10px;color:#b8c4cc;margin-left: 145px;">{{changeDate(item.create_date) | date:"yyyy-MM-dd HH:mm"}}</p> -->
      </ion-item> 
    </ion-item-group>
    <div align="center" *ngIf="!lists || !lists.length || lists.length == 0">
      <img style="width:100px;position:absolute;left:calc(50% - 50px);top:calc(50% - 60px)" src="assets/img/journal_sheet/null_state.png">
      <p style="width:100px;position:absolute;left:calc(50% - 50px);top:calc(50% + 30px);color:#c2c8cc;font-size:15px">空空如也～</p>
    </div>
</ion-content>
