page-performance {
      .row_class_ios{
        height:40px;
    }
    .row_class_android{
        height:100px;
    }
    .under_line_style{
        color:#2597ec;
        width:60px;
        height: 40px;
        line-height: 40px;
        border-bottom:#2597ec 3px solid;
    }

    .normal_style{
        width:60px;
        height: 40px;
        line-height: 40px;
        color:#2597ec
    }
}
