page-change-kucun-detail {

    .image1{ 
        border-radius:200px; 
        width: 33px;
        height: 33px;
    }

    .div_all {
        padding-left: 20px;
        overflow: hidden
      }

      .test_one{
        color:black;
        width:60px;
        height: 45px;
        line-height: 45px;
        border-bottom:#5bc5f3 3px solid;
    }
}
