page-chooose-gps {
    .arrow_img_class{
        color: #999999;
        width: 100%;
        text-align: center;
        background-color:white;
        border-width:0px;    
        padding-bottom: 1px;
        margin-top:5px;
    }
}
