<!--
  Generated template for the ListEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="gongdan-color" hideBackButton="true">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #f0f2f5">
    <ion-list *ngIf="pet=='type'">
      <ion-item no-lines style="min-height: 25px;border-bottom:#f0f2f5 1px solid" *ngFor="let bean of item" tappable (click)="selectType(bean)">
        <ion-label style="font-size: 13px">{{bean.display_name}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-item-group *ngIf="pet=='recurrency'">
        <ion-item no-lines style="min-height: 20px;border-bottom:#f0f2f5 1px solid" *ngFor="let bean of item" tappable (click)="selectRecurrency(bean)">
          <ion-label style="font-size: 13px">{{bean.name}}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>
