page-image-slide {

    ion-slides{
        width: 100%;
        height: 100%;
    }
    .slide-image{
        width: auto;
        height: auto;
     }
     .swiper-pagination-bullet .swiper-pagination-bullet{
        opacity: 1;
        background: white
     }

     .swiper-pagination-bullet{
        // opacity: 0.5;
        background: white
     }
}
