<!--
  Generated template for the RedWhiteCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content style="background-color: #f0f2f5;">
  <div ion-fixed class="div_header">
    <div class="div_header_back">
      <ion-auto-complete class="search_class" (itemSelected)="itemSelected($event)"
        (itemClearSelected)="itemClearSelected($event)" [dataProvider]="redWhiteAutoService"></ion-auto-complete>
      <button class="btn_class" tappable ion-button icon-only (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </div>
    <div class="scroll_class" zooming="true" scrollX="true" align-items-center>
      
      <div class="left_div" align="center" tappable (click)="click_get()">
        <span [ngClass]="{true:'under_line_style',false:'normal_style'}[type == 'get']">我获得的</span>
      </div>
      <div class="left_div" align="center" tappable (click)="click_create()">
        <span [ngClass]="{true:'under_line_style',false:'normal_style'}[type == 'create']">我创建的</span>
      </div>
     
      <div class="left_div" align="center" tappable (click)="click_all()">
        <span [ngClass]="{true:'under_line_style',false:'normal_style'}[type == 'all']">全部</span>
      </div>
      
    </div>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list style="margin-top: 100px;">
    <ng-container *ngFor='let item of card_list;let i = index'>
      <ion-item no-lines [ngClass]="{true:'item_empty_class',false:'item_class'}[i == 0]" tappable (click)='card_detail(item)'>
        <p text-wrap class="time_class">{{item.state}}</p>
        <h4 text-wrap class="rt_name_class">
          <ng-container *ngIf="item.card_type == '红卡' || item.card_type == '赞'">
            <span style="color: red;font-weight: bold;">
              赞 X {{item.factor}}
            </span>
          </ng-container>
          <ng-container *ngIf="item.card_type == '白卡' || item.card_type == '踩'">
            <span style="color: #2597ec;font-weight: bold;">
              踩 X {{item.factor}}
            </span>
          </ng-container>
        </h4>
        
        <p text-wrap class="money_class">
          <span>员工：{{item.user_id}}</span>
        </p>
        <p text-wrap class="department_class" style="margin-top: -18px;">{{item.date}}</p>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer >
  <div class="footer_class_create" tappable (click)="click_create_card()">
    创建
  </div>
</ion-footer>