page-share-knowledge {
    .image1{ 
        border-radius:200px; 
        width: 25px;
        height: 25px;
    }

    .image2{ 
        border-radius:200px; 
        width: 14px;
        height: 14px;
    }

    .middle_item{
        width: 95%;
        margin-left: 2%;
        margin-top: 6px;
        // height:auto;
        border-radius:5px;
    }
    
    .gridview{
        background: #f2f2f2;
        margin-left: 5%;
        margin-top: 2%;
        border-radius:20px;
        text-align: center;
    }
}
 