page-cust-in {
    .search_class{
        width: calc(100% - 80px);
        margin-top: 5px;
        // margin-left: 20px;
    }

    .btn_class{
        float: left;
        background-color: #2597ec;
    color: white;
    }

    .searchbar-ios .searchbar-input{
            padding: 0 28px;
    border-radius: 22px;
    height: 3rem;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: white;
    color: gray;
    }

    .searchbar-ios {
  padding: 0 8px;
  min-height: 44px;
  border-top: 0.55px solid transparent;
  background: #2597ec;
  border-bottom: 0px solid rgba(0, 0, 0, 0.05);
}

.scroll_class{
    border-bottom: solid 1px #f0f2f5;
    background-color: #2597ec;
    height: 44px;
    width: 100%;
    margin-top: -9px;
    white-space: nowrap;
    overflow-x: hidden;
  }

    .left_div{
        width: 48%;
        // height: 40px;
        // margin-top: -14px;
        background-color: #2597ec;
//   padding: 2px 8px;
  height: 40px;
      display: inline-block;
      margin-top: 5px;
    }

    .under_line_style{
    color:white;
    width:100%;
    height: 40px;
    line-height: 40px;
    border-bottom:white 3px solid;
    font-size: 14px;
    padding-bottom: 5px;
}

    .normal_style{
        color:white;
    width:100%;
    height: 40px;
    line-height: 40px;
    border-bottom:#2597ec 3px solid;
    font-size: 14px;
    padding-bottom: 5px;
    }

    .div_header{
        background-color: #2597ec;
        width: 100%;
        height: 58px;
    }

    .item_class{
        margin-top: 10px;
    }

    .item_empty_class{
        margin-top: 1px
    }
    .rt_name_class{
        font-size: 80%;
    margin-top: 5px;
    margin-left: 5px;
    line-height: 15px;
    }

    .money_class{
        font-size: 80%;
    color: gray;
    margin-left: 4px;
    margin-top: 5px;
    }

    .department_class{
            font-size: 80%;
    color: gray;
    margin-left: 5px;
    }

    .time_class{
        font-size:70%;
        float:right;
        color:gray;
        margin-top:6px;
    }

    .state_class{
        font-size:70%;
        float:right;
        color:red;
        font-weight:bold;
        margin-top: 3px;
    }

    .number_class{
            width: 17px;
    height: 17px;
    background-color: red;
    color: white;
    border-radius: 8.5px;
    line-height: 17px;
    position: absolute;
    left: 28%;
    font-size: 13px;
        }

    .big_number_class{
                width: 30px;
    height: 17px;
    background-color: red;
    color: white;
    border-radius: 8.5px;
    line-height: 17px;
    position: absolute;
    left: 28%;
    font-size: 13px;
        }
}
