<!--
  Generated template for the EmailDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="gongdan-color" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="changeShowTop()">
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div class="choose_people_div" *ngIf='need_show_choose'>
    <!-- <ion-item (click)="sign()" >
      <ion-icon name='ios-bookmark-outline' item-start></ion-icon>
      <ion-label>标记</ion-label>
    </ion-item> -->
    <ion-item (click)="move()" tappable>
      <ion-icon name="ios-log-in" item-start></ion-icon>
      <ion-label>移动到</ion-label>
    </ion-item>

    <ion-item (click)="toSignPage()" tappable>
      <ion-icon name="ios-bookmark-outline" item-start></ion-icon>
      <ion-label>标记为</ion-label>
    </ion-item>

    <ion-item no-lines *ngIf="!email_flag" (click)="flag(true)" tappable>
      <ion-icon name='ios-tuding' class='red_flag' item-start></ion-icon>
      <ion-label>固定邮件</ion-label>
    </ion-item>

    <ion-item no-lines *ngIf="email_flag" (click)="flag(false)" tappable>
      <ion-icon name='ios-tuding' item-start></ion-icon>
      <ion-label>取消固定</ion-label>
    </ion-item>

  </div>

</ion-header>


<ion-content>
  <ion-backdrop id="email_backdrop" *ngIf="need_show_choose" (click)='hide_email_backdrop()' class="gray_backdrop">
  </ion-backdrop>
  <div class="email_subject" (pinch)='pinchEvent(event)'>
    {{subject}}
  </div>
  <div class="mailDetail-tag-list" *ngIf="label_list">
    <div class="mail-plus-tag-list mail-plus-tag-list-in-email">
      <span class="tag-wrapper" *ngFor="let item of label_list">
        <a class="ellipsis" style="background-color: rgb(87, 192, 120) "> {{item.name}}
        </a>
      </span>
    </div>
  </div>
  <ul class="email_content_ul">
    <li class="li_c">
      <span class="span_c">发件人 :</span>
      <span class="span_c" *ngFor="let item of email_from"> {{item}}</span>
    </li>
    <li class="li_c">
      <div style="float:left">
        <span class="span_c">收件人 :</span>
      </div>
      <div style="padding-left:46px">
        <span *ngIf="!email_to">&nbsp; </span>
        <span class="span_c" *ngFor="let item of email_to;let i = index;">{{item}}{{i!=email_to.length-1?';':''}}</span>
      </div>
    </li>
    <li class="li_c" *ngIf="email_cc">
      <div style="float:left">
        <span class="span_c">抄&nbsp;&nbsp;&nbsp;&nbsp;送 :</span>
      </div>
      <div style="padding-left:46px">
        <span *ngIf="!email_cc">&nbsp; </span>
        <span class="span_c" *ngFor="let item of email_cc;let i = index;">{{item}}{{i!=email_cc.length-1?';':''}}</span>
      </div>
    </li>
    <li class="li_c" *ngIf="email_bcc">
      <div style="float:left">
        <span class="span_c">密&nbsp;&nbsp;&nbsp;&nbsp;送 :</span>
      </div>
      <div style="padding-left:46px">
        <span *ngIf="!email_bcc">&nbsp; </span>
        <span class="span_c" *ngFor="let item of email_bcc;let i = index;">{{item}}{{i!=email_bcc.length-1?';':''}}</span>
      </div>
    </li>
    <li class="li_c">
      <span class="span_c">时&nbsp;&nbsp;&nbsp;&nbsp;间 :</span>
      <span class="span_c">{{date}}</span>
    </li>
  </ul>
  <div style="width:100%" >
    <div class="html_div" id="html_id" [innerHTML]="assembleHTML(body_html)" > </div>
  </div>
  <ion-list *ngIf="attachment_list.length!=0" no-lines class="ion-list-account" style="border-top: 0.55px solid #c8c7cce0">
    <ion-item nolines class="attach_item" style="border-bottom: 0.55px solid #c8c7cce0" *ngFor='let item of attachment_list'
      (click)='clickAttach(item.id,item.mimetype)'>
      <div class="checkmark">
        <img class="attach_img" src={{item.icon_src}}>
      </div>
      <div>
        <div class="account_name">
          {{item.fname}}
        </div>
        <div class="attach_size">
          {{item.size}}
        </div>
      </div>
      <div class="border_div"></div>
    </ion-item>
  </ion-list>

  <div class="content_footer"></div>
</ion-content>

<ion-footer>
  <ion-toolbar color="gongdan-color" class='toolbar_c'>
    <button ion-button icon-only (click)="reply()" class="toolbar_button">
      <ion-avatar item-start>
        <img src='assets/img/reply.png' style="margin-left:-4px;width: 34px">
      </ion-avatar>
    </button>
    <button ion-button icon-only (click)="replyAll()" class="toolbar_button">
      <!-- <ion-icon name="md-redo" style="transform: rotateY(180deg); "></ion-icon> -->
      <ion-avatar item-start>
        <img src='assets/img/replyall.png' style="margin-left:-4px;width: 34px">
      </ion-avatar>
    </button>
    <button ion-button icon-only (click)="transfer_mail()" class="toolbar_button">
      <ion-icon name="md-return-right"></ion-icon>
    </button>
    <button ion-button icon-only (click)="delete()" class="toolbar_button">
      <ion-icon name="ios-trash"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
