<!--
  Generated template for the GongdanDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="gongdan-color">
    <ion-title>工单详情</ion-title>
    <ion-buttons *ngIf="item.issue_state == 'draft' && isMine" end>
      <button ion-button (click)='release()'>
        编辑
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content style="background:#f4f4f4">
  <ion-item-group  no-lines style="background:#f0f2f5;margin-top:-10px">
    <div style="margin-top:10px;background-color:white" tappable (click)="gongdanDetail(item)">
      <div>
        <img *ngIf="item.priority == 3" src="assets/img/work_bench/up_one.png" class="priority_icon">
        <img *ngIf="item.priority == 2" src="assets/img/work_bench/up_two.png" class="priority_icon">
        <img *ngIf="item.priority == 1" src="assets/img/work_bench/up_three.png" class="priority_icon">
        <span class="title_class_style">
          {{item.title}}
        </span>
        <span p class="data_list_state">
          {{changeState(item.issue_state)}}
        </span>


      </div>
      <div *ngIf="item.tag_ids.res_data" >
        <ion-grid style="height:30px;">
      <ion-row>
         <ion-col col-2 tappable  *ngFor="let item_tag of item.tag_ids.res_data;let i = index">
          <div class = "biaoqian_div_choose" align="center">
            {{item_tag.name}}
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
      </div>
      <P text-wrap class="data_list_desprition">
        {{item.description}}
      </P>
      <ion-grid *ngIf="item.work_order_images" style="margin-top:-20px;margin-left:5px">
        <ion-row style="margin-right:5px;">
          <ion-col *ngFor="let image of item.work_order_images" col-3 >
            <img  src={{image}}>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="creater_div">
        <img src={{item.create_user.user_ava}} class="create_ava">
        <span p class="creater_name">
          {{item.create_user.name + " " + (changeDate(item.create_time) | date:'MM-dd HH:mm')}}
        </span>
        <span *ngIf="item.assign_user.name" class="assign_name">
          {{"受理人： "+ item.assign_user.name}}
        </span>
        <span *ngIf="!item.assign_user.name" class="assign_name">
            未指派受理人
          </span>
        <img *ngIf="item.assign_user.name" src="assets/img/work_bench/lianjie.png" class="assign_ava">
      </div>
      <div style="height:1px;background:white">
      </div>
    </div>
  </ion-item-group>
  <p class="divided_p">操作记录</p>
  <ion-list class="message_list"> 
    <div *ngFor="let items of message_item" class="div_message">
      <ion-item no-lines style="height:40px;min-height:50px">
    <ion-grid style="background:white">
      <ion-row>
        <ion-col col-2>
          <img src={{items.create_uid.user_ava}} class="img_message_ava">
        </ion-col>
        <ion-col col-7 >
          <p class="name_message">
            <span>{{items.create_uid.name}}</span><span style="margin-left:10px">{{changeDate(items.create_date) | date:'MM-dd HH:mm'}}</span>
          </p>
        </ion-col>
        <ion-col col-3 tappable (click)="reply_to(items)">
          <img src="assets/img/work_bench/feedback.png" class="reply_small_icon">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item no-lines *ngIf="items.record_type == 'reply'" style="margin-top:-5px">
   <p text-wrap [ngClass]="{true:'content_message',false:'content_message_no_lines'}[items.reply_record_line_ids.length > 0]" class="">{{getContent(items)}}</p>
  </ion-item>
  <!--<div *ngIf="items.record_type == 'reply'" style="margin-top:-5px">
      <p text-wrap [ngClass]="{true:'content_message',false:'content_message_no_lines'}[items.reply_record_line_ids.length > 0]" class="">{{getContent(items)}}</p>
  </div>-->
  <ion-item no-lines *ngIf="items.record_type == 'assign'" style="height:20px;min-height:40px;margin-top:-5px">
   <p [ngClass]="{true:'content_message_zhipai',false:'content_message_zhipai_no_lines'}[items.reply_record_line_ids.length > 0]" class="">{{items.content}}</p><p *ngIf="items.reply_uid.name" [ngClass]="{true:'content_message',false:'content_message_no_lines'}[items.reply_record_line_ids.length > 0]" style="color:#1f6699">{{"@" + items.reply_uid.name}}</p><p *ngIf="!items.reply_uid.name" [ngClass]="{true:'content_message_empty',false:'content_message_empty_no_lines'}[items.reply_record_line_ids.length > 0]">Empty</p>
  </ion-item>
  <ion-item no-lines *ngIf="items.record_type == 'check'" style="height:20px;min-height:40px;margin-top:-5px">
   <p [ngClass]="{true:'content_message',false:'content_message_no_lines'}[items.reply_record_line_ids.length > 0]" class="">处理完成</p>
  </ion-item>
  <ion-item no-lines *ngIf="items.record_type == 'reject'" style="height:20px;min-height:40px;margin-top:-5px">
   <p [ngClass]="{true:'content_message',false:'content_message_no_lines'}[items.reply_record_line_ids.length > 0]" class="">验收不通过</p>
  </ion-item>
  <ion-item no-lines *ngIf="items.record_type == 'finish'" style="height:20px;min-height:40px;margin-top:-5px">
   <p [ngClass]="{true:'content_message',false:'content_message_no_lines'}[items.reply_record_line_ids.length > 0]" class="">验收通过</p>
  </ion-item>
   <ion-item no-lines *ngIf="items.record_type == 'draft'" style="height:20px;min-height:40px;margin-top:-5px">
   <p [ngClass]="{true:'content_message',false:'content_message_no_lines'}[items.reply_record_line_ids.length > 0]" class="">{{items.content}}</p>
  </ion-item>
  <ion-item no-lines *ngFor="let line of items.reply_record_line_ids;" [ngClass]="{true:'item_calss_one',false:'item_class_first'}[i != 0]">
   <p>
    <span style="color:#1f6699;">{{line.create_uid.name + "：@" + line.reply_uid.name}} </span><span style="color:8a9299">{{line.content}}</span>
  </p>
  </ion-item>   

  <!--<ion-item *ngIf="items.reply_record_line_ids.length > 0" no-lines class="item_divide">
  </ion-item> -->
    </div>
  </ion-list>
  
</ion-content>
<ion-footer>
  <div class="buttom_div">
    <ion-grid style="width:100%;">
    <ion-row class="row_class" align-items-center>
      <ion-col *ngIf="isShowCheHui" tappable (click) = "chehui()">
         <div align="center">
          <img [ngClass]="{true:'bottom_img_ios',false:'bottom_img_md'}[is_ios]" src="assets/img/work_bench/chehui.png"><br>
          <p [ngClass]="{true:'bottom_p_ios',false:'bottom_p_md'}[is_ios]">撤回</p>
        </div>
      </ion-col>
      <ion-col *ngIf="item.issue_state != 'done' && item.issue_state != 'draft'" tappable (click) = "replyClick()">
        <div align="center">
         <img [ngClass]="{true:'bottom_img_ios',false:'bottom_img_md'}[is_ios]" src="assets/img/work_bench/re_back.png"><br>
          <p [ngClass]="{true:'bottom_p_ios',false:'bottom_p_md'}[is_ios]">回复</p>
        </div>
      </ion-col>
      <ion-col *ngIf="isShowZhiPai" tappable (click) = "zhipai()">
        <div align="center" >
         <img [ngClass]="{true:'bottom_img_ios',false:'bottom_img_md'}[is_ios]" src="assets/img/work_bench/zhipai.png"><br>
         <p [ngClass]="{true:'bottom_p_ios',false:'bottom_p_md'}[is_ios]">指派</p> 
        </div>
      </ion-col>
      <ion-col *ngIf="isShowConfirm" tappable (click) = "confirm()">
        <div align="center" >
         <img [ngClass]="{true:'bottom_img_ios',false:'bottom_img_md'}[is_ios]" src="assets/img/work_bench/ok_icon.png"><br>
         <p [ngClass]="{true:'bottom_p_ios',false:'bottom_p_md'}[is_ios]">同意</p> 
        </div>
      </ion-col>
      <ion-col *ngIf="isShowRefuse" tappable (click) = "refuse()">
        <div align="center" >
         <img [ngClass]="{true:'bottom_img_ios',false:'bottom_img_md'}[is_ios]" src="assets/img/work_bench/refuse_icon.png"><br>
         <p [ngClass]="{true:'bottom_p_ios',false:'bottom_p_md'}[is_ios]">拒绝</p> 
        </div>
      </ion-col>
      <ion-col *ngIf="isShowFinish" tappable (click) = "finish()">
        <div align="center" >
         <img [ngClass]="{true:'bottom_img_ios',false:'bottom_img_md'}[is_ios]" src="assets/img/work_bench/finish.png"><br>
         <p [ngClass]="{true:'bottom_p_ios',false:'bottom_p_md'}[is_ios]">处理完成</p> 
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-footer>
