page-search-moments {

    .icon_all{
        width: 25px;
        height: 25px;
        padding: 4px;
        margin-left: 15px
    }

    .span_icon_all{
        position: absolute;
        color: #b7b7b7;
        margin-top: 5px;
        margin-left: -5px
    }

    .col_comments_content{
        padding: 0px;
        height: 23px;
        margin-right: 10px
    }

    .col_content_quanzi{
        // padding-top:17px;
        margin-left: -10px;
        margin-right: 10px
    }

    .searchbar-ios .searchbar-input{
        padding: 0 28px;
border-radius: 22px;
height: 3rem;
font-size: 1.4rem;
font-weight: 400;
background-color: white;
color: gray;
}

.searchbar-ios {
padding: 0 8px;
min-height: 44px;
border-top: 0.55px solid transparent;
background: #2597ec;
border-bottom: 0px solid rgba(0, 0, 0, 0.05);
}


.col_first{
    margin-left: 40px;
    position:relative;
    height:100px;
}

.col_other{
    margin-left: 10px;
    position:relative;
    height:100px;
}

.row_three{
    height: 100px;
    margin-top: -20px;
}

.row_six{
    height: 200px;
    margin-top: -20px;
}

.row_nine{
    height: 300px;
    margin-top: -20px;
}
}
