<!--
  Generated template for the SearchMomentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>SearchMomentsPage</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

    <div  style="background:#2597ec;width: 100%;align-items: center">
        <ion-auto-complete style="width: 80vw;margin-top: 5px;margin-left: 10px" (itemSelected) = "itemSelected($event);"  [dataProvider]="searchMomentsAutoService"></ion-auto-complete>
        <p style="margin-right:16px;color:white;float:right;padding-top: 4px"  tappable (click)="clickback()">取消</p>
    </div>

    <div>
      <ion-item-group no-lines>
        <div *ngFor="let item of dataList" style="border-bottom: solid 1px #f0f2f5;">
          <div>
              <ion-grid style="background: white">
                  <ion-row>
                    <ion-col col-2>
                      <img src="{{item.header_img}}" style="border-radius: 8px;width: 40px;height: 40px;"
                      tappable (click)='to_employee_detai(item)' >
                    </ion-col>
                    <ion-col col-10 class="col_content_quanzi" tappable (click)='to_detail(item)'>
                      <span style="font-size:100%;font-weight: bold">{{item.creater}}</span>
                      <span style="font-size:95%;float: right;margin-right: 4px;color:#cdcdcd"
                       *ngIf="item.is_author" tappable (click)='delete_moments(item);$event.stopPropagation()'>删除</span>
                      <p style="font-size: 100%;margin-top: 5px;
                      overflow: hidden;
                      display: -webkit-box;
                      -webkit-line-clamp: 5;
                      -webkit-box-orient: vertical;">{{item.content}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid *ngIf="item.attachments.length>0" style="padding-left: 9px;padding-top: 0px;">
                  <ion-row *ngIf="item.attachments.length>1" tappable (click)='to_detail(item)'
                      [ngClass]="{'row_three':item.attachments.length<4,'row_six':item.attachments.length>3,'row_nine':item.attachments.length>6}">
                    <ion-col col-3 *ngFor="let attachment of item.attachments;let i = index" [ngClass]="{true:'col_first',false:'col_other'}[i == 0 || i==3 || i==6]">
                        <img tappable (click)='to_slide_img(item.attachments, i);$event.stopPropagation()' src="{{attachment}}"  
                        style="clip:rect(0px,100px,100px,0px);position: absolute;min-width: 100px;min-height: 100px;padding: 5px">
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="item.attachments.length==1" tappable (click)='to_detail(item)'>
                      <ion-col col-4  *ngFor="let attachment of item.attachments" style="margin-left: 48px;margin-top: -20px">
                          <img imageViewer src="{{attachment}}" style="width: auto;height: auto;">
                      </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid style="margin-top: -5px;margin-bottom: -5px">
                  <ion-row>
                    <ion-col>
                        <span style="color: #cdcdcd;position: absolute;font-size: 95%;margin-left: 48px;margin-top: 3px">{{changeDate(item.create_date) | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </ion-col>
                    <ion-col>
                        <div>
                            <img src="assets/img/work_bench/feedback.png" style="width: 25px;height: 25px;margin-left: 25px;padding: 4px" tappable (click)="to_detail(item)">
                            <span *ngIf='item.comment_count > 0' class="span_icon_all">{{item.comment_count}}</span> 
                            <span *ngIf='item.comment_count <= 0' class="span_icon_all">0</span>                           
                            <img *ngIf='item.whether_collect' src="assets/img/yesshoucang.png"  tappable (click)='cancel_shoucang(item)' class="icon_all">
                            <img *ngIf='!item.whether_collect' src="assets/img/unshoucang.png"  tappable (click)='update_shoucang(item)' class="icon_all">
                            <span *ngIf='item.count_collect > 0' class="span_icon_all">{{item.count_collect}}</span>
                            <span *ngIf='item.count_collect <= 0' class="span_icon_all">0</span>  
                            <img *ngIf='item.whether_like' src="assets/img/yi_zan.png"  tappable (click)='cancel_zan(item)' class="icon_all">
                            <img *ngIf='!item.whether_like' src="assets/img/un_zan.png"  tappable (click)='update_zan(item)' class="icon_all">
                            <span *ngIf='item.like_count > 0' class="span_icon_all">{{item.like_count}}</span>
                            <span *ngIf='item.like_count <= 0' class="span_icon_all">0</span>  
                        </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-grid style="align-items: center;background: #f0f2f5;width: 78%;
                margin-left: 55px;border-radius: 3px;margin-bottom: 10px;padding-bottom: 15px;padding-top: 0px"  *ngIf='item.comment_count<=5 && item.comment_count>0'>
                  <ion-row style="width: 100%">
                    <ion-col col-11 *ngFor="let comment of item.comments" class="col_comments_content">
                          <p style="float: left;color: #2597ec;font-size: 90%;margin-left: 5px">
                              {{comment.create_uid}}:
                          </p>
                          <p style="overflow: hidden;
                          display: -webkit-box;
                          -webkit-line-clamp: 1;
                          -webkit-box-orient: vertical;font-size: 90%;padding-left:10px;color: #333333">
                              {{comment.context}}
                          </p>
                    </ion-col>
                  </ion-row>
                </ion-grid> 
                <ion-grid style="align-items: center;background: #f0f2f5;width: 78%;
                margin-left: 55px;border-radius: 3px;padding-bottom: 15px;padding-top: 0px"  *ngIf='item.comments.length>5'>
                  <ion-row style="width: 100%">
                    <ion-col col-11 *ngFor="let comment of item.fiveComments" class="col_comments_content">
                          <p style="float: left;color: #2597ec;font-size: 90%;margin-left: 5px">
                              {{comment.create_uid}}:
                          </p>
                          <p style="overflow: hidden;
                          display: -webkit-box;
                          -webkit-line-clamp: 1;
                          -webkit-box-orient: vertical;font-size: 90%;padding-left:10px;color: #333333">
                              {{comment.context}}
                          </p>
                    </ion-col>
                  </ion-row>
                </ion-grid> 
                <ion-item no-lines tappable (click)='to_detail(item)' style="background: #f0f2f5;width: 78%;min-height: 30px;
                margin-left: 55px;margin-bottom: 10px;border-top:solid 1px rgb(202, 200, 200)" *ngIf='item.comments.length>5'>
                <p style="color: #2597ec;font-size: 70%;text-align: center">查看更多</p>
                </ion-item>
          </div>
        </div>
      </ion-item-group>
    </div>
</ion-content>
