page-shareknowledgedetail {
    .content{
        margin-bottom: 30px;
    }

    .image1{ 
        border-radius:200px; 
        width: 25px;
        height: 25px;
    }
    .content .MsoNormal{
        text-indent:0!important;
    }
}
