page-customer-detail {
    .first_label{
        font-size:85%;
        font-weight:bold;
    }
    .right_label{
        font-size:70%;
        text-align:right;
    }
    .divider{
        height:1%;
    }
    .grid_header{
        background: #55c4f5;
    }

    .first_div h3{
        text-align: center;
        color: white;
    }

    .first_div h2{
        text-align: center;
        color: white;
    }
}
