<!--
  Generated template for the CustomerDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{items.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid style="margin-top:10px;width:80%;" class="grid_header">
<ion-row class="row_class" align-items-center>
      <ion-col tappable (click) = "createInfo()">
         <div align="center">
          <img style="width:44px;" src="assets/img/write_message.png"><br>
          <p style="color:#5bc5f3">新增记录</p>
        </div>
      </ion-col>
      <ion-col tappable (click) = "callPhone()">
        <div align="center">
         <img  style="width:44px;" src="assets/img/call_phone.png"><br>
          <p style="color:#5bc5f3">打电话</p>
        </div>
      </ion-col>
      <ion-col tappable (click) = "sendEmail()">
        <div align="center" >
         <img style="width:44px;" src="assets/img/send_email.png"><br>
          <p style="color:#5bc5f3">发邮件</p> 
        </div>
      </ion-col>
    </ion-row>
</ion-grid>

<ion-item align="center" no-lines style="height:40px;border-width:0.5px;border-color:lightgray;border-style:solid;width:101%;margin-left:-2px;margin-right:-4px;margin-top:-10px">
    <ion-grid *ngIf="show_type == 'one'">
<ion-row class="row_class" align-items-center>
      <ion-col>
         <div align="center" >
          <p class="test_one">基本信息</p>
        </div>
      </ion-col>
      <ion-col tappable (click) = "click_two()">
        <div align="center">
          <p>联系人&地址</p>
        </div>
      </ion-col>
      <ion-col tappable (click) = "click_three()">
        <div align="center" >
          <p>跟进记录</p> 
        </div>
      </ion-col>
    </ion-row>
</ion-grid>

  <ion-grid *ngIf="show_type == 'two'">
<ion-row class="row_class" align-items-center>
      <ion-col tappable (click) = "click_one()">
         <div align="center" >
          <p>基本信息</p>
        </div>
      </ion-col>
      <ion-col>
        <div align="center">
          <p class="test_two">联系人&地址</p>
        </div>
      </ion-col>
      <ion-col tappable (click) = "click_three()">
        <div align="center" >
          <p>跟进记录</p> 
        </div>
      </ion-col>
    </ion-row>
</ion-grid>

  <ion-grid *ngIf="show_type == 'three'">
<ion-row class="row_class" align-items-center>
      <ion-col tappable (click) = "click_one()">
         <div align="center" >
          <p>基本信息</p>
        </div>
      </ion-col>
      <ion-col tappable (click) = "click_two()">
        <div align="center">
          <p>联系人&地址</p>
        </div>
      </ion-col>
      <ion-col>
        <div align="center" >
          <p class="test_three">跟进记录</p> 
        </div>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-item>

  <ion-grid  style="width:70%;" *ngIf="show_type == 'one'">
    <ion-row class="row_class" align-items-center>
      <ion-col>
         <div align="center" >
          <h2 style="color:#55c4f5">{{items.purchase_count}}</h2>
          <p style="color:gray">订单</p>
        </div>
      </ion-col>
      <ion-col>
        <div align="center">
          <h2 style="color:#55c4f5">{{items.supplier}}</h2>
          <p style="color:gray">对账</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-item-group class="group_bottom" *ngIf="show_type == 'one'">
    <ion-item>
      <ion-label class="left_label">公司</ion-label>
      <ion-label text-wrap class="right_label" item-end>{{items.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="left_label">国家</ion-label>
      <ion-label text-wrap class="right_label" item-end>{{items.country}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="left_label">地址</ion-label>
      <ion-label text-wrap class="right_label" item-end>{{items.address}}</ion-label>
    </ion-item>
    <ion-item tappable (click)="callPhone()">
      <ion-label class="left_label">电话</ion-label>
      <ion-label text-wrap item-end class="right_label" style="color:#55c4f5">{{items.phone}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="left_label">来源</ion-label>
      <ion-label text-wrap item-end class="right_label">{{items.crm_source}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="left_label">渠道</ion-label>
      <ion-label text-wrap item-end class="right_label">{{items.source}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="left_label">销售团队</ion-label>
      <ion-label item-end class="right_label">{{items.team}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="left_label">销售员</ion-label>
      <ion-label text-wrap item-end class="right_label">{{items.user_id}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="left_label">标签</ion-label>
      <ion-label text-wrap item-end class="right_label">{{biaoqian}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="left_label">感兴趣的产品</ion-label>
      <ion-label text-wrap item-end class="right_label">{{productName}}</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf = "show_type == 'two'" style="background-color:#f2f2f2">
    <ion-item no-lines style="margin-top:10px;" *ngFor='let item of items.contracts'>
      <img style="width:20px;margin-top:-60px;" item-start src="assets/img/user_avater.png">
      <button ion-button style="background-color:white;color:#55c4f5;border-color:#55c4f5;border-width:1px;border-style:solid;margin-left:10px;" small>{{item.type[1]}}</button>
      <p style="font-size:15px;color:black;float:left;margin-top:7px;">{{item.name}}</p>
      <p style="margin-top:3px;">地址：{{item.street}}</p>
      <p >Email：{{item.email}}</p>
      <p tappable (click) = "call_contact(item)">电话：{{item.phone}}</p>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngIf = "show_type == 'three'" style="background-color:#f2f2f2">
    <ion-item *ngFor='let item of items.message_ids' no-lines style="margin-top:10px;">
      <img style="width:15px;margin-top:-15px;" item-start src="assets/img/edit_message.png">
      <p style="float:right;margin-top:3px;">{{item.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
      <p style="font-size:15px;color:black;">{{item.create_uid[0].name}}</p>
     <div style="width:200px;">
       <!--<ion-label text-wrap>{{item.body}}</ion-label>-->
        <p style="margin-top:3px; word-break:break-all; word-wrap:break-word ;">{{item.body}}</p>
     </div>
      <!--<javascript >{{item.body}}</javascript>-->
    </ion-item>
  </ion-item-group>
  
</ion-content>
