page-create-info {
    .input_class{
        font-size:110%;
    }
    .textarea_class{
        font-size:110%;
        border-color: lightgray;
        border-width: 0.5px;
        border-style: solid;
    }
}
