page-work-bench {

    .one_div img{
        padding-left: 20px;
    }
    .one_div p{
        padding-left: 20px;
    }
    
    .two_div img{
    }
    .two_div p{
        padding-left: 12px;
    }

    .customer_div img{
        padding-left: 20px;
    }
    .customer_div p{
       padding-left: 20px;
    }
    
}
