<ion-header>
  <ion-navbar>
    <ion-title>工作台</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="externalDiv">
    <div class="titleFont">常用</div>
  </div>
  <ion-grid>
    <ion-row>
      <!--<ion-col col-3>
        <img src="assets/img/work_bench/qiandao.png">
        <div>签到</div>
      </ion-col>-->
      <ion-col col-3 tappable (click)="apply()">
        <img src="assets/img/work_bench/shenqing.png">
        <div>报销</div>
      </ion-col>
      <ion-col col-3 tappable (click) = "shengou()">
          <img src="assets/img/work_bench/shenpi.png">
          <div>申购</div>
        </ion-col>
      <!--<ion-col col-3>
        <img src="assets/img/work_bench/gonggao.png">
        <div>公告</div>
      </ion-col>-->
    </ion-row>
  </ion-grid>
  <div class='dividingLine'></div>

<div *ngIf="isShowSale" >
  <div class="externalDiv">
    <div class="titleFont">销售</div>
  </div>
  <ion-grid>
    <ion-row>
      <!--<ion-col col-3>
        <img src="assets/img/work_bench/yibiaopan.png">
        <div>仪表盘</div>
      </ion-col>-->
      <ion-col col-3 tappable (click)="camCard()">
        <img src="assets/img/work_bench/daorumingpian.png">
        <div>导入名片</div>
      </ion-col>
      <ion-col col-3 tappable (click)="customerSearch()">
        <img src="assets/img/work_bench/kehu.png">
        <div>客户</div>
      </ion-col>
      <ion-col col-3 tappable (click)="ProductionSearch()">
        <img src="assets/img/work_bench/chanping.png">
        <div>产品</div>
      </ion-col>
      <ion-col col-3 tappable (click)="salesOrder()">
        <img src="assets/img/work_bench/dingdan.png">
        <div>订单</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--<ion-col col-3 tappable (click)="salesOrder()">
        <img src="assets/img/work_bench/dingdan.png">
        <div>订单</div>
      </ion-col>-->
      <!--<ion-col col-3>
        <img src="assets/img/work_bench/duizhang.png">
        <div>对账</div>
      </ion-col>-->
      <!--<ion-col col-3>
        <img src="assets/img/work_bench/tuihuoruku.png">
        <div>退货入库</div>
      </ion-col>-->
    </ion-row>
  </ion-grid>
  <div class='dividingLine'></div>
</div>

  <div *ngIf="isShowPurchase">
    <div class="externalDiv">
      <div class="titleFont">采购</div>
    </div>
    <ion-grid>
      <ion-row>
        <!--<ion-col col-3>
          <img src="assets/img/work_bench/yibiaopan.png">
          <div>仪表盘</div>
        </ion-col>-->
        <ion-col col-3 tappable (click)="supplierList()">
          <img src="assets/img/work_bench/gongyingshang.png">
          <div>供应商</div>
        </ion-col>
        <ion-col col-3 tappable (click)="ProductionSearch()">
          <img src="assets/img/work_bench/chanping.png">
          <div>产品</div>
        </ion-col>
        <ion-col col-3 tappable (click)="purchaseOrder()">
          <img src="assets/img/work_bench/dingdan.png">
          <div>订单</div>
        </ion-col>
        <ion-col col-3 tappable (click)="clickInComingWareHouse()">
          <img src="assets/img/work_bench/ruku.png">
          <div>入库</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <!--<ion-col col-3>
          <img src="assets/img/work_bench/duizhang.png">
          <div>对账</div>
        </ion-col>-->
        <!--<ion-col col-3 tappable (click)="clickInComingWareHouse()">
          <img src="assets/img/work_bench/ruku.png">
          <div>入库</div>
        </ion-col>-->
      </ion-row>
    </ion-grid>
    <div class='dividingLine'></div>
  </div>

  <div class="externalDiv">
    <div class="titleFont">工程</div>
  </div>
  <ion-grid>
    <ion-row>
      <!--<ion-col col-3>
        <img src="assets/img/work_bench/qiandao.png">
        <div>签到</div>
      </ion-col>-->
      <ion-col col-3 tappable (click)="material_request()">
        <img src="assets/img/work_bench/shenqing.png">
        <div>工程领料</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class='dividingLine'></div>

<div *ngIf="isHR" >


  <div class="externalDiv">
    <div class="titleFont">人事</div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <img src="assets/img/work_bench/ruzhi.png">
        <div>入职</div>
      </ion-col>
      <ion-col col-3>
        <img src="assets/img/work_bench/yuangong.png">
        <div>员工</div>
      </ion-col>
      <ion-col col-3>
        <img src="assets/img/work_bench/heyue.png">
        <div>合约</div>
      </ion-col>
      <ion-col col-3>
        <img src="assets/img/work_bench/lizhidan.png">
        <div>离职单</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
