@import "./../../../node_modules/ionic2-auto-complete/auto-complete";
page-work-bench {
  .textsmall {
    width:16px;
    height:16px;
  }
  .textbig {
    width:26px;
    height:16px;
  }
  .diyP {
    align-content:left
  }
  .selected {
    color: #2e3133;
    border-bottom: 2px solid #409eff;
    font-size: 15px
  }
  .normal {
    color: #c2c7cc;
    font-size: 14px
  }
  .externalDiv {
    margin-top: 20px;
    height: 20px;
  }
  .titleFont {
    height: 20px;
    font-size: 15px;
    color: #3A3A3A;
    letter-spacing: -0.34px;
    margin-left: 15px;
    display: inline-block;
    border-left: 3px solid #4fc3f7;
    padding-left: 10px;
    font-weight: bold;
  }
  ion-col {
    text-align: center;
  }
  ion-col div {
    margin-top: 3px;
    color: #666666;
  }
  ion-col img {
    width: 50px;
    height: 50px;
  }
  ion-row {
    margin-top: 10px;
  }
  .dividingLine {
    background: #EAE9E9;
    height: 10px;
    width: 100%;
  }
  .red-point-one:after {
    position: absolute;
    content: attr(data-attr);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: red;
    margin-top: -60px;
    line-height: 20px;
    color: white;
  }
  .red-point-two:after {
    position: absolute;
    content: attr(data-attr);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: red;
    margin-top: -60px;
    line-height: 20px;
    color: white;
  }
  .red-point-three:after {
    position: absolute;
    content: attr(data-attr);
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: red;
    margin-top: -60px;
    line-height: 20px;
    color: white;
  }
}
