page-pay-request-detail {
    .middle_item{
        width: 85%;
        margin-left: 10%;
        margin-top: 6px;
        // height:auto;
        border-radius:5px;
    }
    .imgHeard{
        border-radius: 20px;
        width: 40px;
        height: 40px;
    }

    .dividingLine {
        background: rgb(209, 209, 209);
        height: 1px;
        width: 100%;
      }
}
