page-leave-work-detail {
    .bg_main{
        background:white
    }

    .name_class{
        font-size:80%;
    }

    .state_class{
        margin-left:5px;
        font-size:80%;
        color:#E0540E
    }

    .order_class{
        float:right;
        font-size:80%;
        width:70%
    }
    
    .left_label{
        font-size:80%;
        width:67px;
        text-align: right;
        color: gray;
    }

    .item_class{
        min-height: 35px;
        height: 35px;
    }

    .imgHeard{
        border-radius: 20px;
        width: 40px;
        height: 40px;
    }

    .biaoti {
    background: white;
    height: 40px;
    color: #8a9199;
    line-height: 40px;
    margin-top: 10px;
  }

  .shu_class{
        width: 10px;
    height: 15px;
    display: inline;
    border-left: solid 3px #2597ec;
    margin-left: 8px;
    margin-top: 12.5px;
    }

    .title_class{
            display: inline-block;
    margin-top: 0px;
    width: calc(100% - 65px);
    margin-left: 10px;
    text-align: left;
    border-bottom: solid 1px #f0f2f5;
    color: #2597ec;
    }
    .line_class{
      // width: 100%;
      height: 1px;
      // background-color: red;
    }

    .plan_class{
        color: lightgray;
    background-color: white;
    line-height: 35px;
    padding-left: 20px;
    }

    .shenpi_class{
        margin:10px;
        color: gray;
    }

    .middle_item{
        width: 85%;
        margin-left: 7.5%;
        margin-top: 6px;
        // height:auto;
        border-radius:5px;
    }

    .footer_class{
        width: 100%;
    }
    
    .left_btn{
            display: inline-block;
    line-height: 44px;
    width: 50%;
    text-align: center;
    background-color: red;
    color: white;
    float: left;
    }

    .right_btn{
                line-height: 44px;
    width: 50%;
    color: white;
    text-align: center;
    float: right;
    background-color: #2597ec;
    }

    .full_btn{
        line-height: 44px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #2597ec;
    }

    .item-ios.item-block .item-inner{
        padding-right: 8px;
        border-bottom: 1px solid #f0f2f5;
    }
}   
