.ion-md-myIcon:before { content: url("../assets/fonts/logo_R.svg");}
.ion-md-myIcon-outline:before { content: url("../assets/fonts/logo_R.svg"); }


.tab-button[aria-selected=false] .ion-md-myIcon-outline:before { content: url("../assets/fonts/logo_R.svg");}
.tab-button[aria-selected=true] .ion-md-myIcon-outline:before { content: url("../assets/fonts/logo_R.svg");}

image-viewer.ion-page .image {
  
 }