page-salary-subsidy {
    .item_class{
        margin-top: 10px;
    }

    .item_empty_class{
        margin-top: 1px
    }

    .rt_name_class{
        font-size: 80%;
    margin-top: 5px;
    margin-left: 5px;
    line-height: 15px;
    }

    .money_class{
        font-size: 80%;
    color: gray;
    margin-left: 4px;
    margin-top: 10px;
    }

    .state_class{
        font-size:80%;
        float:right;
        columns: #333333;;
        font-weight:bold;
        margin-top: 6px;
    }
}
