page-purchase-account-approval-detail {
    .state_class_center{
        margin-left:5px;
        font-size:80%;
        color:#E0540E;
        display: block;
        text-align: center;
    }

    .state_class_center_block{
        margin-left:5px;
        font-size:80%;
        color:#E0540E;
        display: block;
        text-align: center;
    }

    .col_header_class{
        padding-top:22px
    }

    .col_header_class_1{
        padding-top: 9px
    }

    .bg_main{
        background:white
    }

    .name_class{
        font-size:80%;
    }

    .state_class{
        margin-left:5px;
        font-size:80%;
        color:#E0540E;
        text-align: center;
    }

    .div_all {
        padding-left: 16px;
        padding-top: 10px;
        overflow: hidden;
        background-color: white;
      }
      .div_right {
        float: right;
        // font-size: 80%;
        width: 70%;
        color: #8b8b8b;
        margin-top: 2px;
        margin-left: 20px;
        padding-right: 10px;
        line-height: 17px;
      }
      .div_left {
        font-size: 80%;
        width: 30%;
      }

      .left_label{
        font-size:80%;
        width:67px;
        text-align: right;
        color: gray;
    }

    .qp_amount{
        height: 40px;
    line-height: 40px;
    background-color: white;
    text-align: right;
    padding-right: 15px;
    border-top: 1px solid #f0f2f5;
    font-weight: bold;
    color: #333333;
    }

    .watch_total_detail{
        height: 40px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    padding-right: 15px;
    font-weight: bold;
    color: #2597ec;
    margin-bottom: 8px;
    margin-top: -10px;
    border-top: 1px solid #f0f2f5;
    }

    .header_text_class{
        height: 28px;
    line-height: 28px;
    color: gray;
    background-color: #f0f2f5;
    padding-left: 10px;
    font-size: 13px;
    }

    .footer_class{
        width: 100%;
    }

    .left_btn{
        display: inline-block;
        line-height: 44px;
        width: 50%;
        text-align: center;
        background-color: red;
        color: white;
        float: left;
    }

    .right_btn{
        line-height: 44px;
        width: 50%;
        color: white;
        text-align: center;
        float: right;
        background-color: #2597ec;
    }


    .span_employee_class{
        margin-top:3px;
        color:black;
        font-size:80%;
        float:left
    }

    .span_time_class{
        font-size:70%;
        margin-top:5px;
        margin-left:-5px;
        float:right
    }

    .size_class{
        font-size:80%;
    }

    .middle_item{
        width: 85%;
        margin-left: 10%;
        margin-top: 6px;
        // height:auto;
        border-radius:5px;
    }
    .user_ava_class{
        width:40px;
        vertical-align:top;
        float:left;
        margin-right:10px;
        border-radius:20px
    }

    .div_label {
        background: #f0f2f5;
        padding-left: 16px;
        padding-bottom: 8px;
        margin-bottom: 0px;
        margin-right: 0px
    }

    .body_div_bottom_class{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
    }

    .class_margin_bottom{
        margin-bottom: 0px;
    }

    .class_no_margin_bottom{
        margin-bottom: 0px;
    }

    .empty_dikou_class{
        height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: white;
    color: gray;
    }

    .list-ios .item-block .item-inner{
        border-color: white;
    }

    .item_class{
        margin-top: 10px;
    }

    .item_empty_class{
        margin-top: 1px
    }
    .rt_name_class{
        font-size: 80%;
    margin-top: 5px;
    margin-left: 5px;
    line-height: 15px;
    }

    .money_class{
        font-size: 80%;
    color: gray;
    margin-left: 4px;
    margin-top: 5px;
    }

    .department_class{
            font-size: 80%;
    color: gray;
    margin-left: 5px;
    }

    .time_class{
        font-size:70%;
        float:right;
        color:gray;
        margin-top:6px;
    }

    .state_class{
        font-size:70%;
        float:right;
        color:red;
        font-weight:bold;
        margin-top: 3px;
    }

    .amount_class{
        text-align: right;
    padding-right: 20px;
    color: gray;
    }

    .amount_back_class{
        background-color: white;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }


    .div_all_amount {
        padding-left: 16px;
        // padding-top: 10px;
        overflow: hidden;
        background-color: white;
      }
      .div_right_amount {
        float: right;
        // font-size: 80%;
        width: 20%;
        color: gray;
        margin-top: 2px;
        margin-left: 20px;
        padding-right: 10px;
        line-height: 17px;
      }
      .div_left_amount {
        width: 80%;
        color: gray;
      }

      .left_label_amount{
        width:67px;
        text-align: right;
        color: gray;
    }

    .differ_class{
        width: 100%;
        height: 1px;
        background-color: #f0f2f5;
        margin-top: 9px;
    }

    .shu_class{
        width: 10px;
    height: 10px;
    /* background-color: red; */
    display: inline-block;
    border-left: solid 3px #2597ec;
    margin-left: 13px;
    margin-top: 9.5px;
    }
}
