page-cam-card {
   
 #indexs-bar {
   margin-top: 70px;
    width: 25px;
    text-align: center;
    float: right;
    position: absolute;
    right: 0;
    z-index: 101;
    height: 100%;
    .index-bar {
      margin: 1px 0;
      line-height: 20px;
    }
     vertical-align:center;
  }


}
