<!--
  Generated template for the MePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <!-- <ion-navbar color="gongdan-color" hideBackButton="true">
      <ion-title>首页</ion-title>
    </ion-navbar> -->
<ion-grid style="background-image:url('assets/img/meBacground.png');background-repeat:round;">
  <ion-row style="min-height:230px">
    <ion-col>
        <ion-buttons left *ngIf="from==true">
            <button  icon-only (click)="goBack()" style="background-color: transparent">
              <ion-icon name="arrow-back" style="color: white"></ion-icon>
            </button>
          </ion-buttons>
      <div style="margin-left:auto;margin-right:auto;text-align:center;margin-top:45px" tappable (click)='editInformation()'>
        <img src={{user_heard}} class="image1" alt="">
        <p style="color:white;font-size:18px;margin-top:1px">{{name}}</p>
        <p style="color:#bfdfff;font-size:12px;margin-top:-9px">{{company}}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-header>

  <ion-content class="outer-content" style="background:#f0f2f5">
    
    <ion-list no-lines>
      <ion-item style="min-height:50px" tappable (click)="checkVersion()">
        <img item-start src="assets/img/version_icon.png" style="width:23px;height:23px"> 
        <!-- <ion-icon name="brush" item-start color="secondary"></ion-icon> -->
        <ion-label style="color:2e3033;font-size:14px">版本号{{versionNumber}}</ion-label>
        <img src="assets/img/journal_sheet/right_icon.png" item-end style="width:15px;height:15px;">
      </ion-item>
      <ion-item   tappable  *ngIf="loginIndex==0"   style="min-height:50px" (click)='changePassword()'>
          <img item-start src="assets/img/edit_password.png" style="width:23px;height:23px"> 
          <!-- <ion-icon name="brush" item-start color="secondary"></ion-icon> -->
          <ion-label style="color:2e3033;font-size:14px">修改密码</ion-label>
        </ion-item>
    </ion-list>
    <div  style="text-align:center;background:white;line-height:50px;height:50px" tappable (click)="outToLogin()">
        <p style="color:2e3033;font-size:18px">退出登录</p>
    </div>
  </ion-content>
