page-me {
    .container{
        width: 100%;
        height: 100%;
        background: white;
    }
    .header-md::after{
        background-image: none!important;
    }
    .toolbar-background-md{
        background: white!important;
        background-color: white!important;
    }
    .toolbar-content{
        background: white;
    }
    .user_top{
        background:white;
        // padding-top: 50px;
        padding-bottom: 30px;
        padding-left: 50px;
        overflow: hidden;
    }
    .user_top img{
        width: 20%;
        float: left;
        margin-top: 24px;
        margin-right: 20px;
    }
    .user_top>div{
        float: left;
        margin-top: 10px;
    }
    .top_text h4{
        font-weight: bold;
        color: rgba(0,0,0,.8);
        margin-bottom: -8px;
    }
    .top_text p{
        color: rgba(0,0,0,.5);
        margin-bottom: -15px;
    }
    .edit_wraper{
        margin-top: 30px;
        padding-right: 10px;
        overflow: hidden;
        color: #4876ff;
    }
    .edit_wraper>div{
        float: right;
        padding-bottom: 10px;
    }
 
    .main_content{
        background: #f2f2f2;
        padding-top: 8px;
    }
    .main_content>div{
        background: white;
        padding: 12px;
        margin-bottom: 8px;
    }
    .main_content>div ion-icon{
        color: #4876ff;
        margin-right: 10px;
    }
    .main_content>div .enter_icon{
        color: #cacaca;
        float: right;
        margin-top: 2px;
    }
    .main_content>div>div{
        background: white;
        margin-bottom: 8px;
    }
}
