page-salary {
  .body_img_class {
    width: 35px
  }

  .col_class {
    margin-top: -5px;
  }

  .body_class {
    margin-left: -15px;
  }

  .body_row_class {
    margin-left: 15px;
    // border-bottom: solid 1px #f0f2f5;
    height: 80px;
    margin-right: 5px;
    margin-top: 3px;
  }


  .text_class {
    margin-top: 2px;
    font-size: 12px;
    color: #5c6166;
    font-family: arial;
  }

  .grid_class {
    background-color: white;
  }

  .number_class{
            width: 17px;
    height: 17px;
    background-color: red;
    color: white;
    border-radius: 8.5px;
    line-height: 17px;
    position: absolute;
    right: 20px;
    top: -3px;
    font-size: 13px;
        }

    .big_number_class{
            width: 30px;
    height: 17px;
    background-color: red;
    color: white;
    border-radius: 8.5px;
    line-height: 17px;
    position: absolute;
    right: 20px;
    top: -3px;
    font-size: 13px;
        }
}
