page-baobiao-detail {
.row_class{
        background-color:#1eabf1;
        margin-top:-32px;
        height:80px;
    }
    .first_class{
        color:#1eabf1;
        font-size:14px;
        margin-top:7px;
        color:white;
    }
    .second_class{
        color:white;
        margin-top:-5px;
         font-size:16px;
    }
    .left_div{
        background:white;
        width:40%;
        height:60px;
        float:left;

    }
    .right_div{
        background:white;
        width:60%;
        height:60px;
        float:right;
    }
    .left_btn{
        margin-top:13px;
        margin-left:13px;
        background:#3fd5c5;
        width:10px;
        height:10px;
        float:left;
    }
    .left_p{
        margin-left:30px;
        margin-top:9px;
        font-size:13px;
        color:gray;
    }
    .right_btn{
        margin-left:13px;
        margin-top:-3px;
        background-color:#fec564;
        width:10px;
        height:10px;
        float:left;
    }
    .right_p{
        margin-left:30px;
        margin-top:-7px;
        font-size:13px;
        color:gray;
    }
    .item-inner{
min-height: 1px !important;
}
}
