page-baobiao-detail {
.row_class{
        background-color:#2bb3f2;
        margin-top:-17px;
        height:80px;
    }
    .first_class{
        color:#5bc5f3;
        font-size:14px;
        margin-top:15px;
        color:white;
    }
    .second_class{
        color:white;
        margin-top:-5px;
         font-size:16px;
    }
    .left_div{
        background:white;
        width:40%;
        height:60px;
        float:left;

    }
    .right_div{
        background:white;
        width:60%;
        height:60px;
        float:right;
    }
    .left_btn{
        margin-top:10px;
        margin-left:13px;
        background:#3fd5c5;
        width:10px;
        height:14px;
        float:left;
    }
    .left_p{
        margin-left:33px;
        margin-top:8px;
        font-size:13px;
        color:gray;
    }
    .right_btn{
        margin-left:13px;
        margin-top:-6px;
        background:#fec564;
        width:10px;
        height:14px;
        float:left;
    }
    .right_p{
        margin-left:33px;
        margin-top:-8px;
        font-size:13px;
        color:gray;
    }
    .item-inner{
min-height: 1px !important;
}
}
