page-material-request-detail {
    .detail_div{
        height:20px;
        border-bottom:lightgray 1px solid;
        overflow:hidden;
        background: white;
        margin-top:10px;
    }
    .middle_item{
        width: 85%;
        margin-left: 10%;
        margin-top: 6px;
        // height:auto;
        border-radius:5px;
    }
}
