page-create-gongdan {
  // .span_x {
  //   display: block;
  //   width: 120px;
  //   overflow: hidden;
  //   white-space: nowrap;
  //   text-overflow: ellipsis;
  // }
  .biaoqian_div_unchoose {
    background-color: #f0f2f5;
    color: black;
    height: 44px;
    line-height: 44px;
    border-radius: 5px;
  }
  .biaoqian_div_choose {
    background-color: #fba958;
    color: white;
    height: 44px;
    line-height: 44px;
    border-radius: 5px;
  }
}
