<!--
  Generated template for the CreateGongdanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



  <ion-navbar hideBackButton="true" color="gongdan-color">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>新建工单</ion-title>
    <ion-buttons end>
      <button ion-button (click)='release()'>
        发布
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item>
    <ion-input [(ngModel)]="title" placeholder="请输入标题"></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea rows="8" text-wrap placeholder='问题描述' [(ngModel)]="description" class='area_class'>
    </ion-textarea>
  </ion-item>

  <ion-grid>
    <ion-row>
        <ion-col col-4  style="position:relative;height:106px;margin-top:5px" *ngFor="let item of imgList" on-hold="onHold()" (click)="clickPicture(item)">
          
          <img src={{item}} style="position:absolute;
        clip:rect(0px,106px,106px,0px);" />
        </ion-col>
      <ion-col col-4 tappable (click)="addImg()" style="margin-top:5px">
        <img src="assets/img/add.png" />
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-item>
    <ion-label style="color:black">优先级</ion-label>
    <ion-select [(ngModel)]="priorityId" class="normal-select">
      <ion-option *ngFor="let item of priority;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
    </ion-select>
  </ion-item>

  <button ion-item (click)="chooseWhoCanSee()">
    <span style="float:right;text-align:right" class="span_x">{{whoCanSee}}</span>
    谁可以看
  </button>
  <button ion-item (click)="assignPeople()">
    <span style="float:right">{{choosePeopleName}}</span>
    指派受理人
    <span style="color:#999999">(不知可不填)</span>
  </button>

  <button ion-item (click)="chooseBiaoqian()">
    <div style="position: relative;">
      <span style="    display: inline-block;
        position: absolute;
        top: calc(50% - 11px);display: inline-block"> 选择标签</span>

      <div style="justify-content:space-around;white-space: pre-line;width: 200px;display: inline-block;
      position: relative;top: calc(50% - 11px);
      left: 88px;">
        <span round style='background-color:#f5a623;flex :1 1 100%' *ngFor="let item of all_tag_list" ion-button>
          {{item.name}}
        </span>
      </div>
    </div>

  </button>


</ion-content>
