page-hk-cust-in-detail {
    .div_all {
    padding-left: 16px;
    padding-top: 16px;
    overflow: hidden
  }
  .div_right_input{
      float:right;
    width: 70%;
    color: #8b8b8b;
    margin-top: -7px;
    margin-left: 20px;
    line-height: 17px;
  }

  .div_right {
    float:right;
    width: 70%;
    color: #8b8b8b;
    margin-top: 2px;
    margin-left: 20px;
    line-height: 17px;
  }
  .div_left {
    width: 30%;
  }

    .bx_detail_class{
        height: 28px;
        line-height: 28px;
        color: gray;
        background-color: #f0f2f5;
        padding-left: 10px;
        font-size: 13px;
    }

    .item_now_class{
      min-height: 45px;
      height: 45px;
    }


    .label_class{
        color:#333333;font-size: 15px;
    }

    .p_class{
        float: right;
        line-height: 25px;
        font-size: 15px;
        color: #333333;
        width: 70%;
        text-align: right;
    }

    .item-ios.item-block .item-inner{
        padding-right: 8px;
        border-bottom: 1px solid #f0f2f5;
    }

    .new_p_class{
        color: #8b8b8b;
        float: right;
        line-height: 25px;
        font-size: 15px;
        width: 70%;
        text-align: right;
    }
}
