
/* 右侧显示订单状态字体的样式 */
.rightStateFont{
    font-size:100%!important;
    float:right!important;
    color:#fc6621!important;
}

/* 搜索字体的样式 */
.searchFont {
    height:40px!important;
    font-size:15px!important;
    font-weight:bold!important;
    background-color:white!important;
}

.itemLabelRight{
    font-size: 70%!important;
    color: #605E5E !important;
}
.searchBackground{
    /*background: #D6D6D6!important;*/
}

.divLine{
    width: 100%;
    height: 1px;
    background: #D6D6D6;
}

ion-list ion-col{
    font-size: 80%;
}

.right_label{
    font-size:70%!important;
    text-align:right!important;
}

.searchbar-ios {
  padding: 0 8px;
  min-height: 44px;
  border-top: 0.55px solid transparent;
  background: #f0f2f5;
  border-bottom: 0px solid rgba(0, 0, 0, 0.05);
}


.searchbar-ios .searchbar-input {
  padding: 0 28px;
  border-radius: 22px;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  /*background-color: #f0f2f5;*/
  /*background-color: #fff;*/
}

.searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 20px;
    background-position: left 8px center;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #f0f2f5;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .bar-workbench {
    background:url(img/add.png) no-repeat center;
  }

  .tabs-md .tab-button-icon {
  margin-top: 1px;
  min-width: 2.4rem;
  font-size: 2.4rem;
  color: #999999;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: 50% 150%;
  transform-origin: 50% 150%;
}

.tabs-md .tab-button {
  min-height: 5.6rem;
  font-weight: normal;
  color: #999999;
  padding: 0;
}

.tabs-ios .tab-button {
  max-width: 240px;
  min-height: 49px;
  font-size: 10px;
  font-weight: 500;
  color: #999999;
  padding: 0 2px;
}

.tabs-ios .tab-button-icon {
  margin-top: 4px;
  margin-bottom: 1px;
  min-width: 35px;
  height: 30px;
  font-size: 30px;
  color: #999999;
}

.fab ion-icon {
    flex: 1;
    font-size: 3.0rem;
}


.fab ion-icon {
    font-size: 2.8rem;
}

.fab-md{
    background-color: #1897f2;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon{
    color: #1897f2;
}

.tabs-md .tab-button[aria-selected=true]{
    color: #1897f2;
}


.badge-ios{
    color: red;
    background-color: red
}

.tab-badge {
    right: 4%;
    top: 6%;
    right: calc(50% - 50px);
    /* padding: 1px 6px; */
    position: absolute;
    height: auto;
    font-size: 1px;
    line-height: 9px;
    width: 8px;
    padding: 0px;
    padding-top: 1px;
  }

  .fab[mini] .fab-close-icon {
    line-height: 50px;
  }




  
