page-add-employee {
  .biaoti {
    background: white;
    height: 40px;
    color: #8a9199;
    line-height: 40px;
  }
  .sub_title_class{
    padding-left: 14px;
    color: #c2c7cc;
    margin-top:10px;
  }

  .header_div_class{
    text-align: center;
    color: #2597ec;
    background-color: #f0f2f5;
    height: 30px;
    line-height: 30px;
  }

  .span_sex_class{
        padding-right: 10px;
    line-height: 39px;
  }

  .body_type_class{
            display: inline-block;
    }

    .shu_class{
        width: 10px;
    height: 15px;
    display: inline;
    border-left: solid 3px #2597ec;
    margin-left: 8px;
    margin-top: 12.5px;
    }

    .title_class{
            display: inline-block;
    margin-top: 0px;
    width: calc(100% - 16px);
    margin-left: 5px;
    text-align: left;
    border-bottom: solid 1px #f0f2f5;
    color: #2597ec;
    }

    .line_class{
      // width: 100%;
      height: 1px;
      // background-color: red;
    }

    

    .item-ios.item-block .item-inner{
        padding-right: 8px;
        border-bottom: 1px solid #f0f2f5;
    }

    .item_differ_class{
      height:10px;
      background-color: #f0f2f5;
    }

    .item_now_class{
      min-height: 45px;
      height: 45px;
    }

    .icon_class{
          font-family: "Ionicons" !important;
    font-size: 24px;
    font-style: normal;
    float: right;
    margin-top: -31px;
    padding-right: 15px;
    }

    .id_card_class{
      padding-left:10%;
      padding-right:10%;
      margin-top: calc(50% + 20px);
    }

    .final_btn_class{
      width: 220px;
    height: 50px;
    font-size: 17px;
    border-radius: 30px;
    margin-top: 30px;
    background: #409eff;
    }
}
