<!--
  Generated template for the EditVacationDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="gongdan-color" hideBackButton="true">
    <ion-buttons left>
      <button style="font-size:14px" ion-button icon-only (click)="goBack()">取消</button>
    </ion-buttons>
    <ion-title>休假明细</ion-title>
    <ion-buttons right>
      <button style="font-size:14px" ion-button icon-only (click)="add_detail()">确定            
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color:#f0f2f5">
  <div class="warning_div">
    {{show_str}}
  </div>
  <!--<div class="item_vacation_class_time">
    <div class="left_title_class">休假类型</div>
    <div class="right_input_class">
      <ion-select interface="popover" [(ngModel)]="type_name" (ionChange)="typeChange($event)" style="font-size: 13px;color: #8d9296;height:35px">
        <ion-option no-lines *ngFor="let item of type_arr" style="font-size: 13px">{{item.type_name}}</ion-option>
      </ion-select>
    </div>
  </div>-->
  <ion-item no-lines style="min-height: 20px;padding-left: 0px;border-bottom:#f0f2f5 1px solid;">
      <ion-label style="font-size: 15px;padding-left: 10px">休假类型
        
      </ion-label>
      <ion-select interface="popover" [(ngModel)]="type_name" (ionChange)="typeChange($event)" style="font-size: 13px;color: #8d9296">
        <ion-option no-lines *ngFor="let item of type_arr" style="font-size: 13px">{{item.type_name}}</ion-option>
      </ion-select>
    </ion-item>

  <div class="item_vacation_class_time">
    <div class="left_title_class_new">开始时间</div>
    <div class="right_input_class">
      <input type="text" id="input_start_datetime" placeholder="请选择" class="class_start_date" value="{{start_date}}">
    </div>
  </div>

  <div class="item_vacation_class_time">
    <div class="left_title_class_new">结束时间</div>
    <div class="right_input_class">
      <input type="text" id="input_end_datetime" placeholder="请选择" class="class_start_date" value="{{end_date}}">
    </div>
  </div>
  <div class="right_input_class_xiaoji">
    小时：{{duration}}h
  </div>

  <ion-item no-lines style="margin-top:35px;">

    <ion-label class="left_title_class">备注</ion-label>

  </ion-item>
  <ion-item no-lines>
    <ion-textarea rows="15" style="margin-left:10px;" text-wrap placeholder='请输入休假说明' [(ngModel)]="remarks" class='area_class'>
    </ion-textarea>
  </ion-item>
</ion-content>