page-production-detail {
    .first_div h3{
        text-align: center;
        color: white;
    }

    .first_div h2{
        text-align: center;
        color: white;
    }

    .first_div{
        border:2px;
        border-color:black;
    }

    .grid_header{
        background: #55c4f5;
    }
}
