page-moments-detail {

    .col_first{
        margin-left: 40px;
        position:relative;
        height:87px;
        // margin-top:3px
    }

    .col_other{
        // margin-left: 7px;
        position:relative;
        height:87px;
        // margin-top:3px
    }

    .row_three{
        height: 100px;
        margin-top: -20px;
    }

    .row_six{
        height: 200px;
        margin-top: -20px;
    }

    .row_nine{
        height: 300px;
        margin-top: -20px;
    }

    .input_class{
        background-color: #eeeeee;
height: 34px;
margin-top: 5px;
margin-left: 10px;
line-height: 34px;
border-radius: 6px;
padding-left: 10px;
padding-right: 10px;
color: gray;
padding-bottom: 10px;
-webkit-appearance: none;
}

.footer_class{
    background: white;
border-top: solid 1px #f0f2f5;
height: 44px;
}

.differ_div_class{
    margin-top: 5px;
color: gray;
text-align: center;
background: #f0f2f5;
height: 30px;
}

.message_list{
    padding-bottom:30px;
}

.div_message{
    background-color:white;
    margin-top:10px;
    border-bottom: solid 1px  #f0f2f5
}

.img_message_ava{
    
    width: 30px;
    height:30px;
    border-radius: 15px;
    margin-top:15px;
    margin-left: -10px;
}

.name_message{
    margin-top:12px;
    line-height: 40px;
    margin-left: -20px;
    color:#8a9299;
    font-size: 14px;

}

.reply_small_icon{
    margin-top: 23px;
    width: 17px;
    height: 17px;
}

.zan_small_icon{
    width: 17px;
    height: 17px;
    margin-left: 10px;
}

.img_span_class{
    color: #cdcdcd;
    font-size: 100%;
    margin-top: 25px;
    position: absolute;
    margin-left: 3px
}

.content_message_empty{
   font-size: 16px;
   color:white;
   border-bottom: 1px #f0f2f5 solid;
   line-height:30px;
}

.content_message_empty_no_lines{
   font-size: 16px;
   color:white;
   line-height:30px;
}

.item_class_image_p{
    margin-top:-3px
}

.item_calss_one{
    padding-left: 15px;
    margin-top: -17px;
}

.item_class_normal_p{
    padding-bottom: 7px;
    padding-right: 7px;
}

.item_class_image_p{
    margin-top:-3px
}
}
