<!--
  Generated template for the ReimbursementDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background:#f0f0f0">
  <ion-list>
    <ion-item>
      <ion-label style="font-size:85%;font-weight:bold">申请人</ion-label>
      <ion-label text-wrap item-end style="font-size:75%;text-align:right;">{{item.employee_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size:85%;font-weight:bold">部门（费用归属）</ion-label>
      <ion-label item-end style="font-size:75%;text-align:right;">{{item.department}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label style="font-size:85%;font-weight:bold">暂支余额</ion-label>
      <ion-label item-end style="font-size:75%;text-align:right;">{{item.pre_payment_reminding}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label class="total_amount">金额总计（元）：{{item.amount}}</ion-label>
  </ion-item>
  </ion-list>

  <ion-item-group >
    <ion-item *ngFor='let items of item.line_ids'>
          <p style="float:right">金额：{{items.unit_amount}}</p>
          <h3 text-wrap>报销明细</h3>
          <p text-wrap style="font-size:80%;color:gray;">消费用途：{{items.name}}</p>
          <p text-wrap style="font-size:80%;color:gray;float:right;margin-right:140px;">税金：{{items.tax_ids[0].display_name}}</p>
          <p text-wrap style="font-size:80%;color:gray;">费用类别：{{items.product_id}}</p>
          <p text-wrap style="font-size:80%;color:gray">备注：{{items.description}} </p>
    </ion-item>
  </ion-item-group>

  <div style="margin:10px;">审批记录</div>
  <ion-list>
    <ion-item no-lines *ngFor='let items of item.message_ids' style="overflow:hidden" class="middle_item">
          <img item-start style="width:40px;" src={{items.create_person_ava}}>
          <div style="overflow:hidden">
          <span style="margin-top:3px;color:black;font-size:80%;float:left">{{items.create_person}}</span>

          <span style="font-size:70%;margin-top:5px;margin-left:-5px;float:right">{{items.create_time}}</span>
          </div>
          <p *ngIf="items.old_state || items.new_state" style="font-size:80%;">{{items.old_state}}=>{{items.new_state}}</p>
          <p text-wrap style="font-size:80%;">{{items.description}}</p>
    </ion-item>
  </ion-list>
  
</ion-content>

<ion-footer *ngIf="isShowFooter">
  <ion-toolbar>
    <button ion-button ion-end  style='width:50%;float:right;background-color:#1eabfe' tappable (click)='conform()' full>通过</button>
    <button ion-button ion-start  style='width:50%;background-color:red' tappable (click)='cancel()' full>拒绝</button>
  </ion-toolbar>
</ion-footer>
