page-pay-request {
    .select{
        margin-top:0px;
        color:white;
        font-size:15px;
    }

    .un_select{
        margin-top:0px;
        color:#b6d9f2;
        font-size:15px;
    }

    .row_class{
        height:40px;
        font-size:20px;
    }
}
