page-performance-start {
    .image1{ 
        border-radius:200px; 
        width: 25px;
        height: 25px;
    }
    .star-div {
        padding-left: 17px;
        ion-icon {
          float: left;
          font-size: 24px;
        }
    }

    .wait{
        color: #fba958
    }

    .finish {
        color: #2597ec
    }
}
