page-performance-start {
    .image1{ 
        border-radius:200px; 
        width: 25px;
        height: 25px;
    }
    .star-div {
        width: 80%;
        height: 40px;
        padding-left: 20px;
        ion-icon {
          float: left;
          font-size: 28px;
        }
    }
}
