page-momengs-circle {

    .icon_all{
        width: 25px;
        height: 25px;
        padding: 4px;
        margin-left: 15px
    }

    .span_icon_all{
        position: absolute;
        color: #b7b7b7;
        margin-top: 5px;
        margin-left: -5px
    }

    .span_icon_zan{
        position: absolute;
        color: #b7b7b7;
        margin-top: 5px;
        margin-left: -2px
    }

    .col_comments_content{
        padding: 0px;
        height: 35px;
        margin-right: 10px
    }

    .col_content_quanzi{
        padding-top:17px;
        margin-left: -10px;
        margin-right: 10px
    }

    .div_header{
        background-color: #2597ec;
        width: 100%;
    }

    .p_header_type_select {
        color: white;
        font-size: 95%;
        font-weight: bold;
    }

    .p_header_type_notselected {
        color: #97cefd;
        font-size: 95%
    }

    .col_first{
        margin-left: 40px;
        position:relative;
        height:87px;
        // margin-top:3px
    }

    .col_other{
        position:relative;
        height:87px;
        // margin-top:3px
    }

    .row_three{
        height: 100px;
        margin-top: -20px;
    }

    .row_six{
        height: 200px;
        margin-top: -20px;
    }

    .row_nine{
        height: 300px;
        margin-top: -20px;
    }

    .un_read_class{
        width: 100px;
background-color: #c0c4cb;
text-align: center;
height: 24px;
line-height: 26px; // android 26px
font-size: 13px;
margin-top: 7px;
border-radius: 4px;
color: white;
}
}
