page-bill-detail {
    .left_label{
        font-size:80%;
        width:30%;
        text-align:left;
    }
    .test_one{
        color:black;
        width:30px;
        height: 40px;
        line-height: 40px;
        border-bottom:#2699ef 3px solid;
        color:#2699ef;
    }

    .test_two{
        color:black;
        width:85px;
        height: 40px;
        line-height: 40px;
        border-bottom:#2699ef 3px solid;
        color:#2699ef
    }

    .grid_class{
        // border-top:#f0f0f0 1px solid;
        // border-bottom:#f0f0f0 1px solid;
        // height:40px;
    }

    .item_class{
        height:35px;
        min-height:35px;
    }

    .progress_x{
    float: right;
    width: 100px;
    height: 5px;
    margin-right: 50px;
    margin-top: 4px;
  }

  .list_class{
      margin-top:10px
  }

  .progress-outer {
        width: 25%;
        margin: 10px 2%;
        // padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
    }

    .divider_header_class{
        height:4px;
        min-height:4px;
        background-color:white
    }
}
