page-shop-visit {
    .bg_class{
            margin-top: 10px;
    background-color: white;
    }

    .record_class{
           margin-left: 16px;
    padding-top: 15px;
    font-size: 15px; 
    }
}
