<!--
  Generated template for the FirstShowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar color="gongdan-color" hideBackButton="true">
        <button ion-button style="background-color: transparent">
            <img src={{user_heard}} class="image1" tappable (click)="mePage()">
        </button>
      <ion-title>首页</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div style="padding: 1px;text-align: center;" overflow-scroll="true">
      <p class="month_message">
          <span tappable (click)="delete_month()">{{"<"}}</span><span style="margin-left:10px">{{currentDate}}</span><span style="margin-left:10px" tappable (click)="add_month()">{{">"}}</span>
      </p>
    </div>
    <ion-fab style="margin-bottom:90px;position:fixed;" bottom right edge>
        <button style="box-shadow:1px 2px 10px #888888;width: 50px;height: 50px;background-color: #2597ec" (click)="createWait()" ion-fab mini><ion-icon name="add" style="color: white"></ion-icon></button>
    </ion-fab>
      <div class="box-flex" style="margin-left: 10px;margin-right: 10px;" overflow-scroll="true">  
          <div class="flex-item">  
            <div class="item-content-header">一</div>  
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">二</div>
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">三</div>  
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">四</div>  
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">五</div>  
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">六</div>  
          </div>   
          <div class="flex-item">  
              <div class="item-content-header">日</div>  
            </div>
        </div>
            <div class="box-flex" (pan)="panEvent($event)" style='margin-top:-10px;margin-left: 10px;margin-right: 10px' id='box-flex'>
                <div id= "flex-item" class="flex-item" *ngFor="let vo of currentDayList" 
                tappable (click)="choose_day(vo)"
                [ngClass]="{true:'item-content bk-color-day',false:'item-content'}[currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y]" style="line-height: 44px;">  
                  <!-- <div id="item-content" tappable (click)="choose_day(vo)" [ngClass]="{true:'item-content bk-color-day',false:'item-content'}[currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y]" style="line-height: 44px;"> -->
                    <p style="height: 16px;margin-top: -3px" [ngClass]="{'pBac':currentMonth == vo.m && currentYear == vo.y,'pBacNormal':currentMonth != vo.m,'pNormal':currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y}">{{vo.d}}</p>
                    <p *ngIf="vo.s==true" [ngClass]="{true:'circleB',false:'circleA'}[currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y]"></p>
                    <!-- <span style="width: 8px;border-radius:8px;background-color:red;display:inline-block;height:8px;"></span> -->
                  <!-- </div>  -->
                </div> 
                <!-- <ion-icon *ngIf="showIcon" name="ios-arrow-down" tappable (click)="changeCalendar()" style="color: #999999;width: 100%;margin-top: 15px;text-align: center"></ion-icon> -->
                <ion-item no-lines style="margin-top: 5px;padding: 1px;border-bottom:#f0f2f5 1px solid;border-top:#f0f2f5 1px solid;min-height: 25px">
                  <ion-label style="font-size: 13px;margin-left: 15px;color: black;font-weight:bold;">{{dateNow}}</ion-label>
                  <div style="padding: 1px;" item-end class="divBac" *ngIf="showLate" tappable (click)="latePage()">
                    <p style="font-size: 10px;color: #E98553;margin-top: auto;margin-bottom: auto">{{lateNum}}个待办已逾期 》</p>
                  </div>
                </ion-item>
              </div>
          <div>
              <ion-list style="width: 100%;border-top:#f0f2f5 1px solid;">
                    <ion-item no-lines style="height: 50px;;min-height: 25px;"  *ngFor="let item of itemList" tappable (click)="gotoDeatil(item)">
                        <p item-start  *ngIf="!item.allday" style="font-size: 12px;width: 40px">{{item.event_time}}
                        </p>
                        <p item-start  *ngIf="item.allday" style="font-size: 12px;width: 40px;opacity: 0;">{{item.event_time}}
                        </p>
                      <ion-icon *ngIf="!item.state" item-start name="checkmark-circle" style="padding-top: 16px;padding-left: 3px;font-size: 15px;height: 100%;;width: 10px;color: #FFC058;border-right:#d9dadb 1px solid;"></ion-icon>
                      <ion-icon *ngIf="item.state" item-start name="checkmark-circle-outline" style="padding-top: 16px;padding-left: 3px;font-size: 15px;height: 100%;;width: 10px;color: #999999;border-right:#d9dadb 1px solid;"></ion-icon>
                      <ion-label item-end style="font-size: 12px;width: 70%">[{{item.type_name}}]:{{item.subject}}</ion-label>
                    </ion-item>
                    <ion-item no-lines style="height: 50px;;min-height: 25px;"  *ngFor="let item of notSureList" tappable (click)="gotoDeatil(item)">
                        <p item-start *ngIf="notSureList.indexOf(item)==0" style="font-size: 13px;width: 40px;color: black;">任务
                        </p>
                        <p item-start *ngIf="notSureList.indexOf(item)!=0" style="font-size: 13px;width: 40px;color: #666666;opacity: 0;">任务
                        </p>
                        <ion-icon *ngIf="!item.state" item-start name="checkmark-circle" style="padding-top: 16px;padding-left: 3px;font-size: 15px;height: 100%;;width: 10px;color: #FFC058;border-right:#d9dadb 1px solid;"></ion-icon>
                        <ion-icon *ngIf="item.state" item-start name="checkmark-circle-outline" style="padding-top: 16px;padding-left: 3px;font-size: 15px;height: 100%;;width: 10px;color: #999999;border-right:#d9dadb 1px solid;"></ion-icon>
                        <ion-label item-end style="font-size: 12px;width: 70%">[{{item.type_name}}]:{{item.subject}}</ion-label>
                      </ion-item>
              </ion-list>
        </div>
</ion-content>
