<!--
  Generated template for the FirstShowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>首页</ion-title>
  </ion-navbar>

</ion-header>


<ion-content (pan)="panEvent($event)">
  <ion-scroll scrollY="true" style="width: 100%; height: 100%">
      <div class="box-flex" >  
          <div class="flex-item">  
            <div class="item-content-header">一</div>  
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">二</div>  
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">三</div>  
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">四</div>  
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">五</div>  
          </div>  
          <div class="flex-item">  
            <div class="item-content-header">六</div>  
          </div>   
          <div class="flex-item">  
              <div class="item-content-header">日</div>  
            </div>
        </div>
        <div class="box-flex" style='margin-top:-10px' id='box-flex' style="height: 80px;">
          <div id= "flex-item" class="flex-item" *ngFor="let vo of currentDayList">  
            <div id="item-content" tappable (click)="choose_day(vo)" [ngClass]="{true:'item-content bk-color-day',false:'item-content'}[currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y]" style="line-height: 44px; ">{{vo.d}}
            </div>      
          </div> 
          <ion-icon *ngIf="showIcon" name="ios-arrow-down" tappable (click)="changeCalendar()" style="color: #999999;margin-left: auto;margin-right: auto;width: 40px"></ion-icon>
          <ion-item no-lines style="margin-top: 5px;padding: 1px;border-bottom:#f0f2f5 1px solid;border-top:#f0f2f5 1px solid;min-height: 25px">
            <ion-label style="font-size: 12px;margin-left: 15px">今天</ion-label>
            <div style="font-size: 10px;color: #E98553" item-end class="divBac">
              3个待办已逾期 》
            </div>
          </ion-item>
          <div>
              <ion-list style="width: 100%">
                    <ion-item no-lines style="height: 50px;;min-height: 25px;border-top:#f0f2f5 1px solid;">
                      <p item-start style="font-size: 12px;width: 40px">11:00
                          <!-- <ion-icon name="checkmark-circle-outline"></ion-icon> -->
                      </p>
                      <ion-icon item-start name="checkmark-circle" style="padding-top: 13px;padding-left: 3px;font-size: 15px;height: 100%;;width: 10px;color: #FFC058;border-right:#d9dadb 1px solid;"></ion-icon>
                      <ion-label item-end style="font-size: 12px;width: 70%">[招聘-面试]候选人：里唉-前端工程师</ion-label>
                    </ion-item>
              </ion-list>
        </div>
      </div>
  </ion-scroll>
</ion-content>
 