page-first-show {
    .fabBcOne{
        border-radius: 25px;
        width: 70px;
        background-color: #E98553;
        color: white;
        margin-bottom: 4px;
        margin-top: 4px;
        padding: 0px 2.5rem;
        font-size: 13px;
        height: 35px;
        font-weight: bold
    }
    .fabBcTwo{
        border-radius: 25px;
        width: 70px;
        background-color: rgb(88, 181, 224);
        color: white;
        margin-bottom: 4px;
        margin-top: 4px;
        padding: 0px 2.5rem;
        font-size: 13px;
        height: 35px;
        font-weight: bold
    }
    .fabBcThree{
        border-radius: 25px;
        width: 70px;
        background-color:  #2597ec;
        color: white;
        margin-bottom: 4px;
        margin-top: 4px;
        padding: 0px 2.5rem;
        font-size: 13px;
        height: 35px;
        font-weight: bold
    }
    .big_span_bac{
        margin-top: -46px;
        position: absolute;
        width: 23px;
        height: 17px;
        line-height: 17px;
        border-radius: 8.5px;
        background-color:red;
        display:inline-block;
        color:white;
        text-align:center;
        margin-left:11px
    }
    .normal_span_bac{
        margin-top: -46px;
        position: absolute;
        width: 17px;
        height: 17px;
        line-height: 17px;
        border-radius: 8.5px;
        background-color:red;
        display:inline-block;
        color:white;
        text-align:center;
        margin-left:11px
    }
    .selected {
        color: #409eff;
        border-bottom: 2px solid #409eff;
        font-size: 14px;
        padding-bottom: 0px;
      }
      .normal {
        color: #5a5f63;
        font-size: 14px;
        padding-bottom: 0px;
      }
    .notFinish{
        font-size: 12px;
        width: 70%;
        color: #5a5f63
    }
    .finish{
        font-size: 12px;
        width: 70%;
        color: #999999
    }
    .circleA{
        width: 6px;
        border-radius: 8px;
        background-color: #d4dbe0;
        display: inline-block;
        height: 6px;
        margin-top: -6px
    }
    .circleB{
        width: 6px;
        border-radius: 8px;
        background-color: white;
        display: inline-block;
        height: 6px;
        margin-top: -6px
    }
    .pBacNormal{
        color: #d4dbe0
    }
    .pBac{
        color: #6e7379
    }
    .pNormal{
        color: white
    }
    .image1{ 
        border-radius:200px; 
        width: 35px;
        height: 35px
    }
    .image2{ 
        border-radius:200px; 
        width: 60px;
        height: 60px
    }
    .divBac {
        background-color: rgb(255, 242, 223);
        border-radius: 10px;
        width: 30%;
        height: 20px;
        text-align: center
    }
    .textcolor1 {
        color: #1897f2;
        font-size:10px;
        line-height:1px;
        margin-top:6px;
    }

    .textcolor_normal {
        color: #8c8c8c;
        font-size:10px;
        line-height:1px;
        margin-top:6px;
    }

    .name_message{
        margin-top:12px;
        line-height: 40px;
        margin-left: -20px;
        color:#8a9299;
        font-size: 15px;
    }

    .month_message{
        line-height: 40px;
        color:#5a5f63;
        font-size: 15px;
        margin-top: 0px;
    }

    .divClass{
    width: 1px;
    position: absolute;
    left: 24px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    border-left: 1px solid #f0f0f8;
    height: 50px;
    margin-top:0px;
}

    .buttom_divider{
    position:absolute;
        bottom:180px;
        overflow:hidden;
        width:100%; 
        height:10px;
        background: #f0f2f5;  
}
.buttom_div{
         position:absolute; 
         bottom:0px; 
        /* overflow:hidden; */
        width:100%;
         height:170px; 
        background: white;
         /* display:flex;
         flex-wrap:wrap;  */
}
 
    .text_class{
  /* text-align:center; */
  width:100%;
  font-size:12px;
  height: 20px;
  display: flex;
  justify-content: center;
  color:gray;
  /* margin-top:7px; */
}

.header_class{
   position:absolute;
        bottom:180px;
        top:41px;
  background:white;
  width:100%;
  overflow:scroll;
  
}

.bottom_class{
    position:absolute;
    width: 100%;
    height: 250px;
    background:white;
    margin-top: 12px;
    overflow:scroll;
}
    
    .box-flex {  
  display: flex;  
  flex-wrap: wrap;  
  background:white;
}

    .flex-item {  
  flex-flow: nowrap;  
  flex-grow: 1;  
  flex-shrink: 1;  
  width: 13%;  
  height: 48px;
  text-align: center;
  color: white;  
  padding:5px ;
//   margin-top: -5px
} 
.item-content-header {  
  margin: 5px;  
  text-align: center;  
//    line-height: 2rem;   
   color: gray;  
}  

// .item-content{  
//   margin: 5px;  
//   text-align: center;  
//    color: gray;   
// }  

.bk-color-day {  
   background-color: #159aeb; 
  border-radius: 50%;  
  color:white;
}  

.buttom_divider{
  height:20px;
  background: #f0f2f5;  
  width: 100%;
  margin-top:0px;
}
}
