<!--
  Generated template for the FirstShowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <ion-navbar color="gongdan-color" hideBackButton="true">

    <!-- <button ion-button style="background-color: transparent;margin: 0px;height: 35px;">
            <img src={{user_heard}} class="image1" tappable (click)="mePage()">
        </button> -->
    <!--<ion-title>首页</ion-title>-->
    <button ion-button class="icon_class" tappable (click)="kaoqin()">
      <ion-icon name='pin' style="color: white;font-size: 23px"></ion-icon>
    </button>
    <div align="center" style="height:30px;margin-left:10px">
      <div style="width:33%;float:right;text-align:left" [ngClass]="{true:'test_choose',false:'test_one'}[isMessage]"
        align="center" tappable (click)="message()">
        <p [ngClass]="{true:'p_message_line_height_select',false:'p_message_line_height'}[isMessage]">消息</p>
      </div>
      <div style="width:33%;float:right" [ngClass]="{true:'test_choose',false:'test_one'}[isShen]" align="center"
        tappable (click)="consider()">
        <p [ngClass]="{true:'p_shenhe_line_height_select',false:'p_shenhe_line_height'}[isShen]">审核</p>
        <span *ngIf="isShowApprovalPoint" [ngClass]="{true:'big_span_bac',false:'normal_span_bac'}[all_approval>=10]">
          {{show_approve}}
        </span>
      </div>
      <div style="width:33%;float:left;text-align:right" [ngClass]="{true:'test_choose',false:'test_one'}[isDay]"
        align="center" tappable (click)="daything()">
        <p [ngClass]="{true:'p_daiban_line_height_select',false:'p_daiban_line_height'}[isDay]">待办</p>
      </div>
    </div>
    <!--<ion-buttons right>
    <button ion-button class="icon_class" tappable (click)="showMenu()">
            <ion-icon name='pin' style="color: white;font-size: 23px"></ion-icon>
        </button>
    </ion-buttons>-->
  </ion-navbar>
  <ion-backdrop *ngIf="isShowBac" style="opacity: 0.9; background-color: white;">
  </ion-backdrop>


</ion-header>

<!--<ion-content *ngIf='!isDay'>
  <div *ngIf='isShen'>
    <div *ngIf="vacation_num!=0 || recoup_num!=0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">人力资源</p>
      </div>
      <ion-item-group>
        <div *ngIf="vacation_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toVacation()'>
          <p style="margin-right: 15px;float: right;">{{vacation_num}}</p>
          <p style="font-size: 13px;">休假</p>
        </div>
        <div *ngIf="recoup_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toBuka()'>
          <p style="margin-right: 15px;float: right;">{{recoup_num}}</p>
          <p style="font-size: 13px;">补卡</p>
        </div>
      </ion-item-group>
    </div>
    <div *ngIf="bx_num!=0 || sg_num!=0 || yf_num!=0 || jk_num!=0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">财务</p>
      </div>
      <ion-item-group>
        <div *ngIf="bx_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable (click)='toBX()'>
          <p style="margin-right: 15px;float: right;">{{bx_num}}</p>
          <p style="font-size: 13px;">报销</p>
        </div>
        <div *ngIf="sg_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable (click)='toSG()'>
          <p style="margin-right: 15px;float: right;">{{sg_num}}</p>
          <p style="font-size: 13px;">申购</p>
        </div>
        <div *ngIf="yf_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable (click)='toYF()'>
          <p style="margin-right: 15px;float: right;">{{yf_num}}</p>
          <p style="font-size: 13px;">预支</p>
        </div>
        <div *ngIf="jk_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable (click)='toJK()'>
          <p style="margin-right: 15px;float: right;">{{jk_num}}</p>
          <p style="font-size: 13px;">借款</p>
        </div>
      </ion-item-group>
    </div>
    <div *ngIf="caigou_num!=0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">采购</p>
      </div>
      <ion-item-group>
        <div *ngIf="caigou_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toCG()'>
          <p style="margin-right: 15px;float: right;">{{caigou_num}}</p>
          <p style="font-size: 13px;">采购订单审核</p>
        </div>
      </ion-item-group>
    </div>
    <div align="center" *ngIf="vacation_num==0 && recoup_num==0 && bx_num==0 && sg_num==0 && yf_num==0 && jk_num==0 && caigou_num==0">
      <img style="width:100px;position:absolute;left:calc(50% - 50px);top:calc(50% - 60px)" src="assets/img/journal_sheet/null_state.png">
      <p style="width:120px;position:absolute;left:calc(50% - 50px);top:calc(50% + 30px);color:#c2c8cc;font-size:15px">没有待审批的～</p>
    </div>
  </div>
  <div *ngIf='isMessage'>
    <div align="center">
      <img style="width:100px;position:absolute;left:calc(50% - 50px);top:calc(50% - 60px)" src="assets/img/journal_sheet/null_state.png">
      <p style="width:120px;position:absolute;left:calc(50% - 50px);top:calc(50% + 30px);color:#c2c8cc;font-size:15px">暂时没有消息～</p>
    </div>
  </div>
</ion-content>-->

<div style="margin-top: 44px;
    height: calc(100% - 88px);background-color:white">
  <ion-content *ngIf='isDay' style="height: calc(100% + 44px);">
    <div align="center" tappable (click)="click_un_read_reply()" *ngIf="un_read_list.length > 0 && isDay">
      <div class="un_read_class">
        {{un_read_list.length}}条新回复
      </div>
    </div>
    <div style="padding: 1px;text-align: center;height: 37px;">
      <p style="font-size: 13px;color: #2597ec;float: right;margin-right: 15px;margin-top: 10px">
        <span style="font-size:14px" tappable (click)="showMenu()"> 筛选</span>
      </p>
      <div align="center" class="month_message">
        <div>
          <span tappable (click)="delete_month()">{{'<'}}</span><span style="margin-left:5px">{{currentDate}}</span>
          <span style="margin-left:0px" tappable (click)="add_month()">{{'>'}}</span>
        </div>
      </div>
    </div>
    <ion-backdrop id="bac_div" *ngIf="isShowBac" tappable (click)="closeFab()" disable-activated role="presentation"
      style="opacity: 0.9; background-color: white;transition-delay: initial;filter: blur(0px);">
    </ion-backdrop>
    <div class="box-flex" style="margin-left: 10px;margin-right: 10px;margin-top: 10px">
      <div class="flex-item">
        <div class="item-content-header">一</div>
      </div>
      <div class="flex-item">
        <div class="item-content-header">二</div>
      </div>
      <div class="flex-item">
        <div class="item-content-header">三</div>
      </div>
      <div class="flex-item">
        <div class="item-content-header">四</div>
      </div>
      <div class="flex-item">
        <div class="item-content-header">五</div>
      </div>
      <div class="flex-item">
        <div class="item-content-header">六</div>
      </div>
      <div class="flex-item">
        <div class="item-content-header">日</div>
      </div>
    </div>
    <div class="box-flex" style='margin-top:-10px;margin-left: 10px;margin-right: 10px' id='box-flex'>
      <div id="flex-item" class="flex-item" *ngFor="let vo of currentDayList" tappable (click)="choose_day(vo)"
        [ngClass]="{true:'item-content bk-color-day',false:'item-content'}[currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y]"
        style="line-height: 44px;">
        <p style="height: 16px;margin-top: -3px"
          [ngClass]="{'pBac':currentMonth == vo.m && currentYear == vo.y,'pBacNormal':currentMonth != vo.m,'pNormal':currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y}">
          {{vo.d}}</p>
        <p *ngIf="vo.s==true"
          [ngClass]="{true:'circleB',false:'circleA'}[currentDay == vo.d && currentMonth == vo.m && currentYear == vo.y]">
        </p>
      </div>

      <ion-icon *ngIf="showIcon" name="arrow-down" tappable (click)="changeCalendar()"
        style="color: #999999;width: 100%;margin-top: 15px;text-align: center"></ion-icon>
      <ion-icon *ngIf="!showIcon" name="arrow-up" tappable (click)="changeCalendarAll()"
        style="color: #999999;width: 100%;margin-top: 15px;text-align: center"></ion-icon>
      <ion-item no-lines
        style="margin-top: 5px;padding: 1px;border-bottom:#f0f2f5 1px solid;border-top:#f0f2f5 1px solid;min-height: 25px">
        <div [ngClass]="{true:'date_title_class_select',false:'date_title_class'}[head_type == 'date']" tappable
          (click)="click_head_date()">{{dateNow}}</div>
        <div [ngClass]="{true:'date_title_class_select',false:'date_title_class'}[head_type == 'wait']" tappable
          (click)="click_head_wait()">待定</div>
        <div *ngIf="showLate" tappable (click)="latePage()"
          [ngClass]="{true:'date_title_class_select',false:'date_title_class'}[head_type == 'late']">逾期({{lateNum}})
        </div>
        <div *ngIf="sch_num > 0" tappable (click)="toDB()" class="date_title_class">待指派({{sch_num}})</div>
        <div tappable (click)="toAll()" style="padding: 1px;text-align:right" item-end class="divBac">
          <p style="font-size: 12px;margin-top: auto;margin-bottom: auto;line-height: 25px;">
            <span *ngIf="need_calendar" style="color: red;padding-right:5px">●</span><span style="font-size:13px">全部
              <ion-icon style="font-size:13px;margin-left:5px;" ios="ios-arrow-forward" md="md-arrow-forward">
              </ion-icon></span>
            <!--<span>            
              <ion-icon name="arrow-forward" style="color: #E98553;margin-top: auto;margin-bottom: auto"></ion-icon>
            </span>-->
          </p>
        </div>
      </ion-item>
    </div>
    <div>
      <ion-item no-lines *ngIf="itemList.length == 0 && head_type == 'date'"
        style="min-height: 20px;padding-left: 0px;">
        <ion-label style="font-size: 13px;padding-left: 15px;text-align:center;width:100%;color:#999999;">没有添加待办
        </ion-label>
      </ion-item>
      <ion-list *ngIf='head_type =="date"' style="width: 100%;border-top:#f0f2f5 1px solid;">
        <ion-item no-lines style="height: 50px;;min-height: 25px;" *ngFor="let item of itemList" tappable
          (click)="gotoDeatil(item)">
          <p item-start style="font-size: 12px;width: 40px">{{item.event_time}}
          </p>
          <!--<p item-start *ngIf="item.allday" style="font-size: 12px;width: 40px;opacity: 0;">{{item.event_time}}
          </p>-->
          <div item-start style="height: 105%;;width: 10px">
            <div style="position: absolute;width: 1px;border-left:#f0f2f5 1px solid;height: 40%;margin-left: 4px;">
            </div>
            <img *ngIf="item.is_me_read" src="assets/img/circle_gray.png" style="padding-top: 20px">
            <img *ngIf="!item.is_me_read" src="assets/img/circle_red.png" style="padding-top: 20px">
            <div
              style="position: absolute;width: 1px;border-left:#f0f2f5 1px solid;height: 70%;margin-left: 4px;margin-top: -5px">
            </div>
          </div>
          <div [ngClass]="{true:'notFinish',false:'finish'}[item.state]">
            <div style="float: left;height: 20px;line-height: 20px;">
              <span>
                [{{item.type_name}}]{{item.rt_project_principal_display_name}}
              </span>
            </div>
            <div style="line-height: 20px;">
              <span
                style="overflow:hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space: nowrap;max-width: 230px;display: block;">
                一{{item.subject}}
              </span>
            </div>

          </div>
        </ion-item>

      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf='head_type =="date"'>
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      <ion-list *ngIf='head_type =="wait"' style="width: 100%;border-top:#f0f2f5 1px solid;">
        <!--<ion-item no-lines style="margin-top: 5px;padding: 1px;border-bottom:#f0f2f5 1px solid;border-top:#f0f2f5 1px solid;min-height: 25px"
          *ngIf="notSureList.length > 0">
          <ion-label style="font-size: 13px;margin-left: 15px;color: black;font-weight:bold;">时间待定</ion-label>
        </ion-item>-->
        <ion-item no-lines style="height: 50px;;min-height: 25px;" *ngFor="let item of notSureList" tappable
          (click)="gotoDeatil(item)">
          <p item-start style="font-size: 13px;width: 40px;">待定
          </p>
          <div item-start style="height: 105%;;width: 10px">
            <div style="position: absolute;width: 1px;border-left:#f0f2f5 1px solid;height: 40%;margin-left: 4px;">
            </div>
            <img *ngIf="item.is_me_read" src="assets/img/circle_gray.png" style="padding-top: 20px">
            <img *ngIf="!item.is_me_read" src="assets/img/circle_red.png" style="padding-top: 20px">
            <div
              style="position: absolute;width: 1px;border-left:#f0f2f5 1px solid;height: 70%;margin-left: 4px;margin-top: -5px">
            </div>
          </div>
          <div [ngClass]="{true:'notFinish',false:'finish'}[item.state]">
            <div style="float: left;height: 20px;line-height: 20px;">
              <span>
                [{{item.type_name}}]{{item.rt_project_principal_display_name}}
              </span>
            </div>
            <div style="line-height: 20px;">
              <span
                style="overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;white-space: nowrap;max-width: 230px;display: block;">
                一{{item.subject}}
              </span>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <div *ngIf='head_type =="late"' style="border-top:solid 1px #f0f2f5;margin-top:-1px">
        <div *ngFor="let subItem of late_arr" style="border-bottom:#f0f2f5 10px solid;margin-top:-1px;">
          <div class="time_late_class">
            {{subItem.time}}
          </div>
          <div *ngFor="let sub of subItem.data" class="body_class">
            <div *ngFor="let one_sub of sub.subList;let i = index" tappable (click)="toDetail_Late(one_sub)">
              <!--<div style="font-size: 12px;color: #666666;margin-top: 0px;height: 40px">[{{one_sub.type_name}}] {{one_sub.subject}}</div>-->
              <div [ngClass]="{true:'div_not_final',false:'div_empty'}[i < sub.subList.length - 1]">
                <ion-label style="color: #666666;font-size: 12px;">
                  <div style="float: left;height: 20px;line-height: 20px;">

                    <span>
                      [{{one_sub.type_name}}]{{one_sub.rt_project_principal.partner_id_s_name}}
                    </span>
                  </div>
                  <div style="line-height: 20px;">
                    <span class="subject_class">
                      一{{one_sub.subject}}
                    </span>
                  </div>
                </ion-label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ion-fab style="margin-bottom:90px;position:fixed;opacity: 1.0;" bottom right edge #fab>
      <button (click)="showback()"
        style="box-shadow:1px 2px 10px #888888;width: 50px;height: 50px;line-height: 50px;background-color: #2597ec"
        ion-fab mini>
        <ion-icon name="add" style="color: white;line-height: 50px"></ion-icon>
      </button>
      <ion-fab-list side="top" style="text-align: right">
        <button *ngFor="let item of event_list"
          [ngClass]="{'fabBcOne':event_list.indexOf(item)%3==0,'fabBcTwo':event_list.indexOf(item)%3==1,'fabBcThree':event_list.indexOf(item)%3==2}"
          ion-fab (click)="createWait(item, fab)">{{item.display_name}}</button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
  <ion-content *ngIf='isShen' style="height: calc(100% - 10px);">
    <div *ngIf="vacation_num!=0 || recoup_num!=0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span
          style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">人力资源</p>
      </div>
      <ion-item-group>
        <div *ngIf="vacation_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toVacation()'>
          <p style="margin-right: 15px;float: right;">{{vacation_num}}</p>
          <p style="font-size: 13px;">休假</p>
        </div>
        <div *ngIf="recoup_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toBuka()'>
          <p style="margin-right: 15px;float: right;">{{recoup_num}}</p>
          <p style="font-size: 13px;">补卡</p>
        </div>
      </ion-item-group>
    </div>
    <div *ngIf="bx_num!=0 || sg_num!=0 || yf_num!=0 || jk_num!=0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span
          style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">财务</p>
      </div>
      <ion-item-group>
        <div *ngIf="bx_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px"
          tappable (click)='toBX()'>
          <p style="margin-right: 15px;float: right;">{{bx_num}}</p>
          <p style="font-size: 13px;">报销</p>
        </div>
        <div *ngIf="sg_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px"
          tappable (click)='toSG()'>
          <p style="margin-right: 15px;float: right;">{{sg_num}}</p>
          <p style="font-size: 13px;">申购</p>
        </div>
        <div *ngIf="yf_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px"
          tappable (click)='toYF()'>
          <p style="margin-right: 15px;float: right;">{{yf_num}}</p>
          <p style="font-size: 13px;">预支</p>
        </div>
        <div *ngIf="jk_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px"
          tappable (click)='toJK()'>
          <p style="margin-right: 15px;float: right;">{{jk_num}}</p>
          <p style="font-size: 13px;">借款</p>
        </div>
      </ion-item-group>
    </div>
    <div *ngIf="caigou_num!=0 || pay_num!=0 || purchase_account_num!=0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span
          style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">采购</p>
      </div>
      <ion-item-group>
        <div *ngIf="caigou_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toCG()'>
          <p style="margin-right: 15px;float: right;">{{caigou_num}}</p>
          <p style="font-size: 13px;">采购订单审核</p>
        </div>
      </ion-item-group>
      <ion-item-group>
        <div *ngIf="pay_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px"
          tappable (click)='toPAY()'>
          <p style="margin-right: 15px;float: right;">{{pay_num}}</p>
          <p style="font-size: 13px;">付款审核</p>
        </div>
      </ion-item-group>
      <ion-item-group>
        <div *ngIf="purchase_account_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toPurchaseAccount()'>
          <p style="margin-right: 15px;float: right;">{{purchase_account_num}}</p>
          <p style="font-size: 13px;">对账单审核</p>
        </div>
      </ion-item-group>

    </div>
    <div *ngIf="salary_approval_num!=0 || salary_adjust_approval_num!= 0 || salary_allowance_count!=0 || salary_subsidy_count!=0 ">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span
          style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">薪资</p>
      </div>
      <ion-item-group>
        <div *ngIf="salary_approval_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toHXD()'>
          <p style="margin-right: 15px;float: right;">{{salary_approval_num}}</p>
          <p style="font-size: 13px;">核薪单审核</p>
        </div>
      </ion-item-group>
      <ion-item-group>
        <div *ngIf="salary_adjust_approval_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toTXD()'>
          <p style="margin-right: 15px;float: right;">{{salary_adjust_approval_num}}</p>
          <p style="font-size: 13px;">调薪单审核</p>
        </div>
      </ion-item-group>
      <ion-item-group>
        <div *ngIf="salary_allowance_count!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toTCD()'>
          <p style="margin-right: 15px;float: right;">{{salary_allowance_count}}</p>
          <p style="font-size: 13px;">提成审核</p>
        </div>
      </ion-item-group>
      <ion-item-group>
          <div *ngIf="salary_allowance_jx_count!=0"
            style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
            (click)='toJXJD()'>
            <p style="margin-right: 15px;float: right;">{{salary_allowance_jx_count}}</p>
            <p style="font-size: 13px;">绩效奖审核</p>
          </div>
        </ion-item-group>
      
      <ion-item-group>
        <div *ngIf="salary_subsidy_count!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toBTD()'>
          <p style="margin-right: 15px;float: right;">{{salary_subsidy_count}}</p>
          <p style="font-size: 13px;">补贴审核</p>
        </div>
      </ion-item-group>
    </div>
    <div *ngIf="gongcheng_num != 0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span
          style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">工程</p>
      </div>
      <ion-item-group>
        <div *ngIf="gongcheng_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toGC()'>
          <p style="margin-right: 15px;float: right;">{{gongcheng_num}}</p>
          <p style="font-size: 13px;">待审核工程领料</p>
        </div>
      </ion-item-group>
    </div>

    <div *ngIf="dimission_num!=0 || offer_num!=0 || adjust_num!=0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span
          style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">人事关系</p>
      </div>
      <ion-item-group>
        <div *ngIf="dimission_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toLiZhi()'>
          <p style="margin-right: 15px;float: right;">{{dimission_num}}</p>
          <p style="font-size: 13px;">离职待审核</p>
        </div>
      </ion-item-group>

      <ion-item-group>
        <div *ngIf="adjust_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='to_adjust_department()'>
          <p style="margin-right: 15px;float: right;">{{adjust_num}}</p>
          <p style="font-size: 13px;">调动待审核</p>
        </div>
      </ion-item-group>

      <ion-item-group>
        <div *ngIf="offer_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toOffer()'>
          <p style="margin-right: 15px;float: right;">{{offer_num}}</p>
          <p style="font-size: 13px;">offer待审核</p>
        </div>
      </ion-item-group>
    </div>

    <div *ngIf="pandian_num != 0 && isShowCK">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span
          style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">仓库</p>
      </div>
      <ion-item-group>
        <div *ngIf="pandian_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toPD()'>
          <p style="margin-right: 15px;float: right;">{{pandian_num}}</p>
          <p style="font-size: 13px;">待审核盘点</p>
        </div>
      </ion-item-group>
    </div>

    <div *ngIf="intp_num != 0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span
          style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">生管</p>
      </div>
      <ion-item-group>
        <div *ngIf="intp_num!=0" style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px"
          tappable (click)='toINTP()'>
          <p style="margin-right: 15px;float: right;">{{intp_num}}</p>
          <p style="font-size: 13px;">待审核电商中转单</p>
        </div>
      </ion-item-group>
    </div>

    <div *ngIf="tousu_num!=0">
      <div style="padding: 1px;border-bottom:#f0f2f5 1px solid;margin-left: 20px">
        <span
          style="background-color: #409eff;width: 3px;border-radius: 3px;height: 13px;float: left;margin-top: 16px;margin-left: -12px"></span>
        <p style="font-size: 13px;color: #409eff;">待办</p>
      </div>
      <ion-item-group>
        <div *ngIf="tousu_num!=0"
          style="min-height: 45px;border-bottom:#f0f2f5 1px solid;margin-left: 20px;padding: 1px" tappable
          (click)='toTouSu()'>
          <p style="margin-right: 15px;float: right;">{{tousu_num}}</p>
          <p style="font-size: 13px;">待处理上诉</p>
        </div>
      </ion-item-group>

    </div>

    <div align="center"
      *ngIf="all_approval==0">
      <img style="width:100px;position:absolute;left:calc(50% - 50px);top:calc(50% - 60px)"
        src="assets/img/journal_sheet/null_state.png">
      <p style="width:120px;position:absolute;left:calc(50% - 50px);top:calc(50% + 30px);color:#c2c8cc;font-size:15px">
        没有待审批的～</p>
    </div>
  </ion-content>
  <div *ngIf='isMessage'>
    <div align="center">
      <img style="width:100px;position:absolute;left:calc(50% - 50px);top:calc(50% - 60px)"
        src="assets/img/journal_sheet/null_state.png">
      <p style="width:120px;position:absolute;left:calc(50% - 50px);top:calc(50% + 30px);color:#c2c8cc;font-size:15px">
        暂时没有消息～</p>
    </div>
  </div>
</div>