<!--
  Generated template for the SupplierDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="gongdan-color" hideBackButton="true">


    <ion-buttons left *ngIf="!isModify">
      <button ion-button icon-only (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>


    <ion-buttons end *ngIf="!isModify">
      <button *ngIf="isShowEdit" ion-button (click)="edit()">
        <img style="width: 21px;
       margin-right: 2px;" src="assets/img/edit.png">
      </button>
    </ion-buttons>
    <ion-title>{{item.name}}</ion-title>

    <ion-buttons left *ngIf="isModify">
      <button ion-button icon-only (click)="cancel()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="isModify">
      <button ion-button (click)='release()'>
        完成
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content style="background:white" (pan)="panEvent($event)">

  <div *ngIf="!isModify">
    <div style="width:90%;margin-left:5%;    box-shadow: 2px 4px 22px #edeeee;
  margin-top: 10px;
  height: 255px;
  margin-bottom: 25px;border-radius:10px;">
      <img src={{item.image}} style="float: right;
    width: 46px;height:46px;
    border-radius: 23px;
    margin-right: 15px;
    margin-top: 15px;
   ">
      <p style="    line-height: 58px;
    font-size: 21px;
    padding-left: 18px;">
        {{item.english_name}}
        <span style="font-size: 12px;">{{item.name}}</span>
      </p>
      <p style="font-size: 13px;
    color: #8a9199;
    line-height: 0px;
    margin-left: 20px;">
        手机 {{item.mobile_phone}}
      </p>
      <p style="font-size: 13px;
    color: #8a9199;
    line-height: 11px;
    margin-left: 20px;">
        邮箱 {{item.work_email}}
      </p>

      <div *ngIf="!isModify">
        <ion-grid style="margin-top:0px;width:100%;background:white" class="grid_header">
          <ion-row class="row_class" align-items-center>
            <ion-col tappable (click)="sendEmail()">
              <div align="center" style="margin-top:10px">
                <img style="width:44px;" src="assets/img/send_email.png">
                <br>
                <p style="color:#5bc5f3">发邮件</p>
              </div>
            </ion-col>

            <ion-col tappable (click)="callPhone()">
              <div align="center" style="margin-top:10px">
                <img style="width:44px;" src="assets/img/call_phone.png">
                <br>
                <p style="color:#5bc5f3">打电话</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>

    <ion-item *ngIf="isCanSeeAll" align="center" no-lines style="height:40px;
    margin-top:15px;
    border-width:0.5px;border-color:lightgray;width:101%;margin-left:-2px;margin-right:-4px;">
      <ion-grid>
        <ion-row class="row_class" align-items-center>
          <ion-col tappable (click)="click_one()">
            <div align="center">
              <p [ngClass]="{true:'test_one',false:''}[show_type == 'one']">公开信息</p>
            </div>
          </ion-col>
          <ion-col tappable (click)="click_two()">
            <div align="center">
              <p [ngClass]="{true:'test_two',false:''}[show_type == 'two']">个人信息</p>
            </div>
          </ion-col>
          <ion-col tappable (click)="click_three()">
            <div align="center">
              <p [ngClass]="{true:'test_three',false:''}[show_type == 'three']">HR设置</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div style="background: #f5f7fa;
    width: 94%;
    height: 1px;
    margin-left: 3%;"></div>



    <ion-item-group *ngIf="show_type == 'one'">
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.company_id}} </div>
        <div class="div_left"> 公司名称 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.address_id}} </div>
        <div class="div_left"> 工作地址 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.department_id}} </div>
        <div class="div_left"> 部门 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right" >  
          <span *ngFor="let job of item.hr_job_ids;">
            {{job}} 
            </span>
            </div>
        <div class="div_left"> 工作头衔</div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.parent_id}} </div>
        <div class="div_left"> 经理 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.calendar_id}} </div>
        <div class="div_left"> 工作时间 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.work_phone}} </div>
        <div class="div_left"> 办公电话 </div>
      </div>

    </ion-item-group>


    <ion-item-group *ngIf="show_type == 'two'">
      <div class="biaoti">
        身份及其他信息
      </div>

      <div class="div_all">
        <div text-wrap class="div_right"> {{item.nation}} </div>
        <div class="div_left"> 民族 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.gender}} </div>
        <div class="div_left"> 性别 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.birthday}} </div>
        <div class="div_left"> 出生日期 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.address_home_two}} </div>
        <div class="div_left"> 家庭住址 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.now_address_home}} </div>
        <div class="div_left"> 现住址 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.marital}} </div>
        <div class="div_left"> 婚姻状况 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.identification_id}} </div>
        <div class="div_left"> 身份证号 </div>
      </div>
      <p style="padding-left: 14px;color: #c2c7cc">
        (身份证照片)
      </p>

      <ion-grid style="    padding-left: 9px;
    padding-top: 0px;">
        <ion-row>
          <ion-col *ngIf="item.identification_A" col-4 style="position:relative;height:106px;margin-top:5px">
            <img src={{item.identification_A}} style="position:absolute;
            clip:rect(0px,106px,106px,0px);" imageViewer/>
          </ion-col>

          <ion-col *ngIf="item.identification_B" col-4 style="position:relative;height:106px;margin-top:5px">
            <img src={{item.identification_B}} style="position:absolute;
            clip:rect(0px,106px,106px,0px);" imageViewer/>
          </ion-col>

        </ion-row>
      </ion-grid>

      <p *ngIf="!item.identification_B && !item.identification_A" style="text-align: center;
      line-height: 0px;
      color: #b7c2cb;"> 无</p>


      <div class="biaoti">
        银行账号

      </div>

      <div class="div_all">
        <div text-wrap class="div_right"> {{item.bank_card_num}} </div>
        <div class="div_left"> 银行卡号 </div>
      </div>

      <div class="div_all">
        <div text-wrap class="div_right"> {{item.bank_card_opening_bank}} </div>
        <div class="div_left"> 开户行 </div>
      </div>

      <p style="padding-left: 14px;color: #c2c7cc">
        (银行卡照片)
      </p>

      <ion-grid style="    padding-left: 9px;
    padding-top: 0px;">
        <ion-col col-4 *ngIf="item.bank_card" style="position:relative;height:106px;margin-top:5px">

          <img src={{item.bank_card}} style="position:absolute;
              clip:rect(0px,106px,106px,0px);" imageViewer/>
        </ion-col>

      </ion-grid>
      <p *ngIf="!item.bank_card" style="text-align: center;
      line-height: 0px;
      color: #b7c2cb;"> 无</p>



      <div class="biaoti">
        紧急联系人
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.emergency_contact_name}} </div>
        <div class="div_left">姓名 </div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.emergency_contact_relation}} </div>
        <div class="div_left"> 关系</div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.emergency_contact_way}} </div>
        <div class="div_left"> 联系方式 </div>
      </div>

      <div class="biaoti">
        工作经验
        <label style="float: right;
        padding-right: 24px;" *ngIf="item.work_experience_ids.length==0">无 </label>
      </div>
      <div class="div_padding_left" *ngFor="let item of item.work_experience_ids">
        <P class="p_time"> {{item.entry_time}}
          <span *ngIf="item.entry_time">~</span>{{item.Leaving_time}}</P>
        <p class="p_name"> {{item.name}}</p>
        <p class="p_three"> {{item.department}} | {{item.position}}</p>
      </div>

      <div class="biaoti">
        教育经历
        <label style="float: right;
        padding-right: 24px;" *ngIf="item.education_experience_ids.length==0">无 </label>
      </div>

      <div class="div_padding_left" *ngFor="let item of item.education_experience_ids">
        <P class="p_time"> {{item.entry_time}}~{{item.Leaving_time}}</P>
        <p class="p_name"> {{item.name}}</p>
        <p class="p_three"> {{item.attainment}} | {{item.major}}</p>
      </div>


      <div class="biaoti">
        附件
      </div>

      <p style="padding-left: 14px;color: #c2c7cc">
        证书
      </p>

      <ion-grid style="padding-left: 9px;
    padding-top: 0px;">
        <ion-row>
          <ion-col col-4 style="position:relative;height:106px;margin-top:5px" *ngFor="let item of item.certificate_image_ids" on-hold="onHold()">

            <img src={{item}} style="position:absolute;
                    clip:rect(0px,106px,106px,0px);" imageViewer/>
          </ion-col>
        </ion-row>

      </ion-grid>

      <p *ngIf="item.certificate_image_ids.length==0" style="text-align: center;
      line-height: 0px;
      color: #b7c2cb;"> 无</p>
      <div style="height:140px"></div>
    </ion-item-group>


    <ion-item-group *ngIf="show_type == 'three'">

      <div class="biaoti">
        合同信息
      </div>

      <div class="div_all">
        <div text-wrap class="div_right"> {{item.entry_date}} </div>
        <div class="div_left">入职日期 </div>
      </div>

      <div class="div_all">
        <div text-wrap class="div_right" *ngIf="item.probation_period_id"> {{item.probation_date}} </div>
        <div class="div_left">试用期</div>
      </div>

      <div class="div_all">
        <div text-wrap class="div_right"> {{item.mining_productivity}} </div>
        <div class="div_left"> 用工形式</div>
      </div>

      <div class="div_all">
        <div text-wrap class="div_right"> {{item.contract_begin_date}} </div>
        <div class="div_left"> 合同签订</div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.contract_end_date}} </div>
        <div class="div_left"> 合同终止</div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.accumulation_fund}} </div>
        <div class="div_left">交金类别</div>
      </div>

      <div class="div_all">
        <div text-wrap class="div_right"> {{item.insurance_type}} </div>
        <div class="div_left">保险类别</div>
      </div>


      <div class="biaoti">
        费用信息

      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.pre_payment_reminding}} </div>
        <div class="div_left">暂支余额</div>
      </div>
      <div class="div_all">
        <div text-wrap class="div_right"> {{item.buy_balance}} </div>
        <div class="div_left"> 申购余额</div>
      </div>

      <div class="biaoti">
        用户信息

      </div>

      <div class="div_all">
        <div text-wrap class="div_right"> {{item.is_create_account}} </div>
        <div class="div_left"> 相关用户</div>
      </div>
      <div class="biaoti">
        设备信息

      </div>

      <div class="div_all">
        <div text-wrap class="div_right"> {{item.work_card}} </div>
        <div class="div_left">工牌 </div>
      </div>

      <div style="height:140px"></div>
    </ion-item-group>

  </div>



  <div style="background:white" *ngIf="isModify">


    <ion-item tappable (click)='changeHeardImg()'>
      <ion-label>头像</ion-label>

      <ion-avatar item-end>
        <img src={{item.image}} class="imgStyle" style=" border-radius: 20px;     width: 40px;
        height: 40px;">
      </ion-avatar>
      <img item-end src="assets/img/journal_sheet/right_icon.png" style="height:10px;margin-right:-4px">
    </ion-item>

    <ion-item no-lines>
      <ion-label >中文名
        <span style="color:red;"> *</span>
      </ion-label>
      <ion-input  text-wrap text-right [(ngModel)]="item.name"></ion-input>
    </ion-item>

    <div style="background: #f0f2f5;
    width: 100%;
    height: 15px;"></div>

    <ion-item align="center" no-lines style="height:40px;
    border-width:0.5px;border-color:lightgray;width:101%;margin-left:-2px;margin-right:-4px;">
      <ion-grid>
        <ion-row class="row_class" align-items-center>
          <ion-col tappable (click)="click_one()">
            <div align="center">
              <p [ngClass]="{true:'test_one',false:''}[show_type == 'one']">公开信息</p>
            </div>
          </ion-col>
          <ion-col tappable (click)="click_two()">
            <div align="center">
              <p [ngClass]="{true:'test_two',false:''}[show_type == 'two']">个人信息</p>
            </div>
          </ion-col>
          <ion-col tappable (click)="click_three()">
            <div align="center">
              <p [ngClass]="{true:'test_three',false:''}[show_type == 'three']">HR设置</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <div style="background: #f5f7fa;
    width: 94%;
    height: 1px;
    margin-left: 3%;"></div>



    <ion-item-group *ngIf="show_type == 'one'">
      <ion-item>
        <ion-label style="color:black">英文名
        </ion-label>
        <ion-input  text-wrap text-right [(ngModel)]="item.english_name"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label style="color:black">手机
          <span style="color:red;"> *</span>
        </ion-label>
        <ion-input  #mNumberCon text-right type="number" placeholder="请输入" [(ngModel)]="item.mobile_phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color:black">工作Email
        </ion-label>
        <ion-input  text-wrap text-right [(ngModel)]="item.work_email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="color:black"> 部门
          <span style="color:red;"> *</span>
        </ion-label>
        <ion-select [(ngModel)]="item.department_id_id" class="normal-select">
          <ion-option *ngFor="let item of departmentList;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-item-group>


    <ion-item-group *ngIf="show_type == 'two'">
      <div class="biaoti">
        身份及其他信息
      </div>

      <ion-item>
        <ion-label style="color:black"> 民族
        </ion-label>
        <ion-select [(ngModel)]="item.nation_id" class="normal-select">
          <ion-option *ngFor="let item of minzuList;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="color:black"> 性别
        </ion-label>
        <ion-select [(ngModel)]="item.gender_id" class="normal-select">
          <ion-option *ngFor="let item of sexList;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label style="color:black">出生日期</ion-label>
        <ion-datetime cancelText="取消" doneText="确定" min="1907" max="2088" style="color:#5C6166;font-size:12px;margin-right:-6px"
          displayFormat="YYYY-MM-DD" [(ngModel)]="item.birthday"></ion-datetime>
        <img item-end src="assets/img/journal_sheet/right_icon.png" style="height:10px;margin-right:-4px">
      </ion-item>

      <ion-item>
        <ion-label style="color:black"> 婚姻状况
        </ion-label>
        <ion-select [(ngModel)]="item.marital_id" class="normal-select">
          <ion-option *ngFor="let item of marriageList;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label style="color:black">身份证号
          <span style="color:red;"> *</span>
        </ion-label>
        <ion-input text-wrap placeholder="请输入" text-right [(ngModel)]="item.identification_id"></ion-input>
      </ion-item>
      <p style="padding-left: 14px;color: #c2c7cc;">

        (请拍摄有效期内身份证正反面)

      </p>

      <ion-grid style="    padding-left: 9px;
  padding-top: 0px;">
        <ion-row>
          <ion-col col-4 *ngIf="item.identification_A" style="position:relative;height:106px;margin-top:5px" (click)="clickPositivePicture(item.identification_A)">

            <img src={{item.identification_A}} style="position:absolute;
          clip:rect(0px,106px,106px,0px);" />
          </ion-col>
          <ion-col col-4 *ngIf="!item.identification_A" tappable (click)="takePositive()" style="margin-top:5px">
            <img src="assets/img/photopositive.png" />
          </ion-col>
          <ion-col col-4 *ngIf="item.identification_B" style="position:relative;height:106px;margin-top:5px" (click)="clickNeagtivePicture(item.identification_B)">

            <img src={{item.identification_B}} style="position:absolute;
          clip:rect(0px,106px,106px,0px);" />
          </ion-col>
          <ion-col col-4 *ngIf="!item.identification_B" tappable (click)="takeNegative()" style="margin-top:5px">
            <img src="assets/img/photoneagtive.png" />
          </ion-col>
        </ion-row>
      </ion-grid>

 




      <div class="biaoti">
        银行账号
      </div>

      <ion-item>
        <ion-label style="color:black">银行卡号
        </ion-label>
        <ion-input text-wrap text-right #mNumberCon type="number" placeholder="请输入" [(ngModel)]="item.bank_card_num"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color:black">开户行
        </ion-label>
        <ion-input text-wrap text-right placeholder="请输入" [(ngModel)]="item.bank_card_opening_bank"></ion-input>
      </ion-item>


      <p style="padding-left: 14px;color: #c2c7cc;">
        (请拍摄公司工资卡正面)
      </p>

      <ion-grid style="   height:135px;">
        <ion-col col-4 *ngIf="item.bank_card" style="position:relative;height:106px;margin-top:5px" (click)="clickBankPicture(item.bank_card)">

          <img src={{item.bank_card}} style="position:absolute;
              clip:rect(0px,106px,106px,0px);" />
        </ion-col>
        <ion-col col-4 *ngIf="!item.bank_card" tappable (click)="takeBankPhoto()" style="margin-top:5px">
          <img src="assets/img/add.png" />
        </ion-col>

      </ion-grid>

      <div class="biaoti">
        紧急联系人
      </div>

      <ion-item>
        <ion-label style="color:black">姓名
          <span style="color:red;"> *</span>
        </ion-label>
        <ion-input [(ngModel)]="item.emergency_contact_name" placeholder="请输入" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color:black">关系
          <span style="color:red;"> *</span>
        </ion-label>
        <ion-input [(ngModel)]="item.emergency_contact_relation" placeholder="请输入" text-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color:black">联系方式
          <span style="color:red;"> *</span>
        </ion-label>
        <ion-input [(ngModel)]="item.emergency_contact_way" placeholder="请输入" text-right></ion-input>
      </ion-item>


      <div class="biaoti">
        工作经验
        <label style="float: right;
        padding-right: 24px;" *ngIf="item.work_experience_ids.length==0">无 </label>
      </div>
      <div class="div_padding_left" *ngFor="let item of item.work_experience_ids">
        <P class="p_time"> {{item.entry_time}}~{{item.Leaving_time}}</P>
        <p class="p_name"> {{item.name}}</p>
        <p class="p_three"> {{item.department}} | {{item.position}}</p>
      </div>

      <div class="biaoti">
        教育经历
        <label style="float: right;
        padding-right: 24px;" *ngIf="item.education_experience_ids.length==0">无 </label>
      </div>

      <div class="div_padding_left" *ngFor="let item of item.education_experience_ids">
        <P class="p_time"> {{item.entry_time}}~{{item.Leaving_time}}</P>
        <p class="p_name"> {{item.name}}</p>
        <p class="p_three"> {{item.attainment}} | {{item.major}}</p>
      </div>

      <div class="biaoti">
        附件
      </div>


      <p style="padding-left: 14px;color: #c2c7cc;">
        证书(如学历证书、技能证书等)
      </p>

      <ion-grid style="    padding-left: 9px;
  padding-top: 0px;">
        <ion-row>
          <ion-col col-4 style="position:relative;height:106px;margin-top:5px" *ngFor="let item of item.certificate_image_ids" on-hold="onHold()"
            (click)="clickZhengshuPicture(item)">

            <img src={{item}} style="position:absolute;
                  clip:rect(0px,106px,106px,0px);" />
          </ion-col>
          <ion-col col-4 tappable (click)="takeZhengshuPhoto()" style="margin-top:5px">
            <img src="assets/img/add.png" />
          </ion-col>
        </ion-row>

      </ion-grid>


    </ion-item-group>

    <ion-item-group *ngIf="show_type == 'three'">

      <div class="biaoti">
        合同信息
      </div>

      <ion-item>
          <ion-label style="color:black"> 用工形式
              <span style="color:red;"> *</span>
          </ion-label>
          <ion-select [(ngModel)]="item.mining_productivity_id" class="normal-select">
            <ion-option *ngFor="let item of mining_productivity_list;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
          </ion-select>
        </ion-item>

      <ion-item>
        <ion-label style="color:black;">入职日期
          <span style="color:red;"> *</span></ion-label>
        <ion-datetime cancelText="取消" doneText="确定" min="2000" max="2088" style="color:#5C6166;font-size:14px;margin-right:-6px"
          (ionChange)="watch()" displayFormat="YYYY-MM-DD" [(ngModel)]="item.entry_date"></ion-datetime>
        <img item-end src="assets/img/journal_sheet/right_icon.png" style="height:10px;margin-right:-4px">
      </ion-item>


      <ion-item>
        <ion-label style="color:black"> 试用期
          <p style="float: right;
              line-height: 25px;"> {{item.probation_date}} </p>
        </ion-label>
        <ion-select [(ngModel)]="item.probation_period_id" (ngModelChange)="watch(0)" class="normal-select">
          <ion-option *ngFor="let item of shiyongList;let i = index;" value={{item.id}}>{{item.name}}</ion-option>
        </ion-select>
      </ion-item>


    </ion-item-group>

  </div>



</ion-content>
