page-meeting-project {
    .notFinish{
        font-size: 12px;
        width: 70%;
        color: #5a5f63
    }
    .finish{
        font-size: 12px;
        width: 70%;
        color: #999999
    }

    .differ_div_class{
            margin-top: 5px;
    // margin-left: 20px;
    color: gray;
    text-align: center;
    }

    .buttom_div{
        position:absolute;
        bottom:0px;
        overflow:hidden;
        width:100%;
        height:44px;
        background: white;
        border-top: 1px lightgray solid;
        
    }

    .small_rang{
        border-radius: 5px;
        width:10px;
        height: 10px;
        text-align: center;
        margin-left:20px;
    }

    .div_x{
        width: 100px;
        height: 20px;
        overflow: hidden;
    }

    .div_span{
        float: right ;
    }

    .sub_header{
        width:40px;
        margin-top:-10px
    }
    .sub_header_p{
        color:white;
        margin-top:-2px;
        font-size:10px;
    }
    .priority_icon{
        width:14px;
        height:14px;
        margin-top:15px;
        margin-left:15px;
    }
    .data_list_state{
        float:right;
        margin-top:14px;
        margin-right:10px;
        color:#fba796;
        font-size:13px;
    }
    .data_list_desprition{
        margin-left:15px;
        margin-right:15px;
        color:gray;
        margin-top:2.5px
    }
    .create_ava{
        width:10px;
        height:10px;
        margin-top:5px;
        margin-left:15px;
    }
    .creater_name{
        font-size:12px;
        color:gray
    }
    .assign_name{
        float:right;
        margin-top:2px;
        margin-right:15px;
        font-size:12px;
        color:gray
    }
    .assign_ava{
        width:12px;
        height:12px;
        margin-top:5px;
        margin-right:8px;
        float:right
    }
    .creater_div{
        margin-bottom:10px;
        margin-top:-2px;
    }
    .row_class{
        height:40px;
    }
    .test_one{
        color:white;
        width:60px;
        height: 45px;
        line-height: 50px;
        font-size: 14px;
    }
    .test_choose{
        color:white;
        width:60px;
        height: 45px;
        line-height: 50px;
        font-size:16px;
    }

    .head_grid{
        height:40px;
        margin-top:-50px;
        width:80%;
        margin-left:25px;
    }

    .divided_p{
        color:#8a9399;
        margin-top:5px;
        font-size:12px;
        margin-left:10px;
        height:14px;
    }

    .div_message{
        // position: absolute;
        background-color:white;
        margin-top:10px;

    }

    .img_message_ava{
    
        width: 30px;
        height:30px;
        border-radius: 15px;
        margin-top:15px;
        margin-left: -10px;
    }

    .message_list{
        // background-color:white,
        padding-bottom:30px;
    }

    .name_message{
        margin-top:12px;
        line-height: 40px;
        margin-left: -20px;
        color:#8a9299;
        font-size: 14px;

    }
    .content_message{
        // margin-left: 10px;
        font-size: 16px;
        color:#2e3033;
        border-bottom: 1px #f0f2f5 solid;
        line-height:30px;
    }
    .content_message_no_lines{
        font-size: 16px;
        color:#2e3033;
        line-height:30px;
       
    }
    .content_message_zhipai{
        font-size: 16px;
        color:#2e3033;
        border-bottom: 1px #f0f2f5 solid;
        line-height:30px;
        float:left;
    }
    .content_message_zhipai_no_lines{
        font-size: 16px;
        color:#2e3033;
        line-height:30px;
        float:left;
    }
    .content_message_reply{
        color:#1f6699;
        margin-right: 10px;
        position: absolute;
        right: 10px;
        left: 155px;
    }

    .item_class_first{
        height:20px;
        min-height:40px
    }
    .item_calss_one{
        padding-left: 15px;
        margin-top: -17px;
    }
    .item_class_image{
        // height:20px;
      margin-top:-6px;
    }
    .item_calss_other{
        height:20px;
        min-height:30px;
        margin-top:-5px;
    }
    .item_divide{
        height: 10px;
        min-height: 5px;
    }
    .record_line_p{
        color:#8a9299;
    }
    .reply_small_icon{
        width:20px;
        // float:right;
        margin-top: 20px;
        // margin-left: 10px;
    }

    .zan_small_icon{
        width:20px;
        margin-left: 10px;
        // float:right;
        // margin-top: 20px;
        // margin-right: 30px;
    }

    .img_span_class{
        font-size: 14px;
        margin-top: 23px;
        position: absolute;
        color: gray;
    }

    .bottom_p_ios{
        color:gray;
        margin-top:-2px;
        font-size:10px;
    }

    .bottom_img_ios{
        width:20px;
        margin-top:-5px
    }

    .bottom_p_md{
        color:gray;
        margin-top:-2px;
        font-size:10px;
    }

    .bottom_img_md{
        width:20px;
        margin-top:5px
    }

    .biaoqian_div_choose{
        background-color:#fba958;
       color:white;
       height: 22px;
       line-height: 22px;
       border-radius: 10px; 
       margin-top:-5px;
       font-size: 10px;
       white-space: nowrap
    }

    .biaoqian_div_choose.first{
        background-color:#fba958;
       color:white;
       height: 22px;
       line-height: 22px;
       border-radius: 10px; 
       margin-top:-5px;
       font-size: 10px;
       white-space: nowrap
    }

    .content_message_empty{
         // margin-left: 10px;
        font-size: 16px;
        color:white;
        border-bottom: 1px #f0f2f5 solid;
        line-height:30px;
    }

    .content_message_empty_no_lines{
         // margin-left: 10px;
        font-size: 16px;
        color:white;
        // border-bottom: 1px #f0f2f5 solid;
        line-height:30px;
    }

    .title_class_style{
        font-size: 17px;
        width:70%;
        display: inline-flex;
        line-height: 1.2;
    }

    .item_class_normal_p{
        padding-bottom: 7px;
        padding-right: 7px;
    }

    .item_class_image_p{
        margin-top:-3px
    }

    .keyboard_class{
            border-top: #f0f2f5 1px solid;
    position: fixed;
    bottom: 0px;
    height: 44px;
    width: 100%;
    background: white;
    }

    .input_class{
            background-color: #eeeeee;
    height: 34px;
    margin-top: 5px;
    margin-left: 10px;
    line-height: 34px;
    /* width: calc(100% - 90px); */
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
    padding-bottom: 10px;
    -webkit-appearance: none;
    }

    .footer_class{
        background: white;
    border-top: solid 1px #f0f2f5;
    height: 44px;
    }

    .btn_class{
        font-size: 13px;
    color: white;
    margin-right: 10px;
    float: right;
    /* display: inline; */
    margin-top: -34px;
    height: 34px;
    width: 60px;
    }

    .icon_class{
        color: #999999;
        width: 100%;
        background-color: white;
        text-align: center
    }

    .icon_class_down{
        color: #999999;
        width: 100%;
        background-color: #f0f2f5;
        text-align: center
    }

    .team_btn_class{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 44px;
    background: #2597ec;
    color: white;
    text-align: center;
    line-height: 44px;
    font-size: 15px;
  }

  .class_start_date{
          height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 13px;
    color:gray;
    border-width: 0px;
    border-color: white;
    width: 100%;
  }

  .un_read_class{
      background-color:#f0f2f5;
      flex :1 1 100%;
      color: #999999
  }
    
  .already_read_class{
        background-color:#edf7ff;
      flex :1 1 100%;
      color: #2597ec
  }
}
