page-daily-report-detail {
    .biaoti {
    background: white;
    height: 40px;
    color: #8a9199;
    line-height: 40px;
    margin-top: 10px;
  }

  .shu_class{
        width: 10px;
    height: 15px;
    display: inline;
    border-left: solid 3px #2597ec;
    margin-left: 8px;
    margin-top: 12.5px;
    }

    .title_class{
            display: inline-block;
    margin-top: 0px;
    width: calc(100% - 65px);
    margin-left: 10px;
    text-align: left;
    border-bottom: solid 1px #f0f2f5;
    color: #2597ec;
    }
    .line_class{
      // width: 100%;
      height: 1px;
      // background-color: red;
    }

    .icon_class{
          font-family: "Ionicons" !important;
    font-size: 24px;
    font-style: normal;
    float: right;
    margin-top: 8px;
    padding-right: 15px;
    }

    .div_class{
        height: 90px;
        background-color: white;
        margin-top: -10px;
        border-bottom: solid 1px #f0f2f5;
    }

    .time_class{
                font-size: 95%;
    float: right;
    color: gray;
    margin-top: 13px;
    margin-right: 10px;
    }

    .span_class{
                font-size: 110%;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 40px;
    font-weight: bold;
    max-height: 40px;
    }

    .state_class{

            font-size: 80%;
    float: right;
    color: #E0540E;
    margin-top: -30px;
    margin-right: 10px;
    }

    .bottom_class{
                font-size: 90%;
    color: gray;
    width: 200px;
    margin-left: 20px;
    margin-top: 4px;
    }

    .differ_class{
            height: 10px;
    background-color: #f0f2f5;
    margin-top: -1px;
    }


    .img_message_ava{
    
        width: 30px;
        height:30px;
        border-radius: 15px;
        margin-top:15px;
        margin-left: -10px;
    }
    .differ_div_class{
            margin-top: 5px;
    // margin-left: 20px;
    color: gray;
    text-align: center;
    }

    .div_message{
        // position: absolute;
        background-color:white;
        margin-top:10px;

    }

    .reply_small_icon{
        width:20px;
        // float:right;
        margin-top: 20px;
        // margin-left: 10px;
    }

    .zan_small_icon{
        width:20px;
        margin-left: 10px;
        // float:right;
        // margin-top: 20px;
        // margin-right: 30px;
    }

    .img_span_class{
        font-size: 14px;
        margin-top: 23px;
        position: absolute;
        color: gray;
    }

    .content_message{
        // margin-left: 10px;
        font-size: 16px;
        color:#2e3033;
        border-bottom: 1px #f0f2f5 solid;
        line-height:30px;
    }
    .content_message_no_lines{
        font-size: 16px;
        color:#2e3033;
        line-height:30px;
    }

    .item_class_image_p{
        margin-top:-3px
    }

    .item_class_normal_p{
        padding-bottom: 7px;
        padding-right: 7px;
    }

    .name_message{
        margin-top:12px;
        line-height: 40px;
        margin-left: -20px;
        color:#8a9299;
        font-size: 14px;

    }

    .plan_class{
        color: lightgray;
    background-color: white;
    line-height: 35px;
    padding-left: 20px;
    }

    .log_time_class{
            padding-left: 20px;
    color: #333333;
    font-size: 92%;
    }

    .span_title_class{
            font-size: 107%;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 40px;
    }

    .div_header_class{
            height: 70px;
    background-color: white;
    // margin-top: -10px;
    }
    .footer_class{
        background: white;
        border-top: solid 1px #f0f2f5;
        height: 44px;
    }

    .input_class{
            background-color: #eeeeee;
    height: 34px;
    margin-top: 5px;
    margin-left: 10px;
    line-height: 34px;
    /* width: calc(100% - 90px); */
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
    padding-bottom: 10px;
    -webkit-appearance: none;
    }

    .item_calss_one{
        padding-left: 15px;
    margin-top: -17px;
    }
    .item_class_image{
        // height:20px;
      margin-top:-6px;
    }
}
