<!--
  Generated template for the ApplyDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>休假单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background:#f0f0f0">
  <ion-item>
    <ion-label class="left_label">休假类型</ion-label>
    <ion-label item-end class="right_label">{{res_data.holiday_status_id}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>说明</ion-label>
  </ion-item>
  <ion-textarea placeholder='这里是休假说明' [(ngModel)]="remark" class='area_class'>
    </ion-textarea>
    <ion-item>
      <ion-label class="left_label">开始时间</ion-label>
      <ion-label item-end class="right_label">{{res_data.date_from}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="left_label">结束时间</ion-label>
      <ion-label item-end class="right_label">{{res_data.date_to}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="total_amount">合计 : {{res_data.payment}}</ion-label>
    </ion-item>

    <div style="margin:10px;">审批记录</div>
    <ion-list>
      <ion-item *ngFor='let item of res_data.message_ids' class="middle_item">
        <ion-grid>
          <ion-row class="rowStyle">
            <ion-col col-2 class="textCenter">
              <img src={{item.create_person_ava}}>
            </ion-col>
            <ion-col col-6>
              <div>{{item.create_person}}</div>
              <div *ngIf="item.old_state || item.new_state">{{item.old_state}}=>{{item.new_state}}</div>
              <div text-wrap>{{item.description}}</div>
            </ion-col>
            <ion-col col-4>
              <div>{{item.create_time}}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <button *ngIf="res_data.state!='cancel'" ion-button full (click)="callbackApply()">
    撤回申请
  </button>
</ion-footer>
