page-select-country {
    .wd_div_first{
        padding: 10px;
        background-color: white;
        color: #333333;
        border-bottom: solid 1px #f0f2f5;
    }

    .wd_div{
            padding: 10px;
    background-color: white;
    color: #333333;
    border-bottom: solid 1px #f0f2f5;
    }
}
