page-forget-password {
    .left_left_div{
            float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    }

    .left_input_yz{
        float: left;
        line-height: 22px;
        margin-left: 20px;
        width: 150px;
    }

    .left_input{
        float: left;
        line-height: 22px;
        margin-left: 20px;
        width: 200px;
    }

    .left_input_new{
        float: left;
        line-height: 38px;
        margin-left: 20px;
        width: 70%;
    }

    .right_right_div{
        float: right;
        line-height: 40px;
    }

    .main_div{
        border-bottom: solid 1px #f0f2f5;
        height:42px;
    }
}
