page-kaoqin-photo {
    .img_message_ava{
        width: 30px;
        height:30px;
        border-radius: 15px;
        margin-top:15px;
        margin-left: -10px;
    }

    .name_message{
        margin-top:12px;
        line-height: 40px;
        margin-left: -20px;
        color:#8a9299;
        font-size: 15px;
    }

    .header_items{
        height:40px;
        min-height:50px;
        margin-top:-9px;
        border-bottom: #f0f2f5 1px solid;
    }

    .alert_icon_class{
        // background: url("./../../assets/img/daka_location.png");
        background-size: 100% 100%;
        height: 20px;
        width: 20px;
        margin-top: 20px;
    }
}
