<!--
  Generated template for the NewPurchaseOrderDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="gongdan-color" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </button>
    </ion-buttons>
    <ion-title>{{item.name}}</ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only tappable (click)="presentPopover($event)">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content>

  <div style="margin-top:10px">



    <div class="div_all">
      <div text-wrap class="div_right"> {{item.supplier}} </div>
      <div class="left_label,div_left" style="color:#2597ec" text-right> 供应商 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{changeDate(item.date_approve) | date:"yyyy-MM-dd"}}</div>
      <div class="left_label,div_left" text-right> 下单日期 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{changeDate(item.date_planned) | date:"yyyy-MM-dd"}}</div>
      <div class="left_label,div_left" text-right> 交期 </div>
    </div>

    <div class="div_all" *ngIf="item.state == 'reviewing'">
      <div text-wrap class="div_right"> {{item.approve_user_name}}</div>
      <div class="left_label,div_left" text-right> 待审核人 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.team_name}}</div>
      <div class="left_label,div_left" text-right> 采购团队 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.creater}}</div>
      <div class="left_label,div_left" text-right> 负责人 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.picking_type_id}}</div>
      <div class="left_label,div_left" text-right> 交货仓库 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.tax.tax_id}} </div>
      <div class="left_label,div_left" text-right> 税率 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{fmoney(transInt(item.amount_untaxed),3)}} </div>
      <div class="left_label,div_left" text-right> 未含税金额 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.amount_tax}} </div>
      <div class="left_label,div_left" text-right> 税金 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> <span style="color:#e0540e">{{fmoney(transInt(item.amount_total),3)}}</span> </div>
      <div class="left_label,div_left" text-right> 总计 </div>
    </div>


    <div class="div_all">
      <div text-wrap class="div_right"> {{item.product_count}} </div>
      <div class="left_label,div_left" text-right> 总数量 </div>
    </div>

    <div class="div_all">
      <div text-wrap class="div_right"> {{item.notes}} </div>
      <div class="left_label,div_left" text-right> 备注信息 </div>
    </div>
  </div>
  <ion-label class="div_label"> 产品明细</ion-label>
  <ion-list>
    <ion-item *ngFor='let detail of item.order_lines;let i  = index' (click)="toProductDetail(detail)">
      <!-- <p text-wrap>产品 {{i+1}} {{detail.name}}</p>
      <h2 text-wrap> 规格 {{detail.specs}}</h2>
      <h4 text-wrap>交期 {{item.date_planned}}</h4>
      <p>订购： {{detail.product_qty}} * ￥ {{detail.price_unit}}</p>
      <p>计量单位 {{detail.product_uom}}</p>
      <p *ngIf="showNumber" style="float:right;color:#1e1e1e;font-weight:bold;font-size:70%;">已接收 {{detail.qty_received}} * ￥ {{detail.price_unit}}</p>
      <p *ngIf="showNumber" style="float:right">开单数量 : {{detail.qty_invoiced}} * ￥ {{detail.price_unit}}</p>
      <p>小计 {{detail.price_subtotal}}</p> -->
      <h3 text-wrap>{{i+1}}. {{detail.name}}</h3>
      <div>
        <progress value={{detail.shipping_rate?detail.shipping_rate:1}} max="100"></progress>
        <p style="float:right;margin-right:20px">价格区间:{{detail.standard_price}}</p>
      </div>
      <div>
        <p style="float:right;margin-right:20px">单价:{{detail.price_unit}}</p>
        <p>已接收/下单： {{detail.qty_received}} /{{detail.product_qty}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer style="background:#f0f2f5" *ngIf="is_manager">
  <!--<button ion-button tappable style='width:70%;margin-left:15%'   round (click)="approve()">
    批准订单
  </button>-->
  <div class="footer_class">
    <div class="left_btn" tappable (click)='cancel()'>
      拒绝
    </div>
    <div class="right_btn" tappable (click)='conform()'>
      同意
    </div>
  </div>
</ion-footer>