page-edit-card {
    .label_class{
        font-size:85%;
        font-weight:bold;
        color:black;
    }
    .text_class{
        font-size:75%;
        text-align:right;
        
    }
    .input_class{
        text-align: right;
        font-size:75%;
    }
}
