<!--
  Generated template for the GongdanBiaoqianPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gongdan-color">
    <ion-title>工单筛选标签</ion-title>

  </ion-navbar>

</ion-header>


  <ion-content >
    <div style="margin-top:10px;margin-left:15px;color:#616466">
      品牌
    </div>
    <ion-grid>
      <ion-row>
         <ion-col col-4 tappable (click)="clickbrand(item)" *ngFor="let item of brandList">
          <div [ngClass]="{true:'biaoqian_div_choose',false:'biaoqian_div_unchoose'}[isChooseBrand(item)]" align="center">
            {{item.name}}
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    <div style="margin-top:10px;margin-left:15px;color:#616466">
      区域
    </div>
    <ion-grid>
      <ion-row>
         <ion-col col-4 tappable (click)="clickarea(item)" *ngFor="let item of areaList">
          <div [ngClass]="{true:'biaoqian_div_choose',false:'biaoqian_div_unchoose'}[isChooseArea(item)]" align="center">
            {{item.name}}
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    <div style="margin-top:10px;margin-left:15px;color:#616466">
      产品
    </div>
    <ion-grid>
      <ion-row>
         <ion-col col-4 tappable (click)="clickcate(item)" *ngFor="let item of cateList">
          <div [ngClass]="{true:'biaoqian_div_choose',false:'biaoqian_div_unchoose'}[isChooseCate(item)]" align="center">
            {{item.name}}
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    
  </ion-content>
  <ion-footer >
          <div style="background:white">
    <span align="center" style='width:50%;float:left; background-color:#fba958;height:44px;line-height:44px;font-size:15px;color:white' tappable (click)="cancel_biaoqian()">
      重置
    </span>
    <span align="center" style='width:50%;float:right;background-color:#1eabfe;height:44px;line-height:44px;font-size:15px;color:white' tappable (click)="confirm_biaoqian()">
      确定
    </span>
  </div>
</ion-footer>
