page-select-shop-list {
    .wd_div_first{
        padding: 10px;
        background-color: white;
        color: #333333;
    }

    .wd_div{
        padding: 10px;
        margin-top: 10px;
        background-color: white;
        color: #333333;
    }
}
