<!--
  Generated template for the AuditedPurchasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar color="gongdan-color" hideBackButton="true">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background:#f0f0f0">
  <ion-item style="min-height:60px;height:60px;">
    <ion-grid class="bg_main">
      <ion-row>
        <ion-col col-2>
          <img src="{{item.employee_avatar}}" class="imgHeard">
        </ion-col>
        <ion-col col-5 class="col_header_class">
          <span class="name_class">{{item.employee_name}}</span>
        </ion-col>
        <ion-col *ngIf="item.state == 'reviewing'" col-5 class="col_header_class_1">
          <span class="state_class_center">{{changeState(item.state)}}</span>
          <span class="state_class_center_block">{{item.to_approve_id_new}}</span>
        </ion-col>
        <ion-col *ngIf="item.state != 'reviewing'" col-5 class="col_header_class">
          <span class="state_class">{{changeState(item.state)}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div class="differ_class">
  </div>
  <ion-item no-lines class="item_class">
    <div text-wrap class="order_class"> {{item.employee_name}}</div>
    <div class="left_label"> 申请人 </div>
  </ion-item>
  <ion-item no-lines class="item_class">
    <div text-wrap class="order_class"> {{item.department}} </div>
    <div class="left_label"> 部门 </div>
  </ion-item>

  <ion-item no-lines class="item_class">
    <div text-wrap class="order_class_special"> {{fmoney(transInt(item.total_amount),3)}} </div>
    <div class="left_label"> 金额总计 </div>
  </ion-item>
  
  
  <div class="bx_detail_class_top">
    申购明细
  </div>
  <ion-item-group>
    <div no-lines *ngFor='let items of item.line_ids;let i = index'>
      <!--<ion-item [ngClass]="{true:'item_empty_class',false:'item_10px_class'}[i == 0]">
      <p text-wrap style="font-size:80%;color:gray;">产品：{{items.product_id.name}}</p>
      <p text-wrap style="font-size:80%;">
        <span>
          单价：{{items.price_unit}}
        </span>
        <span style="margin-left:10px;">
          数量:{{items.quantity}}
        </span>
        <span style="margin-left:10px;">
          小计：{{items.price_unit * items.quantity}}
        </span>  
      </p>
      <p text-wrap style="font-size:80%;color:gray">费用说明：{{items.description}} </p>
      </ion-item>-->

      <ion-item [ngClass]="{true:'item_empty_class',false:'item_10px_class'}[i == 0]">
        <div class="detail_div">
          <span class="type_class">● {{items.product_id.name}}</span>
          <span class="unit_amount_class">金额：￥{{fmoney(transInt(items.price_unit),3)}}</span>
        </div>

        <p text-wrap class="yongtu_class">消费用途：{{items.name}}</p>
        <p text-wrap class="beizhu_class">备注：{{items.description}} </p>
      </ion-item>
    </div>
  </ion-item-group>

  <div class="bx_detail_class">审批记录</div>
  <ion-list>
    <ion-item no-lines *ngFor='let items of item.message_ids' style="overflow:hidden" class="middle_item">
      <img class="user_ava_class" src={{items.create_person_ava}}>
      <div style="overflow:hidden">
        <span class="span_employee_class">{{items.create_person}}</span>

        <span class="span_time_class">{{changeDate(items.create_time) | date:'yyyy-MM-dd HH:mm:ss'}}</span>
      </div>
      <p *ngIf="items.old_state || items.new_state" class="size_class">{{items.old_state}}=>{{items.new_state}}</p>
      <p text-wrap class="size_class">{{items.description}}</p>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf='isShowFooter'>
    <div  class="footer_class">
        <div class="left_btn" tappable (click)='cancel()'>
          拒绝
        </div>
        <div class="right_btn" tappable (click)='conform()'>
          同意
        </div>
    </div>
</ion-footer>
