page-attendace-recoup {
    .under_line_style{
        color:#2597ec;
        width:60px;
        height: 40px;
        line-height: 40px;
        border-bottom:#2597ec 3px solid;
    }

    .normal_style{
        width:60px;
        height: 40px;
        line-height: 40px;
        color:#2597ec
    }

    .row_class{
        height: 40px;
        background-color: white;
    }

    .searchbar_class{
        width: 92vw;
        margin-left:4vw;
        background-color: #f0f2f5;
    }

    .header_div_class{
        width: 100%;
        background-color: #f0f2f5;
    }

    .main_background{
        background-color: #f0f2f5;
    }

    .differ_class{
            height: 10px;
    background-color: #f0f2f5;
    margin-top: -1px;
    }

    .div_class{
        height: 70px;
    background-color: white;
    margin-top: 5px;
    }

    .div_class:first-child{
        height: 70px;
    background-color: white;
    margin-top: -3px;
    } 

    .time_class{
                font-size: 95%;
    float: right;
    color: gray;
    margin-top: 9px;
    margin-right: 10px;
    }

    .span_class{
            font-size: 107%;
    margin-left: 11px;
    margin-top: 10px;
    line-height: 40px;

    }

    .state_class{

            font-size: 80%;
    float: right;
    color: #E0540E;
    margin-top: -28px;
    margin-right: 10px;
    }

    .bottom_class{
                font-size: 90%;
    color: gray;
    width: 200px;
    margin-left: 11px;
    margin-top: 4px;
    }

    .left_div{
            width: 50%;
    float: left;
    height: 40px;
    margin-top: -14px;
    }
    .right_div{
            width: 50%;
    float: right;
    margin-top: -14px;
    height: 40px;
    }
    .footer_class{
        width: 100%;
        text-align: center;
        line-height: 44px;
        background-color: #2597ec;
        font-size: 101%;
        color:white;
    }

}

