page-email {
  .add_account_text {
    text-align: center;
    margin-top: 200px;
    font-size: 18px;
    color: #999999;
  }

  .add_account_button {
    background: #FFFFFF;
    border: 1px solid #409EFF;
    border-radius: 100px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 40%;
    margin-left: 30%;
    color: #409eff;
  }

  .email_title {
    font-size: 14px;
  }

  .email_title_bold {
    font-weight: bold;
    font-size: 14px;
  }


  .email_summary_bold {
    font-size: 12px;
    font-weight: bold;
  }

  .email_summary {
    font-size: 12px;
  }

  .email_content {
    font-size: 12px;
    color: #919294;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 1px
  }

  .email_date {
    float: right;
    font-size: 12px;
    color: #919294;
    margin-top: 3px
  }

  .email_flag {
    font-size: 14px;
    color: red;
  }

  .title_alert {}

  .no_account {
    margin-top: 200px;
    text-align: center;
    font-size: 19px;
    color: gray;
  }


  .red-point {
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 4px;
    float: left;
    margin-top: 4px;
    margin-right: 6px;
  }

  .div_checkbox {
    height: 40px;
    margin-right: 6px;
    float: left;
    padding-top: 13px;
  }

  .div_checkbox_normal {
    height: 40px;
    float: left;
    padding-top: 13px;
  }



  .toolbar_c {
    padding: 0px;
  }

  .toolbar_button {
    width: 22%;
    background-color: #2597ec;
  }

  .flag_red {
    color: red
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    vertical-align: middle;
    margin-top: 0;
    background: #fff;
    border: #999 solid 1px;
    border-radius: 8px;
    min-height: 16px;
    min-width: 16px;
  }

  input[type="checkbox"]:checked {
    background:#2597ec;
    border:0px;
  }

  input[type=checkbox]:checked::after {
    content: '';
    top: 30px;
    left: 19px;
    position: absolute;
    background: transparent;
    border: #fff solid 1px;
    border-top: none;
    border-right: none;
    height: 5px;
    width: 9px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

  }


}
