page-write-email {
  .text-input {
    padding-left: 5px;
  }

  .item_c {
    min-height: 1rem;
    height: 35px;
  }

  .input_email_to {
    font-size: 12px;
  }

  .input_c {
    font-size: 13px;
  }

  .label_c {
    font-size: 13px;
    color: gray;
    margin-left: 5px;
  }

  .area_class {
    font-size: 13px;
    padding-left: 14px;
  }

}
