page-write-email {
  .text-input {
    padding-left: 5px;
  }

  .item_c {
    min-height: 1rem;
    height: 35px;
  }

  .input_email_to {
    font-size: 12px;
  }

  .input_c {
    font-size: 13px;
    width: 190px;
    height: 21px;
    padding-top: 2px;
    border: 0px

  }

  .label_c {
    font-size: 13px;
    color: gray;
    margin-left: 5px;
    margin-bottom: 0px;
  }

  .area_class {
    font-size: 13px;
    padding-left: 14px;
  }

  .contact_list {
    position: absolute;
    z-index: 999;
    width: inherit;
    width: 100%;
    // padding-left: 15px;
    overflow: auto;
    max-height: 300px;
  }



  .contact_c {
    min-height: 1rem;
    height: 35px;
    background: #ebebeb;
    padding-left: 15px;
  }

  .chooseItemSpan {
    background-color: #f0f2f5;
    flex: 1 1 100%;
    color: #999999;
    font-size: 12px;
    padding: 0 1rem;
    height: 20px;
    margin-top: -2px;
  }

  .chooseItemIcon {
    font-size: 23px;
    width: 20px
  }


  .input_div {
    justify-content: space-around;
    width: 100%;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid #c1c1c1;
    margin-left: 18px;
    padding-top: 7px;

  }

  .input_div >input{
    width: 100%;
  }

  .input_div>span~input{
    width: 150px;
  }


  .input-cover{
    width: 80%;
  } 

  .mail-attach-list{
    display: flex;
    flex-flow: wrap;
    margin-top: 5px;
    padding-left: 15px;
  }

  .name{
    display: inline-block;
    margin-right: 5px;
    width: 200px;
    padding-left: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .size{
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    margin-left: 20px;
    width: 50px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .attachment_li{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 21px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2px 0;
    line-height: 21px;
    color: #7f878f;
    background-color: #efefef;
    border-right: 5px solid #fff;
    border-radius: 2px;
  }


}
