<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      订单
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button tappable (click)='clickOne()' value="1">MRP
      </ion-segment-button>
      <ion-segment-button tappable (click)='clickTwo()' value="2">
        询价单
      </ion-segment-button>
      <ion-segment-button tappable (click)='clickThree()' value="3">
        采购订单
      </ion-segment-button>
      <ion-segment-button tappable (click)='clickFour()' value="4">
        采购退货
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pet">

    <ng-template [ngSwitchCase]='1'>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <div>
              <ion-input [(ngModel)]="searchName" placeholder="输入订单编号" style="margin-left:20px;;"></ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div><button (click)='searchClick1()' style="height:40px;font-size:15px;font-weight:bold;background-color:white">搜索</button></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-refresher (ionRefresh)="doRefresh1($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item *ngFor='let item of orderMRP' tappable (click)='orderDetail(item.id)'>
          <p style="font-size:100%;float:right;color:#fc6621;">由MRP生成</p>
          <h2>{{item.name}}</h2>
          <h4 style="font-size:70%;word-break:break-all">{{item.order_line}}</h4>
          <p>负责人：{{item.creater}}</p>
          <p style="float:right;color:#1e1e1e;font-weight:bold;font-size:70%;">汇总数量：{{item.amount_total}}</p>
          <p>供应商 ：{{item.supplier}}</p>

          <p style="float:right">汇总金额 :{{item.product_count}}</p>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite1($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ng-template>

    <ng-template [ngSwitchCase]='2'>
          <ion-grid>
        <ion-row>
          <ion-col col-6>
            <div>
              <ion-input [(ngModel)]="searchName" placeholder="输入订单编号" style="margin-left:20px;;"></ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div><button (click)='searchClick2()' style="height:40px;font-size:15px;font-weight:bold;background-color:white">搜索</button></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-refresher (ionRefresh)="doRefresh2($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item *ngFor='let item of priceOrder' tappable (click)='orderDetail(item.id)'>
          <p style="font-size:100%;float:right;color:#fc6621;">询价单</p>
          <h2>{{item.name}}</h2>
          <h4>{{item.order_line}}</h4>
          <p>负责人：{{item.creater}}</p>
          <p style="float:right;color:#1e1e1e;font-weight:bold;font-size:70%;">汇总数量：{{item.amount_total}}</p>
          <p>供应商 ：{{item.supplier}}</p>
          <p style="float:right">汇总金额 :{{item.product_count}}</p>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite2($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-template>

    <ng-template [ngSwitchCase]='3'>
          <ion-grid>
        <ion-row>
          <ion-col col-6>
            <div>
              <ion-input [(ngModel)]="searchName" placeholder="输入订单编号" style="margin-left:20px;;"></ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div><button (click)='searchClick3()' style="height:40px;font-size:15px;font-weight:bold;background-color:white">搜索</button></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-refresher (ionRefresh)="doRefresh3($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item *ngFor='let item of incomingOrder' tappable (click)='orderDetail(item.id)'>
          <p style="font-size:100%;float:right;color:#fc6621;">采购确认</p>
          <h2>{{item.name}}</h2>
          <h4>{{item.order_line}}</h4>
          <p>负责人：{{item.creater}}</p>
          <p style="float:right;color:#1e1e1e;font-weight:bold;font-size:70%;">汇总数量：{{item.amount_total}}</p>
          <p>供应商 ：{{item.supplier}}</p>
          <p style="float:right">汇总金额 :{{item.product_count}}</p>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite3($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-template>

    <ng-template [ngSwitchCase]='4'>
          <ion-grid>
        <ion-row>
          <ion-col col-6>
            <div>
              <ion-input [(ngModel)]="returnOrderSearchName" placeholder="输入订单编号" style="margin-left:20px;;"></ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div><button (click)='returnOrderSearchClick()' style="height:40px;font-size:15px;font-weight:bold;background-color:white">搜索</button></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-refresher (ionRefresh)="doRefresh4($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item *ngFor='let item of returnOrder' tappable (click)='returnOrderDetail(item.id)'>
          <p style="font-size:100%;float:right;color:#fc6621;">退货单</p>
          <h2>{{item.name}}</h2>
          <h4>{{item.order_line}}</h4>
          <p>退货日期：{{item.date}}</p>
          <p style="float:right;color:#1e1e1e;font-weight:bold;font-size:70%;">退货金额：{{item.amount_total}}</p>
          <p>供应商 ：{{item.supplier}}</p>
          <p>退货原因 :{{item.remark}}</p>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll immediate-check="false" (ionInfinite)="doInfinite4($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-template>
  </div>
</ion-content>
