<ion-header>
  <ion-navbar color="gongdan-color" no-border-bottom>
    <ion-title>
      订单
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button tappable (click)='clickOne()' value="1">MRP
      </ion-segment-button>
      <ion-segment-button tappable (click)='clickTwo()' value="2">
        询价单
      </ion-segment-button>
      <ion-segment-button tappable (click)='clickThree()' value="3">
        采购订单
      </ion-segment-button>
      <ion-segment-button tappable (click)='clickFour()' value="4">
        采购退货
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pet">

    <ng-template [ngSwitchCase]='1'>

      <ion-auto-complete style="width: 100vw;" (itemSelected)="itemSelected($event)" [dataProvider]="orderAuto"></ion-auto-complete>

      <ion-refresher (ionRefresh)="doRefresh1($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item *ngFor='let item of orderMRP' tappable (click)='orderDetail(item.id)'>
          <div style="overflow:hidden">
            <p text-wrap class="rightStateFont">{{changeState(item.state)}}</p>
            <meter value={{item.shipping_rate}} max="100" class="progress_x"></meter>
            <!-- <progress value={{item.shipping_rate}} max="100" class="progress_x"></progress> -->
            <h2 text-wrap>{{item.name}}</h2>
          </div>

          <div style="overflow:hidden">
            <p style="float:right">{{changeDuizhang(item.invoice_status)}}</p>
            <p>交货日期 : {{item.handle_date}}</p>
          </div>


          <div class="totalStyleRight" style="overflow:hidden">
            <p text-wrap text-right>汇总数量：{{item.amount_total}}</p>
            <p text-wrap text-right>汇总金额(元):{{toFix(item.product_count)}}</p>
          </div>
          <p text-wrap>负责人：{{item.creater}}</p>
          <p text-wrap style="width:180px">供应商 ：{{item.supplier}}</p>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite1($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ng-template>

    <ng-template [ngSwitchCase]='2'>
      <ion-auto-complete style="width: 100vw;" (itemSelected)="itemSelected($event)" [dataProvider]="orderAuto"></ion-auto-complete>

      <ion-refresher (ionRefresh)="doRefresh2($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item *ngFor='let item of priceOrder' tappable (click)='orderDetail(item.id)'>
          <div style="overflow:hidden">
            <p text-wrap class="rightStateFont">{{changeState(item.state)}}</p>
            <meter value={{item.shipping_rate}} max="100" class="progress_x"></meter>
            <!-- <progress value={{item.shipping_rate}} max="100" class="progress_x"></progress> -->
            <h2 text-wrap>{{item.name}}</h2>
          </div>

          <div style="overflow:hidden">
            <p style="float:right">{{changeDuizhang(item.invoice_status)}}</p>
            <p>交货日期 : {{item.handle_date}}</p>
          </div>


          <div class="totalStyleRight" style="overflow:hidden">
            <p text-wrap text-right>汇总数量：{{item.amount_total}}</p>
            <p text-wrap text-right>汇总金额(元):{{toFix(item.product_count)}}</p>
          </div>
          <p text-wrap>负责人：{{item.creater}}</p>
          <p text-wrap style="width:180px">供应商 ：{{item.supplier}}</p>
        </ion-item>
      </ion-list>

      <ion-infinite-scroll (ionInfinite)="doInfinite2($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-template>

    <ng-template [ngSwitchCase]='3'>
      <ion-auto-complete style="width: 100vw;" (itemSelected)="itemSelected($event)" [dataProvider]="orderAuto"></ion-auto-complete>
      <ion-item tappable (click)="to_approve_click()" style="border-bottom: 1px lightgray solid;">
        <p>待批准</p>
        <p item-end>{{to_approve_title}}</p>
      </ion-item>
      <ion-refresher (ionRefresh)="doRefresh3($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item *ngFor='let item of incomingOrder' tappable (click)='orderDetailShowNumber(item.id)'>
          <div style="overflow:hidden">
            <p text-wrap class="rightStateFont">{{changeState(item.state)}}</p>
            <meter value={{item.shipping_rate}} max="100" class="progress_x"></meter>
            <!-- <progress value={{item.shipping_rate}} max="100" class="progress_x"></progress> -->
            <h2 text-wrap>{{item.name}}</h2>
          </div>

          <div style="overflow:hidden">
            <p style="float:right">{{changeDuizhang(item.invoice_status)}}</p>
            <p>交货日期 : {{item.handle_date}}</p>
          </div>


          <div class="totalStyleRight" style="overflow:hidden">
            <p text-wrap text-right>汇总数量：{{item.amount_total}}</p>
            <p text-wrap text-right>汇总金额(元):{{toFix(item.product_count)}}</p>
          </div>
          <p text-wrap>负责人：{{item.creater}}</p>
          <p text-wrap style="width:180px">供应商 ：{{item.supplier}}</p>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="doInfinite3($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-template>

    <ng-template [ngSwitchCase]='4'>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <div>
              <ion-input [(ngModel)]="returnOrderSearchName" placeholder="输入订单编号" style="margin-left:20px;;"></ion-input>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <button (click)='returnOrderSearchClick()' class="searchFont">搜索</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-refresher (ionRefresh)="doRefresh4($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-list>
        <ion-item *ngFor='let item of returnOrder' tappable (click)='returnOrderDetail(item.id)'>
          <p text-wrap class="rightStateFont">退货单</p>
          <h2 text-wrap>{{item.name}}</h2>
          <h4 text-wrap>{{item.order_line}}</h4>
          <p text-wrap>退货日期：{{item.date}}</p>
          <p text-wrap class="totalStyleRight">退货金额：{{item.amount_total}}</p>
          <p text-wrap>供应商 ：{{item.supplier}}</p>
          <p text-wrap>退货原因 :{{item.remark}}</p>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll immediate-check="false" (ionInfinite)="doInfinite4($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-template>
  </div>
</ion-content>
