page-order {
  ion-item p {
    font-size: 75%;
  }
 
  .totalStyleRight {
    float: right;
    color: #1e1e1e;
    font-weight: bold;
    font-size: 70%;
  }

  .progress_x{
    float: right;
    width: 100px;
    height: 20px;
    margin-right: 20px;
  }
}
