page-gongdan {

    .myApply{
        background:url(img/gongdan/myApply.png) no-repeat center;
    }
    
    .row_class_ios{
        height:40px;
    }
    .row_class_android{
        height:100px;
    }
.main_grid_head_ios{
    width:100%; 
    background:#2597ec;
    height:70px;
    // position: fixed;
    // top:44px;
    // z-index: 1
}
.main_grid_head_android{
    width:100%; 
    background:#2597ec;
    height:97px;
}

    .test_one{
        color:white;
        width:60px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        opacity: 0.75;
    }
    .test_choose{
        color:white;
        width:60px;
        height: 40px;
        line-height: 40px;
        font-size:16px;
    }

    .head_grid_ios{
        height:40px;
        width:80%;
        margin-left:25px;
        // margin-top:-50px;
    }
    .head_grid_android{
        height:40px;
        width:80%;
        margin-left:25px;
    }



    .red-point-one:after{
        position: absolute;
        content: attr(data-attr);
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: red;
        margin-top:-40px;
        line-height: 20px;
        margin-left:-5px;
    }
    .red-point-two:after{
        position: absolute;
        content: attr(data-attr);
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: red;
        margin-top:-40px;
        line-height: 20px;
    }
    .red-point-three:after{
        position: absolute;
        content: attr(data-attr);
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: red;
        margin-top:-40px;
        line-height: 20px;
        margin-left:4px;
    }
    .red-point{
        top: 10px;
        right: 35%;
    }
    .header:after{
        background:none;
    }


    .small_rang{
        border-radius: 5px;
        width:10px;
        height: 10px;
        text-align: center;
        margin-left: 10px;
        margin-top: 5px;
    }

    .div_x{
        width: 100px;
        height: 25px;
        overflow: hidden;
        margin-top: 12px;
    }

    .div_span{
        float: right ;
        color: #8a9399;
        font-size: 110% ;
        
    }
    .div_span_number{
        float: right ;
        color: #2e3133;
        font-size: 120% ;
        margin-left: 10px;
        margin-top:2px
    }

    .sub_header{
        width:40px;
        margin-top:20px
    }
    .sub_header_p{
        color:white;
        margin-top:-2px;
        font-size:10px;
    }
    .priority_icon{
        width:14px;
        height:14px;
        margin-top:15px;
        margin-left:15px;
    }
    .data_list_state{
        float:right;
        margin-top:15px;
        margin-right:10px;
        color:#fba796;
        font-size:13px;
    }
    .data_list_desprition{
        margin-left:15px;
        margin-right:15px;
        color:gray;
        margin-top:2.5px
    }
    .create_ava{
        width:10px;
        height:10px;
        margin-top:5px;
        margin-left:15px;
    }
    .creater_name{
        font-size:12px;
        color:gray
    }
    .assign_name{
        float:right;
        margin-top:2px;
        margin-right:15px;
        font-size:12px;
        color:gray
    }
    .assign_ava{
        width:12px;
        height:12px;
        margin-top:5px;
        margin-right:8px;
        float:right
    }
    .creater_div{
        margin-bottom:10px;
        margin-top:-2px;
    }

    .item_group_class{
        background:#f0f2f5;
        margin-top:-10px;
        // position: absolute;
        // top:0px;
        // bottom: 0px;
        // width: 100%;
    }
    .biaoqian_div_unchoose{
       background-color:#f0f2f5;
       color:black;
       height: 44px;
       line-height: 44px;
       border-radius: 5px; 
    }
    .biaoqian_div_choose{
        background-color:#fba958;
       color:white;
       height: 44px;
       line-height: 44px;
       border-radius: 5px; 
    }

    .under_line_style{
        color:#5bc5f3;
        width:60px;
        height: 40px;
        line-height: 40px;
        border-bottom:#5bc5f3 3px solid;
    }

    .normal_style{
        width:60px;
        height: 40px;
        line-height: 40px;
        color:#c2c8cc
    }

    .title_class_style{
        font-size: 17px;
        width:70%;
        display: inline-block;
        white-space: nowrap;
        vertical-align: bottom;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.2;
    }


    .imgStyle{
        height: 25px;
        margin-top: 6px;
        margin-left: 9px;
    }
       
    .back_me{
        background: #0097ee;
        overflow: hidden;
        
    }
    .back_other{
        background:#f0f2f5
    }
}
