<!--
  Generated template for the GongdanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header no-border>

  <ion-navbar hideBackButton="true" color="gongdan-color">
    <!--<ion-buttons left>-->
      <!--<button ion-button icon-only (click)="goBack()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>-->
    <!--</ion-buttons>-->

    <div align="center" style="height:40px;margin-left:10px">
        <div style="width:33%;float:right;text-align:left" [ngClass]="{true:'test_choose',false:'test_one'}[show_type == 'tongji']" align="center" tappable (click)="click_tongji()">
        统计
        </div>
        <div style="width:33%;float:right" [ngClass]="{true:'test_choose',false:'test_one'}[show_type == 'gongdan']" align="center" tappable (click)="click_gongdan()">
        工单池
        </div>
        <div style="width:33%;float:left;text-align:right" [ngClass]="{true:'test_choose',false:'test_one'}[show_type == 'me']" align="center" tappable (click)="click_me()">
        我的
        </div> 
    </div>

    <!--<ion-grid [ngClass]="{true:'head_grid_android',false:'head_grid_ios'}[is_android]">
      <ion-row [ngClass]="{true:'row_class_android',false:'row_class_ios'}[is_android]" align-items-center>
        <ion-col tappable (click)="click_me()">
          <div align="center">
            <p [ngClass]="{true:'test_choose',false:'test_one'}[show_type == 'me']" >我的</p>
          </div>
        </ion-col>
        <ion-col tappable (click)="click_gongdan()">
          <div align="center">
            <p [ngClass]="{true:'test_choose',false:'test_one'}[show_type == 'gongdan']" >工单池</p>
          </div>
        </ion-col>

        <ion-col tappable (click)="click_tongji()">
          <div align="center">
            <p [ngClass]="{true:'test_choose',false:'test_one'}[show_type == 'tongji']" >统计</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>-->
    <ion-buttons style="margin-right:11px" end>
      <button ion-button icon-only (click)="search_gongdan()">
        <img style="width:20px" src="assets/img/work_bench/search_icon.png" />
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content [ngClass]="{true:'back_me',false:'back_other'}[show_type == 'me']">
  <div style="height:40px;overflow: hidden;background:white;" *ngIf="show_type == 'gongdan'">
      
      <img src= "assets/img/gongdan/rili.png" height="18px" width="18px" style="margin-left:10px;margin-top:11px;float:left">
      <p style="float:left;margin-left:10px;line-height:14px;color:gray">
        <span tappable (click)="chooseStartDate_gongdan()">{{startDate_gongdan + " - "}}</span><span tappable (click)="chooseEndDate_gongdan()">{{endDate_gongdan}}</span>   
      </p>
      <img src= "assets/img/work_bench/shaixuan.png" height="18px" width="18px" style="margin-right:10px;margin-top:11px;float:right" tappable (click)="clickMenu()">
      <p tappable (click)="clickMenu()" style="float:right;margin-top:10px;color:gray;margin-right:5px;border-left:#f0f2f5 1px solid;width:40px;text-align:right">筛选</p>
    </div>
  <div *ngIf="show_type == 'gongdan'" style="margin-top:-1px">
    <ion-item align="center" no-lines style="margin-top:10px;height:40px;min-height:40px;border-bottom:#f0f2f5 1px solid;width:101%;margin-left:-2px;margin-right:-4px;">

  <ion-grid style="background-color:white;">
      <!--<ion-row [ngClass]="{true:'row_class_android',false:'row_class_ios'}[is_android]" align-items-center>
        <ion-col tappable>
          <div align="center" tappable (click)="unacceptClick()">
            <img class="sub_header" src="assets/img/work_bench/wait_shouli.png">
            <br>
            <p class="sub_header_p"></p>
          </div>
        </ion-col>
        <ion-col tappable >
          <div align="center" tappable (click)="processClick()">
            <img class="sub_header" src="assets/img/work_bench/shouli_ing.png">
            <br>
            <p class="sub_header_p"></p>
          </div>
        </ion-col>
        <ion-col tappable >
          <div align="center" tappable (click)="unassignClick()">
            <img class="sub_header" src="assets/img/work_bench/wait_yanshou.png">
            <br>
            <p class="sub_header_p"></p>
          </div>
        </ion-col>
      </ion-row>-->


      <ion-row class="row_class" align-items-center>
        <ion-col tappable (click) = "click_all()">
        <div align="center" >
          <p [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'all']">全部</p> 
        </div>
      </ion-col>
      <ion-col tappable (click) = "click_one()">
         <div align="center" >
          <p [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'first']">{{unacceptTitle}}</p>
        </div>
      </ion-col>
      <ion-col tappable (click) = "click_two()">
        <div align="center">
          <p [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'second']">{{processTitle}}</p>
        </div>
      </ion-col>
      <ion-col tappable (click) = "click_three()">
        <div align="center" >
          <p [ngClass]="{true:'under_line_style',false:'normal_style'}[inner_type == 'third']">{{unassignTitle}}</p> 
        </div>
      </ion-col>
      
      </ion-row>
    </ion-grid>
    </ion-item>
</div>

  <div *ngIf="show_type == 'gongdan'">
    
    <ion-item-group no-lines class="item_group_class" >
      <div *ngFor="let item of dataList" style="margin-top:10px;background-color:white" tappable (click)="gongdanDetail(item)">
        <div>
          <img *ngIf="item.priority == 3" src="assets/img/work_bench/up_one.png" class="priority_icon">
          <img *ngIf="item.priority == 2" src="assets/img/work_bench/up_two.png" class="priority_icon">
          <img *ngIf="item.priority == 1" src="assets/img/work_bench/up_three.png" class="priority_icon">
          <span class="title_class_style">
            {{item.title}}
          </span>
          <span p class="data_list_state">
            {{changeState(item.issue_state)}}
          </span>
        </div>
        <P text-wrap class="data_list_desprition">
          {{item.description}}
        </P>
        <ion-grid *ngIf="item.work_order_images" style="margin-top:-20px;margin-left:5px">
          <ion-row style="margin-right:5px;">
            <ion-col style="height:80px" *ngFor="let image of item.work_order_images" col-3>
              <img src={{image}} style="position:absolute;clip:rect(0px,70px,70px,0px);background-color:#f0f2f5" imageViewer/>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="creater_div">
          <img src={{item.create_user.user_ava}} class="create_ava">
          <span p class="creater_name">
            {{item.create_user.name + " " + (changeDate(item.create_time) | date:'MM-dd HH:mm')}}
          </span>
          <div style="margin-right:10px;float:right;margin-top:2px">
            <img style="width:15px;" src="assets/img/work_bench/feedback.png" />
            <p style="font-size:14px;color:darkgray;float:right;margin-top:0px;margin-left:5px">{{item.comment_count}}</p>
          </div>
          <span *ngIf="item.assign_user.name" class="assign_name">
            {{"受理人： "+ item.assign_user.name}}
          </span>
          <span *ngIf="!item.assign_user.name" class="assign_name">
            未指派受理人
          </span>
          <!--<img *ngIf="item.assign_user.name" src="assets/img/work_bench/lianjie.png" class="assign_ava">-->
        </div>
        <div style="height:1px;background:white">
        </div>
      </div>
    </ion-item-group>

  </div>
  <div  *ngIf="show_type == 'me'">
    <ion-fab style="margin-bottom:90px;position:fixed" bottom right edge>
    <button (click)="createGongdan()" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
    <div style="width:100%;height:139px;padding:15px;text-align:center;background:#0097ee">
      <!-- <canvas 
     style="background:#ffffff;height:80px;width:100%;position:absolute;top:0px;left:0px;z-index:1;" id="canvas"> -->
      <div style="text-align:center; border-radius: 5px;background:white;margin-top:-37px;height:100%">
        <div style="position:relative;width:70px;margin:0 auto;margin-top:30px" taggable (click)="searchAtMe()">
          <img style="margin-top:16px ;width:50px " src="assets/img/gongdan/huifu.png">
          <div style="margin-top:1px">我的消息</div>
          <span *ngIf="searchAtMeNumber"   style="position:absolute;
          width:20px;height:20px;border-radius:10px;background-color:red;
          display:inline-block;color:white;line-height:20px;right:-6px;top:11px;text-align:center;font-size:12px">{{searchAtMeNumber}}</span>
        </div>
      </div>
    </div>
    <div >
    <!--<ion-list style="background-color:white;">-->
      <div style="height:10px;background:white">

      </div>

      <button ion-item (click)="mySubmitList()" >
        <ion-avatar item-start>
          <img src="assets/img/gongdan/myApply.png" class="imgStyle"  style=" border-radius: 0px;    width: 29px;
          height: 29px; ">
        </ion-avatar>
        <ion-label>我提交的</ion-label>
      </button>

      <button ion-item (click)="myProcessList()">
        <ion-avatar item-start>
          <img src="assets/img/gongdan/shouli.png" class="imgStyle"   style=" border-radius: 0px;     width: 29px;
          height: 29px;">
        </ion-avatar>
        <ion-label>我受理中的
          <span style="float:right;color:#bbc3cc"> {{processNumber}}</span>
        </ion-label>
      </button>

      <button ion-item (click)="waitOtherAssign()">
        <ion-avatar item-start>
          <img src="assets/img/gongdan/daiyanshou.png" class="imgStyle"  style=" border-radius: 0px;    width: 29px;
          height: 29px; ">
        </ion-avatar>
        <ion-label>待他人验收的
          <span style="float:right;color:#bbc3cc"> {{unassignNumber}}</span>
        </ion-label>
      </button>

      <button ion-item (click)="myFinished()">
        <ion-avatar item-start>
          <img src="assets/img/gongdan/yiwancheng.png" class="imgStyle" style=" border-radius: 0px;    width: 29px;
          height: 29px; ">
        </ion-avatar>
        <ion-label>我已完成的</ion-label>
      </button>

      <button ion-item (click)="myReply()">
        <ion-avatar item-start>
          <img src="assets/img/gongdan/huifu.png" class="imgStyle" style=" border-radius: 0px;     width: 29px;
          height: 29px;">
        </ion-avatar>
        <ion-label>我回复过的</ion-label>
      </button>

      <button ion-item (click)="myAssigned()" no-border-bottom>
        <ion-avatar item-start>
          <img src="assets/img/gongdan/zhipai.png" class="imgStyle" style=" border-radius: 0px;    width: 29px;
          height: 29px; ">
        </ion-avatar>

        <ion-label>我指派过的

        </ion-label>
      </button>
      <div style="background:#f0f2f5;width:100%;height:200px">
      </div>
    <!--</ion-list>-->
    </div>

  </div>
  <div *ngIf="show_type == 'tongji'" style="background:#f0f2f5">
    <div style="height:40px;overflow: hidden;background:white;padding-top:8px">
     
      <img src= "assets/img/gongdan/rili.png"  width="18px" style="margin-left:10px;">
      <span style="margin-left:10px;width:60px" tappable (click)="chooseStartDate()">
          {{startDate}} 
      </span>
        -
      <span tappable (click)="chooseEndDate()" tappable style="width:60px">
        {{endDate}}
      </span>

      <span style="width:100px;text-align:right;margin-right:20px;margin-left:70px">
        发布总数:{{total_number}}
      </span>

    </div>
  
    <div style="background:#ffffff;height:157px;margin-top:10px">
        <div style="background:#ffffff;height:1px"  ></div>
      <div style="float:right; margin-right:60px">
        <canvas id="rings" style="width:100px;height:100px;margin-top:23px"></canvas>
      </div>
      <div>
        <div class="div_x" (click)="processTongjiWithTime()" >
          <span class="div_span_number"> {{processTongji}}</span>
          <span class="div_span">受理中</span>
          <div class="small_rang" style="background:#1897f2 "> </div>
        </div>
        <div class="div_x"  (click)="unacceptTongjiWithTime()">
          <span class="div_span_number"> {{unacceptTongji}}</span>
          <span class="div_span">未受理</span>
          <div class="small_rang" style="background:#faa619 "> </div>
        </div>

        <div class="div_x"  (click)="checkTongjiWithTime()">
          <span>
            <span class="div_span_number"> {{checkTongji}}</span>
            <span class="div_span">待验收</span>
            <div class="small_rang" style="background:#fce63a "> </div>
          </span>
        </div>
        <div class="div_x"  (click)="doneTongjiWithTime()">
          <span class="div_span_number"> {{doneTongji}}</span>
          <span class="div_span">已完成</span>
          <div class="small_rang" style="background:#c3e369 "> </div>
        </div>
      </div>
    </div>

    <button ion-item (click)="more48Hour()" style="margin-top:10px" no-lines>
      <ion-avatar item-start>
        <img src="assets/img/gongdan/tixing.png" style="padding:10px">
      </ion-avatar>
      <ion-label no-lines>超过48小时未受理
        <span style="float:right"> {{more_48_number}}</span>
      </ion-label>
    </button>

  </div>
</ion-content>

<!--
<ion-footer style="background:#f0f2f5" *ngIf="show_type == 'me'"  no-border>
  <button ion-button tappable style='width:70%;margin-left:15%'   round (click)="createGongdan()">
    新建工单
  </button>
</ion-footer>-->
