page-gongdan {

    .myApply{
        background:url(img/gongdan/myApply.png) no-repeat center;
    }
    
    .row_class{
        height:40px;
    }
    .test_one{
        color:white;
        width:60px;
        height: 45px;
        line-height: 50px;
        font-size: 14px;
    }
    .test_choose{
        color:white;
        width:60px;
        height: 45px;
        line-height: 50px;
        font-size:16px;
    }

    .head_grid{
        height:40px;
        margin-top:-50px;
        width:80%;
        margin-left:25px;
    }



    .red-point-one:after{
        position: absolute;
        content: attr(data-attr);
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: red;
        margin-top:-40px;
        line-height: 20px;
        margin-left:-5px;
    }
    .red-point-two:after{
        position: absolute;
        content: attr(data-attr);
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: red;
        margin-top:-40px;
        line-height: 20px;
    }
    .red-point-three:after{
        position: absolute;
        content: attr(data-attr);
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: red;
        margin-top:-40px;
        line-height: 20px;
        margin-left:4px;
    }
    .red-point{
        top: 10px;
        right: 35%;
    }
    .header:after{
        background:none;
    }


    .small_rang{
        border-radius: 5px;
        width:10px;
        height: 10px;
        text-align: center
      
    }

    .div_x{
        width: 100px;
        height: 20px;
        overflow: hidden;
    }

    .div_span{
        float: right ;
    }
}
