page-popmodal {
    .custom-modal {
        // transparent black background overlay
        background-color: rgba(0, 0, 0, 0.87) !important;
        transition: opacity .25s ease-in-out;
        padding: 20vh 10vw;
        .scroll-content{
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }

    .alert_div_fail{
        height: 300px;
        width: 270px;
        background:url("./../assets/img/fail_background.png");
        position: absolute;
        z-index: 999;
        left: calc(50% - 135px);
        top: calc(50% - 170px);
        background-size: 100% 100%;
        text-align: center;
    }
    .alert_btn_fail{
        color: lightgray;
        font-size: 15px;
        height: 50px;
        width: 100%;
        position: absolute;
        bottom: 0px;
        line-height: 55px;
    }



}
